.asc-advanced-settings-window .x-window-body,
.asc-advanced-settings-window .x-form-item,
.asc-advanced-settings-window .x-form-field {
    font-size: 11px !important;
}

.advanced-settings-separator {
    background: repeat-y left top url('../img/imgage-settings-advanced-separator.png');
    background-image: -webkit-image-set(url("../img/imgage-settings-advanced-separator.png") 1x, url("../img/imgage-settings-advanced-separator@2x.png") 2x);
}

.image-advanced-container.x-item-disabled .x-mask{
    opacity: 0;
}

/* settings for charts */
.btn-chart-types {
    background-color: #ffffff;
}

.btn-chart-types .x-btn-icon {
    height: 50px;
    width: 50px;
}

.btn-chart-types.x-btn-default-small,
.btn-chart-types.x-btn-default-small-pressed
{
    /*background-image: url(../../../../common/main/resources/img/controls/text-bg.gif);*/
    background-image: none;
}

.btn-chart-types button {
    width: 50px !important;
    border: 1px solid rgba(172, 172, 172, 0.5);
}

.chart-subtype {
    background-image: url(../img/charttypes.png);
    background-image: -webkit-image-set(url("../img/charttypes.png") 1x, url("../img/charttypes@2x.png") 2x) !important;
    width: 50px;
    height: 50px;
}

.line-stack {
    background-position: -50px 0;
}

.line-pstack {
    background-position: -100px 0;
}

.column-normal {
    background-position: 0 -50px;
}

.column-stack{
    background-position: -50px -50px;
}

.column-pstack{
    background-position: -100px -50px;
}

.bar-normal {
    background-position: 0 -100px;
}

.bar-stack{
    background-position: -50px -100px;
}

.bar-pstack{
    background-position: -100px -100px;
}

.area-normal {
    background-position: 0 -150px;
}

.area-stack{
    background-position: -50px -150px;
}

.area-pstack{
    background-position: -100px -150px;
}

.pie-normal {
    background-position: 0 -200px;
}

.point-normal{
    background-position: -50px -200px;
}

.stock-normal{
    background-position: -100px -200px;
}
/**/

.advanced-btn-ratio {
    background-image: url('../img/button_ratio.png');
    background-image: -webkit-image-set(url("../img/button_ratio.png") 1x, url("../img/button_ratio@2x.png") 2x);
    background-position: -2px -2px;
}
.x-btn-over .advanced-btn-ratio    {background-position: -22px  -2px;}
.x-btn-pressed .advanced-btn-ratio {background-position: -42px  -2px;}
.x-btn-menu-active .advanced-btn-ratio {background-position: -42px  -2px;}
.x-btn-disabled .advanced-btn-ratio {background-position: -62px  -2px;}
.x-btn-disabled .advanced-btn-ratio {background-position: -62px  -2px;}
