.sse-file-createnew {
    padding: 20px;
}

.sse-file-createnew hr {
    margin: 0;
    border-bottom: none;
    border-color: #e1e1e1;
}

.sse-file-createnew h3 {
    font: 10pt arial, tahoma, verdana, sans-serif;
    font-weight: bold;
    color: #606060;
    padding: 0 0 10px 10px;
}

.blank-document {
}

.btn-blank-document {
    float: left;
    margin: 25px 15px 65px 20px;
    background: url(../img/file-templates.png) 0 0 no-repeat;
    background-image: -webkit-image-set(url("../img/file-templates.png") 1x, url("../img/file-templates@2x.png") 2x);
    width: 128px;
    height: 128px;
    cursor: pointer;
}

.btn-blank-document.over {
    background-position: -128px 0;
}

.blank-document-info {
    float: left;
    width: 450px;
}

.blank-document-info h3 {
    padding-left: 0;
    padding-top: 40px;
}

.container-template-list .thumb-wrap {
    display: inline-block;
    float: left;
    text-align: center;
    width: auto;
    padding: 30px 20px;
    cursor: pointer;
}

.container-template-list .thumb-wrap .thumb {
    width: 128px;
    height: 128px;
    background: url(../img/file-templates.png) 0 0 no-repeat;
    background-image: -webkit-image-set(url("../img/file-templates.png") 1x, url("../img/file-templates@2x.png") 2x);
}

.container-template-list .thumb-wrap .title {
    padding-top: 20px;
}

.container-template-list .thumb-wrap .thumb.contract {
    background-position: 0 -128px;
}
.container-template-list .thumb-wrap.x-item-over .thumb.contract {
    background-position: -128px -128px;
}

.container-template-list .thumb-wrap .thumb.letter {
     background-position: 0 -256px;
 }
.container-template-list .thumb-wrap.x-item-over .thumb.letter {
    background-position: -128px -256px;
}

.container-template-list .thumb-wrap .thumb.list {
    background-position: 0 -384px;
}
.container-template-list .thumb-wrap.x-item-over .thumb.list {
    background-position: -128px -384px;
}

.container-template-list .thumb-wrap .thumb.plan {
    background-position: 0 -512px;
}
.container-template-list .thumb-wrap.x-item-over .thumb.plan {
    background-position: -128px -512px;
}