.sse-recentfiles {
    padding: 20px;
}

.container-recent-file-list .thumb-wrap {
    /*display: inline-block;*/
    /*float: left;*/
    height: 65px;
    padding: 10px;
    cursor: pointer;
}

.container-recent-file-list .thumb-wrap.x-item-over {
    background-color: #f1f1f1;
}

.container-recent-file-list .thumb-wrap .thumb {
    float: left;
    width: 35px;
    height: 45px;
    margin-right: 10px;
    background: url("../img/file-recent.png") 0 0 no-repeat;
    background-image: -webkit-image-set(url("../img/file-recent.png") 1x, url("../img/file-recent@2x.png") 2x);
}

.container-recent-file-list .thumb-wrap .file-name {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.container-recent-file-list .thumb-wrap .file-info {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
}