.lm-style .x-toolbar-default,
.lm-style .x-panel-default,
.lm-style .x-toolbar {
    /*background-image: none;*/
    border-top: 1px solid #c8c8c8 !important;
    border-right: 1px solid #c8c8c8 !important;
    border-bottom: none !important;
    padding-left: 0;
	 filter: none;
	 background-image: none !important;
	 
    background-color: #e9e9e9 !important;
}

.rm-style .x-toolbar-default,
.rm-style .x-toolbar {
    border-top: 1px solid #c8c8c8 !important;
    border-left: 1px solid #c8c8c8 !important;
    border-bottom: none !important;
    padding-left: 0;
    filter: none;
    background-image: none !important;

    background-color: #e9e9e9 !important;
}

.lm-body,
.rm-body {
    border: none !important;
}

/*.x-btn-lm-over {
    border: navy;
    background-image: none;
    border-color: #ffffff !important;
}

.x-btn-lm-pressed  {
    border-color: #ffffff !important;
    background-image: none;
    background-color: #d3d3d3 !important;
    -moz-box-shadow     : none !important;
	-webkit-box-shadow  : none !important;
	box-shadow          : none !important;
}*/

.lm-default-toolbar .x-btn-default-toolbar-small,
.rm-default-toolbar .x-btn-default-toolbar-small {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}
/*.lm-default-toolbar button {
    width: 36px !important;
    height: 25px !important;
}*/

.menuFile, .menuSearch, .menuChat, .menuComments, .menuAbout,
.menuImage, .menuShape, .menuSlide, .menuChart, .menuText {
    background-image: url("../img/toolbar-menu.png");
    background-image: -webkit-image-set(url("../img/toolbar-menu.png") 1x, url("../img/toolbar-menu@2x.png") 2x);
    margin: auto !important;
}

/*menuFile*/
.menuFile                       {    background-position: 0 -1248px;}
.x-btn-over .menuFile           {    background-position: -24px -1248px;}
.x-btn-pressed .menuFile,
.x-btn-menu-active .menuFile    {    background-position: -48px -1248px;}
.x-btn-disabled .menuFile       {    background-position: -72px -1248px;}

/*menuSearch*/
.menuSearch                     {    background-position: 0 -1272px;}
.x-btn-over .menuSearch         {    background-position: -24px -1272px;}
.x-btn-pressed .menuSearch,
.x-btn-menu-active .menuSearch  {    background-position: -48px -1272px;}
.x-btn-disabled .menuSearch     {    background-position: -72px -1272px;}

/*menuChat*/
.menuChat                       {    background-position: 0 -1200px;}
.x-btn-over .menuChat           {    background-position: -24px -1200px;}
.x-btn-pressed .menuChat,
.x-btn-menu-active .menuChat    {    background-position: -48px -1200px;}
.x-btn-disabled .menuChat       {    background-position: -72px -1200px;}

/*menuComments*/
.menuComments                   {    background-position: 0 -1296px;}
.x-btn-over .menuComments       {    background-position: -24px -1296px;}
.x-btn-pressed .menuComments,
.x-btn-menu-active .menuComments{    background-position: -48px -1296px;}
.x-btn-disabled .menuComments   {    background-position: -72px -1296px;}

/*menuChat*/
.menuAbout                   {    background-position: 0 -1613px;}
.x-btn-over .menuAbout       {    background-position: -24px -1613px;}
.x-btn-pressed .menuAbout,
.x-btn-menu-active .menuAbout{    background-position: -48px -1613px;}
.x-btn-disabled .menuAbout   {    background-position: -72px -1613px;}

/*menuImage*/
.menuImage                       {    background-position: 0 -1344px;}
.x-btn-over .menuImage           {    background-position: -24px -1344px;}
.x-btn-pressed .menuImage,
.x-btn-menu-active .menuImage    {    background-position: -48px -1344px;}
.x-btn-disabled .menuImage       {    background-position: -72px -1344px;}

/*menuShape*/
.menuShape                       {    background-position: 0 -1320px;}
.x-btn-over .menuShape           {    background-position: -24px -1320px;}
.x-btn-pressed .menuShape,
.x-btn-menu-active .menuShape    {    background-position: -48px -1320px;}
.x-btn-disabled .menuShape       {    background-position: -72px -1320px;}

/*menuChart*/
.menuChart                       {    background-position: 0 -1368px;}
.x-btn-over .menuChart           {    background-position: -24px -1368px;}
.x-btn-pressed .menuChart,
.x-btn-menu-active .menuChart    {    background-position: -48px -1368px;}
.x-btn-disabled .menuChart       {    background-position: -72px -1368px;}

/*menuText*/
.menuText                       {    background-position: 0 -1392px;}
.x-btn-over .menuText           {    background-position: -24px -1392px;}
.x-btn-pressed .menuText,
.x-btn-menu-active .menuText    {    background-position: -48px -1392px;}
.x-btn-disabled .menuText       {    background-position: -72px -1392px;}

.notify .asc-main-menu-btn                  {    background-position: 0  -1224px;}
.notify.x-btn-over .asc-main-menu-btn       {    background-position: -24px -1224px;}
.notify.x-btn-pressed .asc-main-menu-btn,
.notify.x-btn-menu-active .asc-main-menu-btn{    background-position: -48px -1224px;}

.left-arrow {
    background: url(../img/left_arrow.png) right no-repeat !important;
    background-image: -webkit-image-set(url("../img/left_arrow.png") 1x, url("../img/left_arrow@2x.png") 2x) !important;
}
