.asc-right-panel-container {
    background-color:#F4F4F4;
}

.asc-right-panel-container.x-item-disabled{
    opacity: 0.5;
}

.btn-icon-change-shape {
    background-image: url('../img/right-panels/rowscols_icon.png')  !important;
    background-image: -webkit-image-set(url("../img/right-panels/rowscols_icon.png") 1x, url("../img/right-panels/rowscols_icon@2x.png") 2x)  !important;
    width: 28px !important;
    margin-left: 3px;
    margin-top: 2px;
}

.btn-icon-change-shape                    {background-position: 0      -16px;}
.x-btn-over .btn-icon-change-shape        {background-position: -28px  -16px;}
.x-btn-pressed .btn-icon-change-shape     {background-position: -56px  -16px;}

.x-btn.asc-right-panel-edit-btn {
    padding: 0 !important;
}

.x-btn-default-small-icon.asc-right-panel-edit-btn button {
    width: 31px !important;
}

.asc-right-tabpanel .x-panel-header {
    padding: 0 4px 0 0;
}

.asc-right-tabpanel-small-btn {
    height: 25px;
    width: 26px;
}

.asc-right-tabpanel-small-btn button {
    width: 24px !important;
}

.asc-right-tabpanel-small-btn.x-btn-default-small {
    background: none repeat scroll 0 0 transparent !important;
    border-color: transparent  !important;
    padding: 0;
    border-radius: 0;
    border-shadow: none;
}

.asc-right-tabpanel-small-btn.x-btn-default-small-pressed,
.asc-right-tabpanel-small-btn.x-btn-default-small-menu-active {
    background: none repeat scroll 0 0 #f5f5f5 !important;
    border-color: transparent  !important;
}

.texture-view .storage-data-view .thumb-wrap,
.arrow-view .storage-data-view .thumb-wrap {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 0;
    padding: 1px;
}

.texture-view .storage-data-view .thumb-wrap {
    height: 54px;
}

.texture-view .storage-data-view .x-item-over,
.arrow-view .storage-data-view .x-item-over {
    border:2px solid #9dba6f;
    padding: 0;
}

.texture-view .storage-data-view .x-item-selected,
.arrow-view .storage-data-view .x-item-selected {
    border:2px solid #9dba6f;
    padding: 0;
}

.texture-img-container {
    border: 1px solid #AFAFAF;
    border-radius: 2px;
    background: #ffffff;
    padding: 14px 20px;
}

.btn-combo-style
{
    background: url("../img/controls/text-bg.gif") repeat-x scroll 0 0 white !important;
    background-image: -webkit-image-set(url("../img/controls/text-bg.gif") 1x, url("../img/controls/text-bg@2x.png") 2x) !important;
    height: 22px;
    padding: 1px;
}

.btn-combo-style em {
    background-image : url("../img/controls/trigger-btn.png");
    background-image: -webkit-image-set(url("../img/controls/trigger-btn.png") 1x, url("../img/controls/trigger-btn@2x.png") 2x);
}

.btn-combo-style.x-btn-menu-active.x-btn-over em {
    background-image : url("../img/controls/trigger-btn.png");
    background-image: -webkit-image-set(url("../img/controls/trigger-btn.png") 1x, url("../img/controls/trigger-btn@2x.png") 2x);
}

.btn-combo-style.x-item-disabled em {
    background-image : url("../img/controls/trigger-btn-inactive.png");
    background-image: -webkit-image-set(url("../img/controls/trigger-btn-inactive.png") 1x, url("../img/controls/trigger-btn-inactive@2x.png") 2x);
}

.btn-combo-style.x-btn-default-small button,
.btn-combo-style.x-btn-default-small button span
{
    height: 18px !important;
    line-height: 18px !important;
}

.asc-advanced-link {
    border-bottom: 1px solid #aaa;
    color: #000;
    cursor: pointer;
}

.asc-right-panel.x-item-disabled{
    opacity: 0.5;
}

.asc-right-panel.x-item-disabled .x-item-disabled,
.asc-right-panel .x-item-disabled .x-item-disabled {
    opacity: 1;
}

.asc-right-panel.x-item-disabled .x-mask{
    opacity: 0;
}

.asc-right-panel.x-item-disabled a{
    color: #929292;
}

.asc-right-panel .asc-slider .x-slider-focus {
    top: -10px;
}

/* settings for wrap */
.wrap-view .thumb-wrap {
    margin-right: 4px;
}

.btn-wrap-types {
    background-color: #ffffff !important;
}

.btn-wrap-types .x-btn-icon {
    height: 50px;
    width: 50px;
}

.btn-wrap-types.x-btn-default-small,
.btn-wrap-types.x-btn-default-small-pressed
{
    background-image: none;
}

.btn-wrap-types button {
    width: 52px !important;
    height: 52px !important;
    border: 1px solid rgba(172, 172, 172, 0.5);
}

/* Chart menu*/
.chart-data-view {
    padding: 10px 10px 14px 12px;
}

.chart-data-view .asc-grouped-data {
    padding: 2px 2px 2px 12px;
}

.chart-data-view .asc-grouped-data:first-child {
    margin-top: 10px;
}

.chart-data-view .asc-grouped-data .group-description {
    width: 125px;
}

.chart-data-view .asc-grouped-data .group-items-container{
    width: 202px;
    float: left;
    position: relative;
}

.chart-data-view .asc-grouped-data-selector:last-child {
    height: 6px;
}

.gradient-view .thumb-wrap {
    margin-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 54px;
}

.gradient-view .gradient-separator {
    background-color: white;
    display: inline-block;
    float: left;
    margin: 6px;
    width: 50px;
    height: 50px;
}

.gradient-view .item-gradient,
.gradient-subtype {
    background-image: url(../img/right-panels/gradients.png) !important;
    background-image: -webkit-image-set(url("../img/right-panels/gradients.png") 1x, url("../img/right-panels/gradients@2x.png") 2x) !important;
    width: 50px;
    height: 50px;
}

.gradient-left-top {
    background-position: 0 0;
}

.gradient-top {
    background-position: -50px 0;
}

.gradient-right-top {
    background-position: -100px 0;
}

.gradient-left {
    background-position: 0 -50px;
}

.gradient-right {
    background-position: -100px -50px;
}

.gradient-left-bottom {
    background-position: 0 -100px;
}

.gradient-bottom {
    background-position: -50px -100px;
}

.gradient-right-bottom {
    background-position: -100px -100px;
}

.gradient-radial-center {
    background-position: -100px -150px;
}

.shape-pattern.storage-combodataview .emptyText {
    padding-top: 7px;
}

.shape-pattern.storage-combodataview .thumb-wrap {
    margin-right: 1px !important;
}

.safari-7 .shape-pattern.storage-combodataview .thumb-wrap {
    margin-right: 0px !important;
}

.shape-pattern .item-combo-pattern,
.storage-data-view .item-combo-pattern {
    background-image: url(../img/right-panels/patterns.png) !important;
    background-image: -webkit-image-set(url("../img/right-panels/patterns.png") 1x, url("../img/right-panels/patterns@2x.png") 2x) !important;
    width: 28px;
    height: 28px;
}