.x-btn-default-toolbar-small-pressed, .x-btn-default-toolbar-small-menu-active{
    background: url(../img/controls/button/toolbar-button-bg.gif) repeat-x !important;
    background-image: -webkit-image-set(url("../img/controls/button/toolbar-button-bg.gif") 1x, url("../img/controls/button/toolbar-button-bg@2x.gif") 2x) !important;
	background-clip: border-box;
    background-origin:  border-box !important;
    -moz-background-origin: border !important;
}

.x-btn-default-toolbar-small-disabled {
    background: none repeat scroll 0 0 transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.x-btn-over .x-btn-split-right, .x-btn-pressed .x-btn-split-right {
    background: url(../img/controls/button/s-arrow-d.png) no-repeat scroll right center transparent;
    background-image: -webkit-image-set(url("../img/controls/button/s-arrow-d.png") 1x, url("../img/controls/button/s-arrow-d@2x.png") 2x);
}


.x-boundlist-selected {
    background: none repeat scroll 0 0 #d0e5b1;
    border-color: #9dba6f;
}

.x-boundlist-item-over, .x-boundlist-selected .x-boundlist-item-over, .x-nlg .x-menu-item-active .x-menu-item-link, .x-menu-item-active .x-menu-item-link{ /*excolor*/
    background: #a1bc5d; /* Old browsers */
    background: -moz-linear-gradient(top,  #a1bc5d 0%, #7b9046 110%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1bc5d), color-stop(100%,#7b9046)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a1bc5d 0%,#7b9046 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a1bc5d 0%,#7b9046 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a1bc5d 0%,#7b9046 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a1bc5d 0%,#7b9046 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1bc5d', endColorstr='#7b9046',GradientType=0 ); /* IE6-9 */

    border: 1px solid transparent;
    border-top-color:#a1bc5d;
    border-bottom-color:#7b9046;
    color: #FFFFFF;

    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	
}
 .x-grid-row-selected .x-grid-cell {
  background-color: #d0e5b1 !important;
    border-color: #9dba6f;
    border-style: dotted;
}
.x-nlg .x-grid-row-selected .x-grid-cell-special, .x-grid-row-selected .x-grid-cell-special{
  background-color: #d0e5b1 !important;
  background-image: none;
    border-color: #9dba6f;
    border-style: dotted;
}


.x-grid-row .x-grid-cell-special{
  background-image: none;
    
}


.x-nlg .x-menu-item-active .x-menu-item-link, .x-menu-item-active .x-menu-item-link{
    border-radius: inherit;
    -o-border-radius: inherit;
    -moz-border-radius: inherit;
}

.x-btn-default-small-pressed{
    background: url(../img/controls/button/toolbar-button-bg.gif) repeat-x top  !important;
	background-image: -webkit-image-set(url("../img/controls/button/toolbar-button-bg.gif") 1x, url("../img/controls/button/toolbar-button-bg@2x.gif") 2x) !important;
    background-clip: border-box;
    background-origin:  border-box !important;
    -moz-background-origin: border !important;
}
	
.asc-blue-button.x-btn-default-small{
    background:url(../img/controls/button/normal-blue-button-bg.gif) repeat-x top;
	background-image: -webkit-image-set(url("../img/controls/button/normal-blue-button-bg.gif") 1x, url("../img/controls/button/normal-blue-button-bg@2x.gif") 2x) !important;
    border-top: 1px solid #96b152;
    border-bottom: 1px solid #677b33;
	background-clip: border-box;
    background-origin:  border-box !important;
    -moz-background-origin: border !important;
}

.asc-blue-button.x-btn-default-small-over{
    background-position: 0 -150px;
}

.asc-blue-button.x-btn-default-small-pressed{
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	
    background-position: 0 -300px;
}

.storage-data-view .x-item-over {
    border: 2px solid #92aa56;
    padding: 0;
}
.storage-data-view .x-item-selected {
    border: 2px solid #92aa56;
    padding: 0;
}

.group-item.x-item-selected {
    border:2px solid #a4bf60 !important;
}

.group-item.group-item-over {
    border:2px solid #a4bf60 !important;
}

.storage-data-view .x-item-over {
    border: 2px solid #7b9046 !important;
    padding: 0;
}
.storage-data-view .x-item-selected {
    border: 2px solid #7b9046 !important;
    padding: 0;
}

.storage-combodataview .x-item-selected,
.x-dataview-combo-menu .storage-data-view .x-item-selected {
    background: #92aa56 !important;
}