.de-documentstatusinfo {
    background: #e4e4e4; /* Old browsers */
    background: -moz-linear-gradient(top,  #e4e4e4 0%, #e4e4e4 3%, #d9d9d9 4%, #ababab 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(3%,#e4e4e4), color-stop(4%,#d9d9d9), color-stop(100%,#ababab)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e4e4e4 0%,#e4e4e4 3%,#d9d9d9 4%,#ababab 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e4e4e4 0%,#e4e4e4 3%,#d9d9d9 4%,#ababab 100%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#ababab',GradientType=0 ); /* IE6-9 */
    background: -ms-linear-gradient(top,  #e4e4e4 0%,#e4e4e4 3%,#d9d9d9 4%,#ababab 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e4e4e4 0%,#e4e4e4 3%,#d9d9d9 4%,#ababab 100%); /* W3C */


    border:0;
    border-top: 1px solid #afafaf;
}

.statusinfo-pages, .statusinfo-caption {
    font: bold 11px Helvetica, Arial, Verdana, sans-serif;
    color: #666666;
    text-shadow: #d3d3d3 0 1px 0;
    white-space: nowrap;
}

.de-documentstatusinfo .x-btn-default-small{
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    background: transparent;
    filter: none;
    box-shadow: none;
    -moz-box-shadow: none;
}


.de-documentstatusinfo .x-btn-default-small-pressed{
    border: 1px solid rgba(0, 0, 0, 0.2)!important;
}
.de-documentstatusinfo .asc-statusbar-icon-btn button {
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
}

.de-documentstatusinfo .asc-btn-zoom.x-btn-default-small-pressed {
    border: 1px solid rgba(0, 0, 0, 0)!important;
    background: none !important;
    box-shadow: none !important;
}

.de-documentstatusinfo .x-btn-default-small-icon .asc-statusbar-btn{
    width: 20px !important;
    height: 20px !important;
}

.de-documentstatusinfo .asc-statusbar-text-btn button {
    width: auto !important;
}

.de-documentstatusinfo .asc-statusbar-text-btn span.x-btn-inner {
    font-weight: bold;
    font-size: 11px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #666666 !important;
    text-shadow: #d3d3d3 0 1px 0;
}

.de-documentstatusinfo .asc-statusbar-text-btn.x-btn-default-small-pressed{
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    background: transparent !important;
    box-shadow: none;
    -moz-box-shadow: none;
}

.de-documentstatusinfo .asc-lang-flag {
    background-image: url('../img/toolbar-menu.png');
    background-image: -webkit-image-set(url("../img/toolbar-menu.png") 1x, url("../img/toolbar-menu@2x.png") 2x);
    background-repeat: no-repeat;
    background-position: -64px -1548px;
    width: 16px;
    height: 12px;
    margin-top: 2px;
}

/* languages */

.ca .asc-lang-flag,
.ca-ES .asc-lang-flag                     {background-position: 0           -1499px;}
.cs .asc-lang-flag,
.cs-CZ .asc-lang-flag                     {background-position: -16px       -1500px;}
.da .asc-lang-flag,
.da-DK .asc-lang-flag                     {background-position: -32px       -1500px;}
.de .asc-lang-flag,
.de-DE .asc-lang-flag                     {background-position: -48px       -1500px;}
.el .asc-lang-flag,
.el-GR .asc-lang-flag                     {background-position: -64px       -1499px;}
.en .asc-lang-flag,
.en-US .asc-lang-flag                     {background-position: -80px       -1500px;}
.fr .asc-lang-flag,
.fr-FR .asc-lang-flag                     {background-position: 0           -1512px;}
.hu .asc-lang-flag,
.hu-HU .asc-lang-flag                     {background-position: -16px      -1512px;}
.it .asc-lang-flag,
.it-IT .asc-lang-flag                     {background-position: -32px      -1512px;}
.ko .asc-lang-flag,
.ko-KR .asc-lang-flag                     {background-position: -48px      -1512px;}
.nl .asc-lang-flag,
.nl-NL .asc-lang-flag                     {background-position: -64px      -1512px;}
.nb .asc-lang-flag,
.nb-NO .asc-lang-flag                     {background-position: -80px      -1512px;}
.pl .asc-lang-flag,
.pl-PL .asc-lang-flag                     {background-position: 0           -1524px;}
.pt .asc-lang-flag,
.pt-BR .asc-lang-flag                     {background-position: -16px      -1524px;}
.ro .asc-lang-flag,
.ro-RO .asc-lang-flag                     {background-position: -32px      -1524px;}
.ru .asc-lang-flag,
.ru-RU .asc-lang-flag                     {background-position: -48px      -1524px;}
.sk .asc-lang-flag,
.sk-SK .asc-lang-flag                     {background-position: -64px      -1524px;}
.sv .asc-lang-flag,
.sv-SE .asc-lang-flag                     {background-position: -80px      -1524px;}
.tr .asc-lang-flag,
.tr-TR .asc-lang-flag                     {background-position: 0           -1536px;}
.uk .asc-lang-flag,
.uk-UA .asc-lang-flag                     {background-position: -16px      -1536px;}
.lv .asc-lang-flag,
.lv-LV .asc-lang-flag                     {background-position: -32px      -1536px;}
.lt .asc-lang-flag,
.lt-LT .asc-lang-flag                     {background-position: -48px      -1536px;}
.vi .asc-lang-flag,
.vi-VN .asc-lang-flag                     {background-position: -64px      -1536px;}
.de-CH .asc-lang-flag                     {background-position: -80px      -1536px;}
.nn .asc-lang-flag,
.nn-NO .asc-lang-flag                     {background-position: 0           -1548px;}
.pt-PT .asc-lang-flag                     {background-position: -16px      -1548px;}
.de-AT .asc-lang-flag                     {background-position: -32px      -1548px;}
.es .asc-lang-flag,
.es-ES .asc-lang-flag                     {background-position: -48px      -1548px;}

.de-documentstatusinfo-menu-inner{
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    -khtml-border-radius:5px;
}

.status-zoom-menu .x-menu-item-link{
    padding: 6px 2px 3px 6px;
}

.status-zoom-menu .x-menu-item{
    text-align: center;
}

/* icons */

.asc-statusbar-btn,
.de-icon-statusinfo-users {
    background-image: url('../img/toolbar-menu.png');
    background-image: -webkit-image-set(url("../img/toolbar-menu.png") 1x, url("../img/toolbar-menu@2x.png") 2x);
}

/* fittopage */
.btn-fittopage                      {background-position: 0      -1120px;}
.x-btn-over .btn-fittopage          {background-position: -20px  -1120px;}
.x-btn-pressed .btn-fittopage       {background-position: -40px  -1120px;}
.x-btn-menu-active .btn-fittopage   {background-position: -40px  -1120px;}
.x-btn-disabled .btn-fittopage      {background-position: -60px  -1120px;}

/* fittowidth */
.btn-fittowidth                     {background-position: 0      -1100px;}
.x-btn-over .btn-fittowidth         {background-position: -20px  -1100px;}
.x-btn-pressed .btn-fittowidth      {background-position: -40px  -1100px;}
.x-btn-menu-active .btn-fittowidth  {background-position: -40px  -1100px;}
.x-btn-disabled .btn-fittowidth     {background-position: -60px  -1100px;}

/* zoomin */
.btn-zoomin                         {background-position: 0      -1140px;}
.x-btn-over .btn-zoomin             {background-position: -20px  -1140px;}
.x-btn-pressed .btn-zoomin          {background-position: -40px  -1140px;}
.x-btn-menu-active .btn-zoomin      {background-position: -40px  -1140px;}
.x-btn-disabled .btn-zoomin         {background-position: -60px  -1140px;}

/* zoomout */
.btn-zoomout                        {background-position: 0      -1160px;}
.x-btn-over .btn-zoomout            {background-position: -20px  -1160px;}
.x-btn-pressed .btn-zoomout         {background-position: -40px  -1160px;}
.x-btn-menu-active .btn-zoomout     {background-position: -40px  -1160px;}
.x-btn-disabled .btn-zoomout        {background-position: -60px  -1160px;}

/* hide lines */
.btn-hidelines                        {background-position: 0      -1180px;}
.x-btn-over .btn-hidelines            {background-position: -20px  -1180px;}
.x-btn-pressed .btn-hidelines         {background-position: -40px  -1180px;}
.x-btn-menu-active .btn-hidelines     {background-position: -40px  -1180px;}
.x-btn-disabled .btn-hidelines        {background-position: -60px  -1180px;}

/* doc-lang */
.btn-doc-lang                        {background-position: 0      -1585px;}
.x-btn-over .btn-doc-lang            {background-position: -20px  -1585px;}
.x-btn-pressed .btn-doc-lang         {background-position: -40px  -1585px;}
.x-btn-menu-active .btn-doc-lang     {background-position: -40px  -1585px;}
.x-btn-disabled .btn-doc-lang        {background-position: -60px  -1585px;}


.de-icon-statusinfo-users.x-btn-icon {
    background-position: 0      -1220px;
}
