.de-documentholder {
    background-color: #EAEAEB;
}

.username-tip {
    background-color: #ee3525;
    border: none;
    border-radius: 0;
    padding: 2px 10px;
    color: #ffffff;
    font-family: arial;
    font-size: 11px;
}

/*menu image/chart wrapping */
.toolbar-menu-icon-item .x-menu-item-link {
    padding: 6px 11px 3px 36px !important;
}

.toolbar-menu-icon-item:last-child .x-menu-item-link {
    padding-bottom: 8px !important;
}

.mnu-icon-item {
    width: 22px;
    height: 22px;
    margin-top: 0 !important;
    margin-left: 5px;
}

.x-menu-item-icon.mnu-img-align-left,
.x-menu-item-icon.mnu-img-align-center,
.x-menu-item-icon.mnu-img-align-right,
.x-menu-item-icon.mnu-align-top,
.x-menu-item-icon.mnu-align-middle,
.x-menu-item-icon.mnu-align-bottom,
.x-menu-item-icon.mnu-arrange-front,
.x-menu-item-icon.mnu-arrange-back,
.x-menu-item-icon.mnu-arrange-forward,
.x-menu-item-icon.mnu-arrange-backward,
.x-menu-item-icon.mnu-arrange-group,
.x-menu-item-icon.mnu-arrange-ungroup,
.x-menu-item-icon.mnu-wrap-inline,
.x-menu-item-icon.mnu-wrap-square,
.x-menu-item-icon.mnu-wrap-tight,
.x-menu-item-icon.mnu-wrap-through,
.x-menu-item-icon.mnu-wrap-topAndBottom,
.x-menu-item-icon.mnu-wrap-inFront,
.x-menu-item-icon.mnu-wrap-behind {
    background-image: url('../img/popupmenu-btns.png');
    background-image: -webkit-image-set(url("../img/popupmenu-btns.png") 1x, url("../img/popupmenu-btns@2x.png") 2x);
}

/* left */
.x-menu-item-icon.mnu-img-align-left                        {background-position: 0      -286px;}
.x-menu-item-checked .x-menu-item-icon.mnu-img-align-left   {background-position: -44px  -286px;}
.x-menu-item-active .x-menu-item-icon.mnu-img-align-left    {background-position: -22px  -286px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-img-align-left    {background-position: -66px  -286px;}

/* center */
.x-menu-item-icon.mnu-img-align-center                        {background-position: 0      -308px;}
.x-menu-item-checked .x-menu-item-icon.mnu-img-align-center   {background-position: -44px  -308px;}
.x-menu-item-active .x-menu-item-icon.mnu-img-align-center    {background-position: -22px  -308px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-img-align-center    {background-position: -66px  -308px;}

/* right */
.x-menu-item-icon.mnu-img-align-right                        {background-position: 0      -330px;}
.x-menu-item-checked .x-menu-item-icon.mnu-img-align-right   {background-position: -44px  -330px;}
.x-menu-item-active .x-menu-item-icon.mnu-img-align-right    {background-position: -22px  -330px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-img-align-right    {background-position: -66px  -330px;}

/* top */
.x-menu-item-icon.mnu-align-top                        {background-position: 0      -352px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-top   {background-position: -44px  -352px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-top    {background-position: -22px  -352px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-align-top    {background-position: -66px  -352px;}

/* middle */
.x-menu-item-icon.mnu-align-middle                        {background-position: 0      -374px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-middle   {background-position: -44px  -374px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-middle    {background-position: -22px  -374px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-align-middle    {background-position: -66px  -374px;}

/* bottom */
.x-menu-item-icon.mnu-align-bottom                        {background-position: 0      -396px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-bottom   {background-position: -44px  -396px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-bottom    {background-position: -22px  -396px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-align-bottom    {background-position: -66px  -396px;}

/* front */
.x-menu-item-icon.mnu-arrange-front                        {background-position: 0      -154px;}
.x-menu-item-checked .x-menu-item-icon.mnu-arrange-front   {background-position: -44px  -154px;}
.x-menu-item-active .x-menu-item-icon.mnu-arrange-front    {background-position: -22px  -154px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-arrange-front    {background-position: -66px  -154px;}

/* back */
.x-menu-item-icon.mnu-arrange-back                        {background-position: 0      -176px;}
.x-menu-item-checked .x-menu-item-icon.mnu-arrange-back   {background-position: -44px  -176px;}
.x-menu-item-active .x-menu-item-icon.mnu-arrange-back    {background-position: -22px  -176px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-arrange-back    {background-position: -66px  -176px;}

/* forward */
.x-menu-item-icon.mnu-arrange-forward                        {background-position: 0      -198px;}
.x-menu-item-checked .x-menu-item-icon.mnu-arrange-forward   {background-position: -44px  -198px;}
.x-menu-item-active .x-menu-item-icon.mnu-arrange-forward    {background-position: -22px  -198px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-arrange-forward    {background-position: -66px  -198px;}

/* backward */
.x-menu-item-icon.mnu-arrange-backward                        {background-position: 0      -220px;}
.x-menu-item-checked .x-menu-item-icon.mnu-arrange-backward   {background-position: -44px  -220px;}
.x-menu-item-active .x-menu-item-icon.mnu-arrange-backward    {background-position: -22px  -220px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-arrange-backward    {background-position: -66px  -220px;}

/* group */
.x-menu-item-icon.mnu-arrange-group                        {background-position: 0      -242px;}
.x-menu-item-checked .x-menu-item-icon.mnu-arrange-group   {background-position: -44px  -242px;}
.x-menu-item-active .x-menu-item-icon.mnu-arrange-group    {background-position: -22px  -242px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-arrange-group    {background-position: -66px  -242px;}

/* ungroup */
.x-menu-item-icon.mnu-arrange-ungroup                        {background-position: 0      -264px;}
.x-menu-item-checked .x-menu-item-icon.mnu-arrange-ungroup   {background-position: -44px  -264px;}
.x-menu-item-active .x-menu-item-icon.mnu-arrange-ungroup    {background-position: -22px  -264px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-arrange-ungroup    {background-position: -66px  -264px;}

/* inline */
.x-menu-item-icon.mnu-wrap-inline                        {background-position: 0      0;}
.x-menu-item-checked .x-menu-item-icon.mnu-wrap-inline   {background-position: -44px  0;}
.x-menu-item-active .x-menu-item-icon.mnu-wrap-inline    {background-position: -22px  0;}
.x-menu-item-disabled .x-menu-item-icon.mnu-wrap-inline    {background-position: -66px  0;}

/* square */
.x-menu-item-icon.mnu-wrap-square                        {background-position: 0      -22px;}
.x-menu-item-checked .x-menu-item-icon.mnu-wrap-square   {background-position: -44px  -22px;}
.x-menu-item-active .x-menu-item-icon.mnu-wrap-square    {background-position: -22px  -22px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-wrap-square    {background-position: -66px  -22px;}

/* tight */
.x-menu-item-icon.mnu-wrap-tight                        {background-position: 0      -44px;}
.x-menu-item-checked .x-menu-item-icon.mnu-wrap-tight   {background-position: -44px  -44px;}
.x-menu-item-active .x-menu-item-icon.mnu-wrap-tight    {background-position: -22px  -44px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-wrap-tight    {background-position: -66px  -44px;}

/* through */
.x-menu-item-icon.mnu-wrap-through                        {background-position: 0      -66px;}
.x-menu-item-checked .x-menu-item-icon.mnu-wrap-through   {background-position: -44px  -66px;}
.x-menu-item-active .x-menu-item-icon.mnu-wrap-through    {background-position: -22px  -66px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-wrap-through    {background-position: -66px  -66px;}

/* topAndBottom */
.x-menu-item-icon.mnu-wrap-topAndBottom                        {background-position: 0      -88px;}
.x-menu-item-checked .x-menu-item-icon.mnu-wrap-topAndBottom   {background-position: -44px  -88px;}
.x-menu-item-active .x-menu-item-icon.mnu-wrap-topAndBottom    {background-position: -22px  -88px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-wrap-topAndBottom    {background-position: -66px  -88px;}

/* inFront */
.x-menu-item-icon.mnu-wrap-inFront                        {background-position: 0      -110px;}
.x-menu-item-checked .x-menu-item-icon.mnu-wrap-inFront   {background-position: -44px  -110px;}
.x-menu-item-active .x-menu-item-icon.mnu-wrap-inFront    {background-position: -22px  -110px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-wrap-inFront    {background-position: -66px  -110px;}

/* behind */
.x-menu-item-icon.mnu-wrap-behind                        {background-position: 0      -132px;}
.x-menu-item-checked .x-menu-item-icon.mnu-wrap-behind   {background-position: -44px  -132px;}
.x-menu-item-active .x-menu-item-icon.mnu-wrap-behind    {background-position: -22px  -132px;}
.x-menu-item-disabled .x-menu-item-icon.mnu-wrap-behind    {background-position: -66px  -132px;}

.no-icon-wrap-item {
    border-radius: 0 !important;
}

.no-icon-wrap-item a {
    padding: 6px 15px 3px;
}

/* safari 7.0 */
.safari-7 body {
    overflow: auto !important;
}