
.asc-toolbar-btn {
    background-image: url('../img/toolbar-menu.png');
	background-image: -webkit-image-set(url("../img/toolbar-menu.png") 1x, url("../img/toolbar-menu@2x.png") 2x);
}

/* back */
.btn-back                           {background-position: 0      -80px;}
.x-btn-over .btn-back               {background-position: -20px  -80px;}
.x-btn-pressed .btn-back            {background-position: -40px  -80px;}
.x-btn-menu-active .btn-back        {background-position: -40px  -80px;}
.x-btn-disabled .btn-back           {background-position: -60px  -80px;}

/* print */
.btn-print                          {background-position: 0      -540px;}
.x-btn-over .btn-print              {background-position: -20px  -540px;}
.x-btn-pressed .btn-print           {background-position: -40px  -540px;}
.x-btn-menu-active .btn-print       {background-position: -40px  -540px;}
.x-btn-disabled .btn-print          {background-position: -60px  -540px;}

/* save */
.btn-save                           {background-position: 0      -580px;}
.x-btn-over .btn-save               {background-position: -20px  -580px;}
.x-btn-pressed .btn-save            {background-position: -40px  -580px;}
.x-btn-menu-active .btn-save        {background-position: -40px  -580px;}
.x-btn-disabled .btn-save           {background-position: -60px  -580px;}

/* synch */
.btn-synch                           {background-position: 0      -840px;}
.x-btn-over .btn-synch               {background-position: -20px  -840px;}
.x-btn-pressed .btn-synch            {background-position: -40px  -840px;}
.x-btn-menu-active .btn-synch        {background-position: -40px  -840px;}
.x-btn-disabled .btn-synch           {background-position: -60px  -840px;}

/* copystyle */
.btn-copystyle                      {background-position: 0      -200px;}
.x-btn-over .btn-copystyle          {background-position: -20px  -200px;}
.x-btn-pressed .btn-copystyle       {background-position: -40px  -200px;}
.x-btn-menu-active .btn-copystyle   {background-position: -40px  -200px;}
.x-btn-disabled .btn-copystyle      {background-position: -60px  -200px;}

/* clearstyle */
.btn-clearstyle                     {background-position: 0      -140px;}
.x-btn-over .btn-clearstyle         {background-position: -20px  -140px;}
.x-btn-pressed .btn-clearstyle      {background-position: -40px  -140px;}
.x-btn-menu-active .btn-clearstyle  {background-position: -40px  -140px;}
.x-btn-disabled .btn-clearstyle     {background-position: -60px  -140px;}

/* savestyle */
.btn-savestyle                      {background-position: 0      -600px;}
.x-btn-over .btn-savestyle          {background-position: -20px  -600px;}
.x-btn-pressed .btn-savestyle       {background-position: -40px  -600px;}
.x-btn-menu-active .btn-savestyle   {background-position: -40px  -600px;}
.x-btn-disabled .btn-savestyle      {background-position: -60px  -600px;}

/* align-left */
.btn-align-left                     {background-position: 0      -40px;}
.x-btn-over .btn-align-left         {background-position: -20px  -40px;}
.x-btn-pressed .btn-align-left      {background-position: -40px  -40px;}
.x-btn-menu-active .btn-align-left  {background-position: -40px  -40px;}
.x-btn-disabled .btn-align-left     {background-position: -60px  -40px;}

/* align-center */
.btn-align-center                   {background-position: 0      0;}
.x-btn-over .btn-align-center       {background-position: -20px  0;}
.x-btn-pressed .btn-align-center    {background-position: -40px  0;}
.x-btn-menu-active .btn-align-center{background-position: -40px  0;}
.x-btn-disabled .btn-align-center   {background-position: -60px  0;}

/* align-right */
.btn-align-right                    {background-position: 0      -60px;}
.x-btn-over .btn-align-right        {background-position: -20px  -60px;}
.x-btn-pressed .btn-align-right     {background-position: -40px  -60px;}
.x-btn-menu-active .btn-align-right {background-position: -40px  -60px;}
.x-btn-disabled .btn-align-right    {background-position: -60px  -60px;}

/* align-just */
.btn-align-just                     {background-position: 0      -20px;}
.x-btn-over .btn-align-just         {background-position: -20px  -20px;}
.x-btn-pressed .btn-align-just      {background-position: -40px  -20px;}
.x-btn-menu-active .btn-align-just  {background-position: -40px  -20px;}
.x-btn-disabled .btn-align-just     {background-position: -60px  -20px;}

/* copy */
.btn-copy                           {background-position: 0      -180px;}
.x-btn-over .btn-copy               {background-position: -20px  -180px;}
.x-btn-pressed .btn-copy            {background-position: -40px  -180px;}
.x-btn-menu-active .btn-copy        {background-position: -40px  -180px;}
.x-btn-disabled .btn-copy           {background-position: -60px  -180px;}

/* paste */
.btn-paste                          {background-position: 0      -520px;}
.x-btn-over .btn-paste              {background-position: -20px  -520px;}
.x-btn-pressed .btn-paste           {background-position: -40px  -520px;}
.x-btn-menu-active .btn-paste       {background-position: -40px  -520px;}
.x-btn-disabled .btn-paste          {background-position: -60px  -520px;}

/* undo */
.btn-undo                           {background-position: 0      -720px;}
.x-btn-over .btn-undo               {background-position: -20px  -720px;}
.x-btn-pressed .btn-undo            {background-position: -40px  -720px;}
.x-btn-menu-active .btn-undo        {background-position: -40px  -720px;}
.x-btn-disabled .btn-undo           {background-position: -60px  -720px;}

/* redo */
.btn-redo                           {background-position: 0      -560px;}
.x-btn-over .btn-redo               {background-position: -20px  -560px;}
.x-btn-pressed .btn-redo            {background-position: -40px  -560px;}
.x-btn-menu-active .btn-redo        {background-position: -40px  -560px;}
.x-btn-disabled .btn-redo           {background-position: -60px  -560px;}

/* bold */
.btn-bold                           {background-position: 0      -100px;}
.x-btn-over .btn-bold               {background-position: -20px  -100px;}
.x-btn-pressed .btn-bold            {background-position: -40px  -100px;}
.x-btn-menu-active .btn-bold        {background-position: -40px  -100px;}
.x-btn-disabled .btn-bold           {background-position: -60px  -100px;}

/* italic */
.btn-italic                         {background-position: 0      -380px;}
.x-btn-over .btn-italic             {background-position: -20px  -380px;}
.x-btn-pressed .btn-italic          {background-position: -40px  -380px;}
.x-btn-menu-active .btn-italic      {background-position: -40px  -380px;}
.x-btn-disabled .btn-italic         {background-position: -60px  -380px;}

/* underline */
.btn-underline                      {background-position: 0      -700px;}
.x-btn-over .btn-underline          {background-position: -20px  -700px;}
.x-btn-pressed .btn-underline       {background-position: -40px  -700px;}
.x-btn-menu-active .btn-underline   {background-position: -40px  -700px;}
.x-btn-disabled .btn-underline      {background-position: -60px  -700px;}

/* strike */
.btn-strike                         {background-position: 0      -640px;}
.x-btn-over .btn-strike             {background-position: -20px  -640px;}
.x-btn-pressed .btn-strike          {background-position: -40px  -640px;}
.x-btn-menu-active .btn-strike      {background-position: -40px  -640px;}
.x-btn-disabled .btn-strike         {background-position: -60px  -640px;}

/* superscript */
.btn-superscript                    {background-position: 0      -680px;}
.x-btn-over .btn-superscript        {background-position: -20px  -680px;}
.x-btn-pressed .btn-superscript     {background-position: -40px  -680px;}
.x-btn-menu-active .btn-superscript {background-position: -40px  -680px;}
.x-btn-disabled .btn-superscript    {background-position: -60px  -680px;}

/* subscript */
.btn-subscript                      {background-position: 0      -660px;}
.x-btn-over .btn-subscript          {background-position: -20px  -660px;}
.x-btn-pressed .btn-subscript       {background-position: -40px  -660px;}
.x-btn-menu-active .btn-subscript   {background-position: -40px  -660px;}
.x-btn-disabled .btn-subscript      {background-position: -60px  -660px;}

/* incfont */
.btn-incfont                        {background-position: 0      -320px;}
.x-btn-over .btn-incfont            {background-position: -20px  -320px;}
.x-btn-pressed .btn-incfont         {background-position: -40px  -320px;}
.x-btn-menu-active .btn-incfont     {background-position: -40px  -320px;}
.x-btn-disabled .btn-incfont        {background-position: -60px  -320px;}

/* decfont */
.btn-decfont                        {background-position: 0      -240px;}
.x-btn-over .btn-decfont            {background-position: -20px  -240px;}
.x-btn-pressed .btn-decfont         {background-position: -40px  -240px;}
.x-btn-menu-active .btn-decfont     {background-position: -40px  -240px;}
.x-btn-disabled .btn-decfont        {background-position: -60px  -240px;}

/* numbering */
.btn-numbering                      {background-position: 0      -460px;}
.x-btn-over .btn-numbering          {background-position: -20px  -460px;}
.x-btn-pressed .btn-numbering       {background-position: -40px  -460px;}
.x-btn-menu-active .btn-numbering   {background-position: -40px  -460px;}
.x-btn-disabled .btn-numbering      {background-position: -60px  -460px;}

/* setmarkers */
.btn-setmarkers                     {background-position: 0      -420px;}
.x-btn-over .btn-setmarkers         {background-position: -20px  -420px;}
.x-btn-pressed .btn-setmarkers      {background-position: -40px  -420px;}
.x-btn-menu-active .btn-setmarkers  {background-position: -40px  -420px;}
.x-btn-disabled .btn-setmarkers     {background-position: -60px  -420px;}

/* multilevels */
.btn-multilevels                    {background-position: 0      -440px;}
.x-btn-over .btn-multilevels        {background-position: -20px  -440px;}
.x-btn-pressed .btn-multilevels     {background-position: -40px  -440px;}
.x-btn-menu-active .btn-multilevels {background-position: -40px  -440px;}
.x-btn-disabled .btn-multilevels    {background-position: -60px  -440px;}

/* decoffset */
.btn-decoffset                      {background-position: 0      -220px;}
.x-btn-over .btn-decoffset          {background-position: -20px  -220px;}
.x-btn-pressed .btn-decoffset       {background-position: -40px  -220px;}
.x-btn-menu-active .btn-decoffset   {background-position: -40px  -220px;}
.x-btn-disabled .btn-decoffset      {background-position: -60px  -220px;}

/* incoffset */
.btn-incoffset                      {background-position: 0      -300px;}
.x-btn-over .btn-incoffset          {background-position: -20px  -300px;}
.x-btn-pressed .btn-incoffset       {background-position: -40px  -300px;}
.x-btn-menu-active .btn-incoffset   {background-position: -40px  -300px;}
.x-btn-disabled .btn-incoffset      {background-position: -60px  -300px;}

/* hidenchars */
.btn-hidenchars                     {background-position: 0      -740px;}
.x-btn-over .btn-hidenchars         {background-position: -20px  -740px;}
.x-btn-pressed .btn-hidenchars      {background-position: -40px  -740px;}
.x-btn-menu-active .btn-hidenchars  {background-position: -40px  -740px;}
.x-btn-disabled .btn-hidenchars     {background-position: -60px  -740px;}

/* linespace */
.btn-linespace                      {background-position: 0      -400px;}
.x-btn-over .btn-linespace          {background-position: -20px  -400px;}
.x-btn-pressed .btn-linespace       {background-position: -40px  -400px;}
.x-btn-menu-active .btn-linespace   {background-position: -40px  -400px;}
.x-btn-disabled .btn-linespace      {background-position: -60px  -400px;}

/* fillparag */
.btn-fillparag                      {background-position: 0      -260px;}
.x-btn-over .btn-fillparag          {background-position: -20px  -260px;}
.x-btn-pressed .btn-fillparag       {background-position: -40px  -260px;}
.x-btn-menu-active .btn-fillparag   {background-position: -40px  -260px;}
.x-btn-disabled .btn-fillparag      {background-position: -60px  -260px;}

/* inserttable */
.btn-inserttable                    {background-position: 0      -360px;}
.x-btn-over .btn-inserttable        {background-position: -20px  -360px;}
.x-btn-pressed .btn-inserttable     {background-position: -40px  -360px;}
.x-btn-menu-active .btn-inserttable {background-position: -40px  -360px;}
.x-btn-disabled .btn-inserttable    {background-position: -60px  -360px;}

/* insertimage */
.btn-insertimage                    {background-position: 0      -340px;}
.x-btn-over .btn-insertimage        {background-position: -20px  -340px;}
.x-btn-pressed .btn-insertimage     {background-position: -40px  -340px;}
.x-btn-menu-active .btn-insertimage {background-position: -40px  -340px;}
.x-btn-disabled .btn-insertimage    {background-position: -60px  -340px;}

/* pagebreak */
.btn-pagebreak                      {background-position: 0      -120px;}
.x-btn-over .btn-pagebreak          {background-position: -20px  -120px;}
.x-btn-pressed .btn-pagebreak       {background-position: -40px  -120px;}
.x-btn-menu-active .btn-pagebreak   {background-position: -40px  -120px;}
.x-btn-disabled .btn-pagebreak      {background-position: -60px  -120px;}

/* insertpagenum */
.btn-insertpagenum                   {background-position: 0      -160px;}
.x-btn-over .btn-insertpagenum       {background-position: -20px  -160px;}
.x-btn-pressed .btn-insertpagenum    {background-position: -40px  -160px;}
.x-btn-menu-active .btn-insertpagenum{background-position: -40px  -160px;}
.x-btn-disabled .btn-insertpagenum   {background-position: -60px  -160px;}

/* selectcolor */
.btn-selectcolor                    {background-position: 0      -620px;}
.x-btn-over .btn-selectcolor        {background-position: -20px  -620px;}
.x-btn-pressed .btn-selectcolor     {background-position: -40px  -620px;}
.x-btn-menu-active .btn-selectcolor {background-position: -40px  -620px;}
.x-btn-disabled .btn-selectcolor    {background-position: -60px  -620px;}

/* fontcolor */
.btn-fontcolor                      {background-position: 0      -280px;}
.x-btn-over .btn-fontcolor          {background-position: -20px  -280px;}
.x-btn-pressed .btn-fontcolor       {background-position: -40px  -280px;}
.x-btn-menu-active .btn-fontcolor   {background-position: -40px  -280px;}
.x-btn-disabled .btn-fontcolor      {background-position: -60px  -280px;}

/* pageorient */
.btn-pageorient                     {background-position: 0      -480px;}
.x-btn-over .btn-pageorient         {background-position: -20px  -480px;}
.x-btn-pressed .btn-pageorient      {background-position: -40px  -480px;}
.x-btn-menu-active .btn-pageorient  {background-position: -40px  -480px;}
.x-btn-disabled .btn-pageorient     {background-position: -60px  -480px;}

/* pagesize */
.btn-pagesize                       {background-position: 0      -500px;}
.x-btn-over .btn-pagesize           {background-position: -20px  -500px;}
.x-btn-pressed .btn-pagesize        {background-position: -40px  -500px;}
.x-btn-menu-active .btn-pagesize    {background-position: -40px  -500px;}
.x-btn-disabled .btn-pagesize       {background-position: -60px  -500px;}

/* insert hyperlink */
.btn-inserthyperlink                       {background-position: 0      -760px;}
.x-btn-over .btn-inserthyperlink           {background-position: -20px  -760px;}
.x-btn-pressed .btn-inserthyperlink        {background-position: -40px  -760px;}
.x-btn-menu-active .btn-inserthyperlink    {background-position: -40px  -760px;}
.x-btn-disabled .btn-inserthyperlink       {background-position: -60px  -760px;}

/* editheader */
.btn-editheader                       {background-position: 0      -780px;}
.x-btn-over .btn-editheader           {background-position: -20px  -780px;}
.x-btn-pressed .btn-editheader        {background-position: -40px  -780px;}
.x-btn-menu-active .btn-editheader    {background-position: -40px  -780px;}
.x-btn-disabled .btn-editheader       {background-position: -60px  -780px;}

/* new document */
.btn-newdocument                     {background-position: 0      -800px;}
.x-btn-over .btn-newdocument         {background-position: -20px  -800px;}
.x-btn-pressed .btn-newdocument      {background-position: -40px  -800px;}
.x-btn-menu-active .btn-newdocument  {background-position: -40px  -800px;}
.x-btn-disabled .btn-newdocument     {background-position: -60px  -800px;}

/* open document */
.btn-opendocument                      {background-position: 0      -820px;}
.x-btn-over .btn-opendocument          {background-position: -20px  -820px;}
.x-btn-pressed .btn-opendocument       {background-position: -40px  -820px;}
.x-btn-menu-active .btn-opendocument   {background-position: -40px  -820px;}
.x-btn-disabled .btn-opendocument      {background-position: -60px  -820px;}

/* insert autoshape */
.btn-insertshape                        {background-position: 0      -860px;}
.x-btn-over .btn-insertshape            {background-position: -20px  -860px;}
.x-btn-pressed .btn-insertshape         {background-position: -40px  -860px;}
.x-btn-menu-active .btn-insertshape     {background-position: -40px  -860px;}
.x-btn-disabled .btn-insertshape        {background-position: -60px  -860px;}

/* insert chart */
.btn-insertchart                       {background-position: 0      -900px;}
.x-btn-over .btn-insertchart           {background-position: -20px  -900px;}
.x-btn-pressed .btn-insertchart        {background-position: -40px  -900px;}
.x-btn-menu-active .btn-insertchart    {background-position: -40px  -900px;}
.x-btn-disabled .btn-insertchart       {background-position: -60px  -900px;}

/* color schemas */
.btn-colorschemas                      {background-position: 0      -880px;}
.x-btn-over .btn-colorschemas          {background-position: -20px  -880px;}
.x-btn-pressed .btn-colorschemas       {background-position: -40px  -880px;}
.x-btn-menu-active .btn-colorschemas   {background-position: -40px  -880px;}
.x-btn-disabled .btn-colorschemas      {background-position: -60px  -880px;}

/* insert text */
.btn-text                       {background-position: 0      -920px;}
.x-btn-over .btn-text           {background-position: -20px  -920px;}
.x-btn-pressed .btn-text        {background-position: -40px  -920px;}
.x-btn-menu-active .btn-text    {background-position: -40px  -920px;}
.x-btn-disabled .btn-text       {background-position: -60px  -920px;}

/* hide bars */
.btn-hidebars                       {background-position: 0      -940px;}
.x-btn-over .btn-hidebars           {background-position: -20px  -940px;}
.x-btn-pressed .btn-hidebars        {background-position: -40px  -940px;}
.x-btn-menu-active .btn-hidebars    {background-position: -40px  -940px;}
.x-btn-disabled .btn-hidebars       {background-position: -60px  -940px;}

/* settings */
.btn-settings                       {background-position: 0      -960px;}
.x-btn-over .btn-settings           {background-position: -20px  -960px;}
.x-btn-pressed .btn-settings        {background-position: -40px  -960px;}
.x-btn-menu-active .btn-settings    {background-position: -40px  -960px;}
.x-btn-disabled .btn-settings       {background-position: -60px  -960px;}

/* align-left */
.halign-left .btn-halign                    {background-position: 0      -40px;}
.halign-left.x-btn-over .btn-halign         {background-position: -20px  -40px;}
.halign-left.x-btn-pressed .btn-halign      {background-position: -40px  -40px;}
.halign-left.x-btn-menu-active .btn-halign  {background-position: -40px  -40px;}
.halign-left.x-btn-disabled .btn-halign     {background-position: -60px  -40px;}

/* align-center */
.halign-center .btn-halign                   {background-position: 0      0;}
.halign-center.x-btn-over .btn-halign        {background-position: -20px  0;}
.halign-center.x-btn-pressed .btn-halign     {background-position: -40px  0;}
.halign-center.x-btn-menu-active .btn-halign {background-position: -40px  0;}
.halign-center.x-btn-disabled .btn-halign    {background-position: -60px  0;}

/* align-right */
.halign-right .btn-halign                   {background-position: 0      -60px;}
.halign-right.x-btn-over .btn-halign        {background-position: -20px  -60px;}
.halign-right.x-btn-pressed .btn-halign     {background-position: -40px  -60px;}
.halign-right.x-btn-menu-active .btn-halign {background-position: -40px  -60px;}
.halign-right.x-btn-disabled .btn-halign    {background-position: -60px  -60px;}

/* align-just */
.halign-just .btn-halign                   {background-position: 0      -20px;}
.halign-just.x-btn-over .btn-halign        {background-position: -20px  -20px;}
.halign-just.x-btn-pressed .btn-halign     {background-position: -40px  -20px;}
.halign-just.x-btn-menu-active .btn-halign {background-position: -40px  -20px;}
.halign-just.x-btn-disabled .btn-halign    {background-position: -60px  -20px;}

/* dropcap-none */
.dropcap-none .btn-dropcap                    {background-position: 0      -980px;}
.dropcap-none.x-btn-over .btn-dropcap         {background-position: -20px  -980px;}
.dropcap-none.x-btn-pressed .btn-dropcap      {background-position: -40px  -980px;}
.dropcap-none.x-btn-menu-active .btn-dropcap  {background-position: -40px  -980px;}
.dropcap-none.x-btn-disabled .btn-dropcap     {background-position: -60px  -980px;}

/* dropcap-text */
.dropcap-text .btn-dropcap                   {background-position: 0      -1000px;}
.dropcap-text.x-btn-over .btn-dropcap        {background-position: -20px  -1000px;}
.dropcap-text.x-btn-pressed .btn-dropcap     {background-position: -40px  -1000px;}
.dropcap-text.x-btn-menu-active .btn-dropcap {background-position: -40px  -1000px;}
.dropcap-text.x-btn-disabled .btn-dropcap    {background-position: -60px  -1000px;}

/* dropcap-margin */
.dropcap-margin .btn-dropcap                   {background-position: 0      -1020px;}
.dropcap-margin.x-btn-over .btn-dropcap        {background-position: -20px  -1020px;}
.dropcap-margin.x-btn-pressed .btn-dropcap     {background-position: -40px  -1020px;}
.dropcap-margin.x-btn-menu-active .btn-dropcap {background-position: -40px  -1020px;}
.dropcap-margin.x-btn-disabled .btn-dropcap    {background-position: -60px  -1020px;}

.x-menu-item-icon.mnu-align-left,
.x-menu-item-icon.mnu-align-center,
.x-menu-item-icon.mnu-align-right,
.x-menu-item-icon.mnu-align-just,
.x-menu-item-icon.mnu-dropcap-none,
.x-menu-item-icon.mnu-dropcap-text,
.x-menu-item-icon.mnu-dropcap-margin {
    background-image: url('../img/popupmenu-btns.png');
    background-image: -webkit-image-set(url("../img/popupmenu-btns.png") 1x, url("../img/popupmenu-btns@2x.png") 2x);
}

/* align-left */
.x-menu-item-icon.mnu-align-left                        {background-position: 0      -506px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-left   {background-position: -44px  -506px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-left    {background-position: -22px  -506px;}

/* align-center */
.x-menu-item-icon.mnu-align-center                        {background-position: 0      -462px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-center   {background-position: -44px  -462px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-center    {background-position: -22px  -462px;}

/* align-right */
.x-menu-item-icon.mnu-align-right                        {background-position: 0      -528px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-right   {background-position: -44px  -528px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-right    {background-position: -22px  -528px;}

/* align-just */
.x-menu-item-icon.mnu-align-just                        {background-position: 0      -484px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-just   {background-position: -44px  -484px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-just    {background-position: -22px  -484px;}

/* dropcap-none */
.x-menu-item-icon.mnu-dropcap-none                        {background-position: 0      -550px;}
.x-menu-item-checked .x-menu-item-icon.mnu-dropcap-none   {background-position: -44px  -550px;}
.x-menu-item-active .x-menu-item-icon.mnu-dropcap-none    {background-position: -22px  -550px;}

/* dropcap-text */
.x-menu-item-icon.mnu-dropcap-text                        {background-position: 0      -572px;}
.x-menu-item-checked .x-menu-item-icon.mnu-dropcap-text   {background-position: -44px  -572px;}
.x-menu-item-active .x-menu-item-icon.mnu-dropcap-text    {background-position: -22px  -572px;}

/* dropcap-margin */
.x-menu-item-icon.mnu-dropcap-margin                        {background-position: 0      -594px;}
.x-menu-item-checked .x-menu-item-icon.mnu-dropcap-margin   {background-position: -44px  -594px;}
.x-menu-item-active .x-menu-item-icon.mnu-dropcap-margin    {background-position: -22px  -594px;}

.color-palette-highlight.x-color-picker em span {
    height: 28px;
    width: 28px;
}

.menu-item-usetitle .menu-item-title {
    margin-top: -2px;
}
.menu-item-usetitle .menu-item-decript {
    padding-bottom: 4px;
}

.menu-insertpagenum .storage-data-view .thumb-wrap {
    background-color: #F4F4F4;
    margin: 6px;
}

.menu-item-noicon .x-menu-item-link {
    padding-left: 18px;
    padding-right: 18px;
}

.menu-item-usetitle {
    display: block;
    vertical-align: middle;
    padding-right:14px;
}

.color-palette-highlight.x-color-picker em {
        border: none;
}

.color-palette-highlight.x-color-picker a {
        padding: 0;
}

.color-palette-highlight.x-color-picker a:hover{
        border-color: #000;
        background-color: #000;
}

.color-palette-highlight.x-color-picker a.x-color-picker-selected{
        border-color: #000;
        background-color: #000;
}

.menu-item-highlightcolor-nocolor .x-menu-item-link img {
    left: 12px;
}

.menu-item-highlightcolor-nocolor.x-menu-item-checked .x-menu-item-link img {
    outline: solid 1px #000;
}

.menu-item-highlightcolor-nocolor .x-menu-item-link {
    padding-left: 36px;
    padding-top: 4px;
}

.storage-data-view .thumb-wrap {
    cursor: pointer;
}

.x-dimension-picker-status {
    padding-bottom: 8px;
}

.x-menu-item-icon.menu-item-nocolor {
    background-image: url(../img/toolbar/NoFill.png);
	background-image: -webkit-image-set(url("../img/toolbar/NoFill.png") 1x, url("../img/toolbar/NoFill@2x.png") 2x);
    margin-top: 0;
}

.pagenum-container.x-item-disabled .x-mask{
    opacity: 0;
}

.pagenum-container.x-item-disabled {
    opacity: 0.6;
}

.x-btn-disabled span.asc-toolbar-btn {
    opacity: 1;
}

.x-item-disabled.asc-toolbar-combo{
    opacity: 0.4;
}

/* Chart menu*/
.chart-data-view {
    padding: 10px 10px 14px 12px;
}

.chart-data-view .asc-grouped-data {
    padding: 2px 2px 2px 12px;
}

.chart-data-view .asc-grouped-data:first-child {
    margin-top: 10px;
}

.chart-data-view .asc-grouped-data .group-description {
    width: 125px;
}

.chart-data-view .asc-grouped-data .group-items-container{
    width: 202px;
    float: left;
    position: relative;
}

.chart-data-view .asc-grouped-data-selector:last-child {
    height: 6px;
}

.chart-subtype {
    background-image:url(../img/toolbar/charttypes.png);
    background-image: -webkit-image-set(url(../img/toolbar/charttypes.png) 1x, url(../img/toolbar/charttypes@2x.png) 2x);
    width: 50px;
    height: 50px;
}

.line-stack {
    background-position: -50px 0;
}

.line-pstack {
    background-position: -100px 0;
}

.column-normal {
    background-position: 0 -50px;
}

.column-stack{
    background-position: -50px -50px;
}

.column-pstack{
    background-position: -100px -50px;
}

.bar-normal {
    background-position: 0 -100px;
}

.bar-stack{
    background-position: -50px -100px;
}

.bar-pstack{
    background-position: -100px -100px;
}

.area-normal {
    background-position: 0 -150px;
}

.area-stack{
    background-position: -50px -150px;
}

.area-pstack{
    background-position: -100px -150px;
}

.pie-normal {
    background-position: 0 -200px;
}

.point-normal{
    background-position: -50px -200px;
}

.stock-normal{
    background-position: -100px -200px;
}

.item-markerlist {
    background-image:url(../img/toolbar/bullets.png);
    background-image: -webkit-image-set(url(../img/toolbar/bullets.png) 1x, url(../img/toolbar/bullets@2x.png) 2x);
    width:38px;
    height:38px;
}

.item-numberlist, .item-multilevellist {
    background-image:url(../img/toolbar/multilevels-numbering.png);
    background-image: -webkit-image-set(url(../img/toolbar/multilevels-numbering.png) 1x, url(../img/toolbar/multilevels-numbering@2x.png) 2x);
    width:74px;
    height:74px;
}

.asc-color-schemas-menu .x-menu-item-link {
    line-height: 12px;
    padding-bottom:6px;
}

.asc-color-schemas-menu span.colors {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.asc-color-schemas-menu span.color {
    display: inline-block;
    width:12px;
    height:12px;
    margin-right: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.asc-color-schemas-menu span.text {
    display: inline-block;
    font-size: 11px;
    vertical-align: top;
}

.menu-item-color-palette-theme .x-menu-item-link {
    padding-left: 12px;
}

.asc-toolbar-btn-zoom.x-btn-default-small{
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    background: transparent;
    box-shadow: none;
    -moz-box-shadow: none;
}


.asc-toolbar-btn-zoom.x-btn-default-small-pressed{
    border: 1px solid rgba(0, 0, 0, 0)!important;
    background: none !important;
    box-shadow: none !important;
}

.asc-toolbar-btn-zoom.x-btn-default-small button {
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
}

.asc-toolbar-btn-zoom.x-btn-default-small-icon .asc-statusbar-btn{
    width: 20px !important;
    height: 20px !important;
}

/*
 * Manual layout toolbar
 */

.toolbar-group {
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
    padding: 0 0 0 9px;
}

.toolbar-group.separator {
    margin-left: 7px;
}

.toolbar-row {
    height: 22px;
    margin: 4px 0 0;
}

.toolbar-btn-placeholder {
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 0;
}

.toolbar-btn-placeholder.document-loading {
    opacity: 0.6;
}

.toolbar-btn-placeholder .x-btn-default-small-pressed,
.toolbar-btn-placeholder .x-btn-default-small-menu-active {
    background: #8aacf1 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #6180c4 0%, #8aacf1 80%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6180c4), color-stop(80%,#8aacf1)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6180c4 0%,#8aacf1 80%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6180c4 0%,#8aacf1 80%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6180c4 0%,#8aacf1 80%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #6180c4 0%,#8aacf1 80%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6180c4', endColorstr='#8aacf1',GradientType=0 ); /* IE6-9 */

    background-clip: border-box;
    background-origin:  border-box !important;
    -moz-background-origin: border !important;
}


.toolbar-btn-placeholder .x-btn-default-small-menu-active {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    -moz-border-radius: 2px;
    background-clip: border-box;
    background-attachment: inherit;
    box-shadow: none;
    -moz-box-shadow:  none;
}

.toolbar-btn-placeholder .x-btn-default-small-over {
    background-image: none;
}

.toolbar-btn-placeholder .x-btn-default-small-pressed {
    box-shadow: none;
    -moz-box-shadow:  none;
}

.toolbar-btn-placeholder .x-btn-default-small-disabled {
    background-image: none !important;
    border-color: transparent !important;
    filter: none !important;
    background-color: transparent !important;
}


.toolbar-btn-spacer {
    display: inline-block;
    width: 6px;
}

.replaceme {
    display: block;
}

.x-toolbar-separator.manual {
    display: inline-block;
    position: inherit;
    margin-top: 3px;
    margin-right: 2px;
}

.x-toolbar-separator.manual.long {
    height: 50px;
}

.x-toolbar-separator.manual.short {
    height: 20px;
}

.toolbar-combo-placeholder.x-item-disabled {
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #e2e2e2 5%, #f1f1f1 6%, #ffffff 45%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(5%,#e2e2e2), color-stop(6%,#f1f1f1), color-stop(45%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#e2e2e2 5%,#f1f1f1 6%,#ffffff 45%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#e2e2e2 5%,#f1f1f1 6%,#ffffff 45%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#e2e2e2 5%,#f1f1f1 6%,#ffffff 45%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#e2e2e2 5%,#f1f1f1 6%,#ffffff 45%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow:  0 1px 0 rgba(255, 255, 255, 1);
    border: 1px solid #afafaf;
    font: normal 12px tahoma, arial, verdana, sans-serif;
    padding-left: 3px !important;
}

.toolbar-combo-placeholder .x-form-trigger {
    position: relative;
    float: right;
    top: -1px;
    right: -1px;
}

.storage-combodataview.toolbar-dataview-placeholder  {
    background-image: url('../img/toolbar/text_styles.png');
    background-repeat: no-repeat;
    background-position: 6px 6px;
}

.toolbar-dataview-placeholder .x-btn-combodataview {
    position: relative !important;
    width: 26px;
    float: right;
    background-color: white !important;
    border-right: solid 4px white !important;
}