// Core variables and mixins
@import "../../../../../vendor/bootstrap/less/variables.less";

@icon-font-path: "../../../../../vendor/bootstrap/dist/fonts/";

@import "../../../../../vendor/bootstrap/less/mixins.less";

// Reset
@import "../../../../../vendor/bootstrap/less/normalize.less";
@import "../../../../../vendor/bootstrap/less/print.less";

// Core CSS
@import "../../../../../vendor/bootstrap/less/scaffolding.less";
@import "../../../../../vendor/bootstrap/less/type.less";
//@import "code.less";
//@import "grid.less";
//@import "tables.less";
@import "../../../../../vendor/bootstrap/less/forms.less";
@import "../../../../../vendor/bootstrap/less/buttons.less";

// Components
@import "../../../../../vendor/bootstrap/less/component-animations.less";
@import "../../../../../vendor/bootstrap/less/glyphicons.less";
//@import "dropdowns.less";
//@import "button-groups.less";
//@import "input-groups.less";
//@import "navs.less";
//@import "navbar.less";
//@import "breadcrumbs.less";
//@import "pagination.less";
//@import "pager.less";
@import "../../../../../vendor/bootstrap/less/labels.less";
//@import "badges.less";
//@import "jumbotron.less";
//@import "thumbnails.less";
@import "../../../../../vendor/bootstrap/less/alerts.less";
//@import "progress-bars.less";
//@import "media.less";
//@import "list-group.less";
//@import "panels.less";
//@import "wells.less";
//@import "close.less";

// Components w/ JavaScript
@import "../../../../../vendor/bootstrap/less/modals.less";
@import "../../../../../vendor/bootstrap/less/tooltip.less";
@import "../../../../../vendor/bootstrap/less/popovers.less";
//@import "carousel.less";

// Utility classes
@import "../../../../../vendor/bootstrap/less/utilities.less";
@import "../../../../../vendor/bootstrap/less/responsive-utilities.less";


@toolbarBorderColor:            #929292;
@toolbarBorderShadowColor:      #FAFAFA;
@toolbarTopColor:               #EBEBEB;
@toolbarBottomColor:            #CCCCCC;
@toolbarHoverColor:             #7698DE;
@toolbarFontSize:               12px;
@controlBtnHoverTopColor:       #6180C4;
@controlBtnHoverBottomColor:    #8AACF1;
@iconSpriteCommonPath:          "../img/glyphicons.png";

.input-xs {
    .input-size(@input-height-small - 8px; @padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}

.embed-body {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: @toolbarFontSize;
    overflow: hidden;
}

// Document Viewer
// -------------------------
.viewer {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;

    &.top {
        top: 32px;
        bottom: 0;
    }

    &.bottom {
        top: 0;
        bottom: 30px;
    }
}

// Toolbar
// -------------------------
.toolbar {
    position: fixed;
    font-size: @toolbarFontSize;
    min-width: 340px;
    z-index: 100;
    #gradient > .vertical(@toolbarTopColor, @toolbarBottomColor);

    &.top {
        top: 0;
        left: 0;
        width: 100%;
        height: 32px;

        -webkit-box-shadow: inset 0 -1px 0 @toolbarBorderColor, inset 0 1px 0 @toolbarBorderShadowColor;
        -moz-box-shadow: inset 0 -1px 0 @toolbarBorderColor, inset 0 1px 0 @toolbarBorderShadowColor;
        box-shadow: inset 0 -1px 0 @toolbarBorderColor, inset 0 1px 0 @toolbarBorderShadowColor;
    }

    &.bottom {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;

        -webkit-box-shadow: inset 0 1px 0 @toolbarBorderColor, inset 0 2px 0 @toolbarBorderShadowColor;
        -moz-box-shadow: inset 0 1px 0 @toolbarBorderColor, inset 0 2px 0 @toolbarBorderShadowColor;
        box-shadow: inset 0 1px 0 @toolbarBorderColor, inset 0 2px 0 @toolbarBorderShadowColor;
    }

    ul {
        position: absolute;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            input {
                display: inline-block;
                width: 25px;
                padding: 0;
                height: 25px;
                margin: 3px;
                text-align: center;
            }

            .text {
                cursor: default;
            }
        }

        &.left {
            left: 0;

            li {
                float: left;
            }
        }

        &.right {
            right: 0;

            li {
                float: left;
            }
        }

        .separator {
            height: 24px;
            margin: 4px 9px;
            border-right: 1px solid @toolbarBorderShadowColor;
            border-left: 1px solid @toolbarBorderColor;
        }
    }
}

// Logo
// -------------------------
a.brand-logo {
    display: block;
    background-image: url("@{iconSpriteCommonPath}");
    width: 127px;
    height: 20px;
    margin: 5px 0 0 10px;
    background-position: 0 -100px;
}

// Sprite icons path
// -------------------------
[class^="control-icon-"],
[class*=" control-icon-"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    background-image: url("@{iconSpriteCommonPath}");
    background-repeat: no-repeat;
    margin-top: -2px;
}

[class^="overlay-icon-"],
[class*=" overlay-icon-"] {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: text-top;
    background-image: url("@{iconSpriteCommonPath}");
    background-repeat: no-repeat;
    opacity: .3;
}

.control-icon-share         { background-position: 0             0; }
.control-icon-embed         { background-position: 0         -20px; }
.control-icon-fullscreen    { background-position: 0         -40px; }
.control-icon-close         { background-position: 0         -60px; }
.control-icon-save          { background-position: 0         -80px; }

.overlay-icon-zoom-in       { background-position: 0        -120px; }
.overlay-icon-zoom-out      { background-position: -32px    -120px; }

// Control buttons
// -------------------------
.control-btn {
    display: inline-block;
    padding: 1px 5px;
    font-size: @toolbarFontSize;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    margin: 4px 5px 0 0;

    i {
        margin-right: 5px;
    }

    &.no-caption {
        padding: 1px 2px;

        i {
            margin-right: 0;
        }
    }

// Hover state
    &:hover {
        color: @toolbarHoverColor;
        text-decoration: none;
        text-shadow: 0 1px 0 @toolbarBorderShadowColor;

        .control-icon-share         { background-position: -20px         0; }
        .control-icon-embed         { background-position: -20px     -20px; }
        .control-icon-fullscreen    { background-position: -20px     -40px; }
        .control-icon-close         { background-position: -20px     -60px; }
        .control-icon-save          { background-position: -20px     -80px; }
    }

// Focus state for keyboard and accessibility
    &:focus {
        .tab-focus();
        outline: none;
    }

// Active state
    &.active,
    &:active {
        color: #ffffff;
        outline: none;
        border: 1px solid darken(@controlBtnHoverTopColor, 5%);
        #gradient > .vertical(@controlBtnHoverTopColor, @controlBtnHoverBottomColor);
        text-shadow: 0 1px 0 darken(@toolbarBorderColor, 20%);

        .control-icon-share         { background-position: -40px         0; }
        .control-icon-embed         { background-position: -40px     -20px; }
        .control-icon-fullscreen    { background-position: -40px     -40px; }
        .control-icon-close         { background-position: -40px     -60px; }
        .control-icon-save          { background-position: -40px     -80px; }
    }
}

// Overlay control
// -------------------------
.overlay-controls {
    position: absolute;
    bottom: 55px;
    z-index: 10;
    left: 50%;

    ul {
        padding: 0;
        list-style-type: none;
        margin: 0 auto;

        li {
            display: inline-block;

            &:first-child {
                margin-right: 5px;
            }

            &:last-child {
                margin-left: 5px;
            }
        }
    }

    .overlay {
        width: 32px;
        height: 32px;

        display: inline-block;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-color: transparent;
        background-image: none;
        border: none;
        padding: 0;
        line-height: 0;
        outline: none;

        &:hover {
[class^="overlay-icon-"],
[class*=" overlay-icon-"] {
    opacity: .6;
}
    }

&.active,
&:active {
[class^="overlay-icon-"],
[class*=" overlay-icon-"] {
    opacity: .8;
}
    }
    }
    }

// Error mask
// -------------------------
.errormask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: none;
    background-color: #f4f4f4;
    z-index: 30002;

    .error-body {
        position: relative;
        top: 40%;
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #FFFFFF;
        border: 1px solid #C0C0C0;

        .title {
            font-weight: bold;
            font-size: 1.6em;
            padding-bottom: 10px;
        }
    }
}

// Share popover
// -------------------------
.popover{
    .popover-content {
        padding: 14px;
    }

    &.hyperlink {
        .popover-content {
            padding: 5px 10px;

            p {
                display: block;
                word-wrap: break-word;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    &.share {
        width: 280px;

        .share-link {
            margin-bottom: 5px;

            .caption {
                margin-top: 3px;
                margin-right: 8px;
                float: left;
            }

            input[readonly] {
                display: inline-block;
                font-size: 1em;
                padding: 0 4px;
                margin-right: 5px;
                border-radius: 0;
                cursor: text;
                background-color: #fff;
                -moz-user-select: text;
                -khtml-user-select: text;
                -webkit-user-select: text;
                -ms-user-select: text;
                user-select: text;
            }

            .input-xs {
                width: 130px;
            }

            .btn {
                float: right;
            }
        }

        .share-buttons {
            ul {
                width: 244px;
                height: 25px;
                list-style-type: none;
                margin: 5px 0 0;
                overflow: hidden;

                li {
                    display: inline-block;
                    float: left;
                    margin: 1px 5px 0 0;
                    vertical-align: middle;

                    &.share-mail {
                        float: right;
                        padding-right: 1px;
                        margin: 0;

                        a {
                            min-width: 64px;
                        }

                        .glyphicon {
                            margin-right: 4px;
                        }
                    }

                    &.share-twitter {
                        max-width: 93px;
                    }
                }
            }
        }
    }

    &.embed {
        width: 270px;

        .size-manual {
            margin-bottom: 10px;
        }

        .right {
            float: right;
        }

        .caption {
            margin-top: 2px;
            margin-right: 8px;
        }

        input {
            display: inline-block;
            font-size: 1em;
            padding: 0 4px;
            border-radius: 0;
            margin: 0;
            margin-top: -1px;

            &.input-xs {
                width: 50px;
            }
        }

        textarea {
            width: 238px;
            resize: none;
            cursor: auto;
            font-size: 1em;
            border-radius: 0;
        }

        button {
            float: right;
            margin: 10px 0 15px;
            width: 86px;
        }
    }
}

// Modals
// -------------------------
.modal {
    .modal-header {
        padding: 5px 15px;
    }

    .modal-footer {
        border-top: none;
    }
}