[submodule "core"]
	path = core
	url = https://github.com/InnovXcare/ofc-core
[submodule "sdkjs"]
	path = sdkjs
	url = https://github.com/InnovXcare/ofc-sdkjs
[submodule "web-apps"]
	path = web-apps
	url = https://github.com/InnovXcare/ofc-web-apps
[submodule "server"]
	path = server
	url = https://github.com/InnovXcare/ofc-server
[submodule "dictionaries"]
	path = dictionaries
	url = https://github.com/InnovXcare/ofc-dictionaries
[submodule "core-fonts"]
	path = core-fonts
	url = https://github.com/InnovXcare/ofc-core-fonts
[submodule "build-tools"]
	path = build-tools
	url = https://github.com/InnovXcare/ofc-build-tools
