[submodule "sdkjs"]
	path = sdkjs
	url = https://github.com/ONLYOFFICE/sdkjs.git
[submodule "core"]
	path = core
	url = https://github.com/ONLYOFFICE/core.git
[submodule "server"]
	path = server
	url = https://github.com/ONLYOFFICE/server.git
[submodule "dictionaries"]
	path = dictionaries
	url = https://github.com/ONLYOFFICE/dictionaries.git
[submodule "sdkjs-plugins"]
	path = sdkjs-plugins
	url = https://github.com/ONLYOFFICE/sdkjs-plugins.git
[submodule "core-fonts"]
	path = core-fonts
	url = https://github.com/ONLYOFFICE/core-fonts.git
[submodule "web-apps"]
	path = web-apps
	url = https://github.com/ONLYOFFICE/web-apps.git
