[submodule "core"]
	path = core
	url = ../core.git
[submodule "core-fonts"]
	path = core-fonts
	url = ../core-fonts.git
[submodule "dictionaries"]
	path = dictionaries
	url = ../dictionaries.git
[submodule "sdkjs"]
	path = sdkjs
	url = ../sdkjs.git
[submodule "server"]
	path = server
	url = ../server.git
[submodule "web-apps"]
	path = web-apps
	url = ../web-apps.git
[submodule "sdkjs-plugins/plugin-highlightcode"]
	path = sdkjs-plugins/plugin-highlightcode
	url = ../plugin-highlightcode
[submodule "sdkjs-plugins/plugin-macros"]
	path = sdkjs-plugins/plugin-macros
	url = ../plugin-macros
[submodule "sdkjs-plugins/plugin-mendeley"]
	path = sdkjs-plugins/plugin-mendeley
	url = ../plugin-mendeley
[submodule "sdkjs-plugins/plugin-ocr"]
	path = sdkjs-plugins/plugin-ocr
	url = ../plugin-ocr
[submodule "sdkjs-plugins/plugin-photoeditor"]
	path = sdkjs-plugins/plugin-photoeditor
	url = ../plugin-photoeditor
[submodule "sdkjs-plugins/plugin-speech"]
	path = sdkjs-plugins/plugin-speech
	url = ../plugin-speech
[submodule "sdkjs-plugins/plugin-thesaurus"]
	path = sdkjs-plugins/plugin-thesaurus
	url = ../plugin-thesaurus
[submodule "sdkjs-plugins/plugin-translator"]
	path = sdkjs-plugins/plugin-translator
	url = ../plugin-translator
[submodule "sdkjs-plugins/plugin-youtube"]
	path = sdkjs-plugins/plugin-youtube
	url = ../plugin-youtube
[submodule "sdkjs-plugins/plugin-zotero"]
	path = sdkjs-plugins/plugin-zotero
	url = ../plugin-zotero
