.filter-dlg {

  .combo-values {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }

  .border-values {
    border: 1px solid @input-border;
  }

  .body {
    height: auto;
    top: 34px;

    & > div {
      width: 100%;
    }

    .box > div {
      display: inline-block;
      height: 100%;
    }

    .content-panel {
      vertical-align: top;
      padding: 15px;
      width: 100%;

      .inner-content {
        padding-left: 10px;
        padding-right: 10px;
      }

      label {
        .font-size-normal();
        font-weight: normal;

        &.input-label{
          margin-bottom: 0;
          vertical-align: middle;
        }

        &.header {
          font-weight: bold;
        }

      }
    }

    .btn-placeholder {
      //        background-color: red;
      display: inline-block;
      width: 20px;
      height: 20px;

      &:not(:first-child) {
        margin-left: 1px;
      }

      &.split {
        width: 28px;
      }

      &.border {
        border: 1px solid @gray;
        .border-radius(1px);
        width: 22px;
        height: 22px;
      }
    }
  }

  .footer {
    padding-top: 15px;

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }

    &.justify {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}