<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <remove assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="max-age=300, must-revalidate"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000">
          <headerLimits>
            <add header="Content-type" sizeLimit="100"/>
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
    <modules>

    </modules>
    <defaultDocument enabled="true">
    </defaultDocument>
    <httpErrors errorMode="Detailed"/>

    <urlCompression doDynamicCompression="false"/>
  </system.webServer>
</configuration>
