<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
  <system.serviceModel>
    <client>
	  <endpoint address="http://teamlab/billing/v1.2/Service.svc" binding="basicHttpBinding" contract="ASC.Core.Billing.IService" bindingConfiguration="billing" /> 
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="billing" maxReceivedMessageSize="1000000">
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
    <log4net>
        <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
            </layout>
        </appender>
        <root>
            <level value="ERROR" />
            <appender-ref ref="DebugAppender" />
        </root>
    </log4net>
  <system.data>
    <DbProviderFactories>
		<clear />
		<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
        <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
  </system.data>
	<appSettings file=".\Bin\Settings.config">
		<add key="WebCacheExpireSeconds" value="900" />
		<add key="ResourceServiceExpireSeconds" value="3600" />
		<add key="keyIp" value="ip" />
		<add key="keyKey" value="key" />
		<add key="keyDate" value="expire" />
		<add key="keyDateInterval" value="1" />
		<add key="keyPaid" value="paid" />
		<add key="keyKeyID" value="key_id" />
		<add key="keyUserCount" value="user_count" />
		<add key="FilesDir" value="TestDocs\files" />
		<add key="NewFilesDir" value="TestDocs\res" />
		<add key="DefaultURL" value="http://www.onlyoffice.com" />
		<!-- Necessary to test the efficiency of docs service -->
		<add key="urlTestValue" value="/TestSiteEfficiency/empty.docx" />
		<add key="fileTypeTestValue" value="docx" />
		<add key="isErrorRedirectPage" value="TestSiteEfficiency/error.html" />
    <!--Test Efficiency Site-->
    <add key="testEfficiencyGuidWord" value="test_site_efficiency_guid.docx" />
    <add key="testEfficiencyGuidExcel" value="test_site_efficiency_guid.xls" />
    <add key="testEfficiencyUrlWord" value="http://localhost/testdocs/res/new.docx" />
    <add key="testEfficiencyUrlExcel" value="http://localhost/testdocs/res/new.xls" />
    <add key="editor.settings.viewerformats" value="pdf;xps;djvu;tiff" />
    <add key="editor.settings.readerformats" value="doct;docx;doc;odt;rtf;txt;mht;html;htm;epub;mobi" />
    <add key="editor.settings.editorformats" value="doct;xlst;pptt;docx;doc;odt;xlsx;xls;ods;csv;pptx;ppt;ppsx;pps;odp;rtf;txt;mht;html;htm;epub;mobi" />
    <add key="editor.settings.autosave.enable" value="true" />
    <add key="editor.settings.autosave.mininterval" value="300" />
    <add key="editor.settings.coauthoring.url" value="" />
    <add key="editor.settings.spellchecker.url" value="" />
    <add key="limits.image.types.upload" value="jpg;png;gif;bmp;"/>
    <add key="limits.image.types.copy" value="jpg;png;gif;bmp;emf;wmf;svg"/>
    <add key="limits.image.size" value="25000000"/>
    <add key="fonts.route" value="OfficeWeb/sdk/Fonts/" />
    </appSettings>
	<connectionStrings configSource=".\Bin\ConnectionStrings.config"/>
	<system.web>
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx" />
      <remove verb="POST,GET" path="template.ashx" />
      <remove verb="POST,GET" path="JavaScriptResource.ashx" />
      <remove verb="POST,GET" path="UploadProgress.ashx" />
      <remove verb="POST,GET" path="fckuploader.ashx" />
      <remove verb="POST,GET" path="ajaxupload.ashx" />
      <remove verb="POST,GET" path="ajaxpro/*.ashx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpHandlers>
		<httpModules>
      <remove name="UploadProgress" />
      <remove name="MobileDetector" />
      <remove name="TcpIpFilter" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
	  <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="OptionInfer" value="true" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
      <remove name="UploadProgress" />
      <remove name="MobileDetector" />
      <remove name="TcpIpFilter" />
      <remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
      <remove name="Template" />
      <remove name="JavaScriptResource" />
      <remove name="UpProgress" />
      <remove name="FCKUp" />
      <remove name="AjaxUp" />
      <remove name="AjaxPro" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>
		<staticContent>
			<remove fileExtension=".ods" />
			<remove fileExtension=".odt" />
			<remove fileExtension=".odp" />
			<remove fileExtension=".svg" />
			<remove fileExtension=".json" />
			<remove fileExtension=".epub" />
			<remove fileExtension=".djvu" />
			<remove fileExtension=".xps" />
			<remove fileExtension=".doct" />
			<remove fileExtension=".xlst" />
			<remove fileExtension=".pptt" />
			<remove fileExtension=".fb2" />
			<remove fileExtension=".ttc" />
			<remove fileExtension=".mobi" />
			<remove fileExtension=".prc" />
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".ods" mimeType="application/vnd.oasis.opendocument.spreadsheet" />
			<mimeMap fileExtension=".odt" mimeType="application/vnd.oasis.opendocument.text" />
			<mimeMap fileExtension=".odp" mimeType="application/vnd.oasis.opendocument.presentation" />
			<mimeMap fileExtension=".epub" mimeType="application/epub+zip" />
			<mimeMap fileExtension=".djvu" mimeType="image/vnd.djvu" />
			<mimeMap fileExtension=".xps" mimeType="application/vnd.ms-xpsdocument" />
			<mimeMap fileExtension=".doct" mimeType="application/doct" />
			<mimeMap fileExtension=".xlst" mimeType="application/xlst" />
			<mimeMap fileExtension=".pptt" mimeType="application/pptt" />
			<mimeMap fileExtension=".fb2" mimeType="text/xml" />
            <mimeMap fileExtension=".ttc" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".otf" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".mobi" mimeType="application/x-mobipocket-ebook" />
			<mimeMap fileExtension=".prc" mimeType="application/x-mobipocket-ebook" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
		</staticContent>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
			</files>
		</defaultDocument>
		<urlCompression doDynamicCompression="true" />
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Credentials" value="true" />
            </customHeaders>
        </httpProtocol>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727"><dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding></runtime>
</configuration>
