<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.serviceModel>
    <client>
      <endpoint address="" binding="basicHttpBinding" contract="ASC.Core.Billing.IService" bindingConfiguration="billing" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="billing" maxReceivedMessageSize="1000000">
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
      </layout>
      <file value="/var/log/onlyoffice/documentserver/DocService.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd-HHmm" />
    </appender>
    <root>
      <level value="WARN" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <appSettings file="/var/www/onlyoffice/documentserver/DocService/Settings.config">
    <add key="WebCacheExpireSeconds" value="900" />
    <add key="ResourceServiceExpireSeconds" value="3600" />
    <add key="keyIp" value="ip" />
    <add key="keyKey" value="key" />
    <add key="keyDate" value="expire" />
    <add key="keyDateInterval" value="1" />
    <add key="keyPaid" value="paid" />
    <add key="keyKeyID" value="key_id" />
    <add key="keyUserCount" value="user_count" />
    <add key="FilesDir" value="TestDocs\files" />
    <add key="NewFilesDir" value="TestDocs\res" />
    <add key="DefaultURL" value="OnlineEditorsExample" />
    <!-- Necessary to test the efficiency of docs service -->
    <add key="urlTestValue" value="/TestSiteEfficiency/empty.docx" />
    <add key="fileTypeTestValue" value="docx" />
    <add key="isErrorRedirectPage" value="TestSiteEfficiency/error.html" />
    <!--Test Efficiency Site-->
    <add key="testEfficiencyGuidWord" value="test_site_efficiency_guid.docx" />
    <add key="testEfficiencyGuidExcel" value="test_site_efficiency_guid.xls" />
    <add key="testEfficiencyUrlWord" value="http://localhost/testdocs/res/new.docx" />
    <add key="testEfficiencyUrlExcel" value="http://localhost/testdocs/res/new.xls" />
    <add key="editor.settings.viewerformats" value="pdf;xps;djvu;tiff" />
    <add key="editor.settings.readerformats" value="doct;docx;doc;odt;rtf;txt;mht;html;htm;epub;mobi;fb2" />
    <add key="editor.settings.editorformats" value="doct;xlst;pptt;docx;doc;odt;xlsx;xls;ods;csv;pptx;ppt;ppsx;pps;odp;rtf;txt;mht;html;htm;epub;mobi;fb2" />
    <add key="editor.settings.autosave.enable" value="true" />
    <add key="editor.settings.autosave.mininterval" value="300" />
    <add key="editor.settings.coauthoring.url" value="/coauthoring" />
    <add key="editor.settings.spellchecker.url" value="/spellchecker" />
    <add key="resource.expires" value="1440" />
    <add key="limits.image.types.upload" value="jpg;png;gif;bmp;ico" />
    <add key="limits.image.types.copy" value="jpg;png;gif;bmp;emf;wmf;svg" />
    <add key="limits.image.size" value="25000000" />
    <add key="fonts.route" value="OfficeWeb/sdk/Fonts/" />
    <add key="sfc.webrequest.attempcount" value="3" />
    <add key="sfc.webrequest.attempdelay" value="1000" />
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config" />
  <system.web>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <remove verb="POST,GET" path="template.ashx" />
      <remove verb="POST,GET" path="JavaScriptResource.ashx" />
      <remove verb="POST,GET" path="UploadProgress.ashx" />
      <remove verb="POST,GET" path="fckuploader.ashx" />
      <remove verb="POST,GET" path="ajaxupload.ashx" />
      <remove verb="POST,GET" path="ajaxpro/*.ashx" />
    </httpHandlers>
    <httpModules>
      <!--
      <remove name="UploadProgress" />
      <remove name="MobileDetector" />
      <remove name="TcpIpFilter" />
      -->
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <customErrors mode="Off" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- same as in FileConverterService2.exe.config maxdownloadbytes=100000000 -->
        <requestLimits maxAllowedContentLength="100000000" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UploadProgress" />
      <remove name="MobileDetector" />
      <remove name="TcpIpFilter" />
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, &#xD;&#xA;               System.Web, Version=4.0.0.0, Culture=neutral, &#xD;&#xA;               PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <handlers>
      <remove name="Template" />
      <remove name="JavaScriptResource" />
      <remove name="UpProgress" />
      <remove name="FCKUp" />
      <remove name="AjaxUp" />
      <remove name="AjaxPro" />
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler,&#xD;&#xA;           System.Web, Version=2.0.0.0, Culture=neutral,&#xD;&#xA;           PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <staticContent>
      <remove fileExtension=".ods" />
      <remove fileExtension=".odt" />
      <remove fileExtension=".odp" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".json" />
      <remove fileExtension=".epub" />
      <remove fileExtension=".djvu" />
      <remove fileExtension=".xps" />
      <remove fileExtension=".doct" />
      <remove fileExtension=".xlst" />
      <remove fileExtension=".pptt" />
      <remove fileExtension=".fb2" />
      <remove fileExtension=".ttc" />
      <remove fileExtension=".mobi" />
      <remove fileExtension=".prc" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".ods" mimeType="application/vnd.oasis.opendocument.spreadsheet" />
      <mimeMap fileExtension=".odt" mimeType="application/vnd.oasis.opendocument.text" />
      <mimeMap fileExtension=".odp" mimeType="application/vnd.oasis.opendocument.presentation" />
      <mimeMap fileExtension=".epub" mimeType="application/epub+zip" />
      <mimeMap fileExtension=".djvu" mimeType="image/vnd.djvu" />
      <mimeMap fileExtension=".xps" mimeType="application/vnd.ms-xpsdocument" />
      <mimeMap fileExtension=".doct" mimeType="application/doct" />
      <mimeMap fileExtension=".xlst" mimeType="application/xlst" />
      <mimeMap fileExtension=".pptt" mimeType="application/pptt" />
      <mimeMap fileExtension=".fb2" mimeType="text/xml" />
      <mimeMap fileExtension=".ttc" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".otf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".mobi" mimeType="application/x-mobipocket-ebook" />
      <mimeMap fileExtension=".prc" mimeType="application/x-mobipocket-ebook" />
      <mimeMap fileExtension=".template" mimeType="text/html" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <urlCompression doDynamicCompression="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>