$icons-default-path       : '../img/icons/icons-retina.png';
$icons-bullets-image      : '../img/icons/bullets-retina.png';
$icons-numbering-image    : '../img/icons/numbering-retina.png';
$icons-outline-image      : '../img/icons/outline-retina.png';
$icons-setting-list-image : '../img/icons/list-retina.png';

@import 'application-base';