$icons-default-path       : '../img/icons/icons-normal.png';
$icons-bullets-image      : '../img/icons/bullets-normal.png';
$icons-numbering-image    : '../img/icons/numbering-normal.png';
$icons-outline-image      : '../img/icons/outline-normal.png';
$icons-setting-list-image : '../img/icons/list-normal.png';

@import 'application-base';