<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="DebugAppender" />
    </root>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      <add name="dotConnect for MySQL" invariant="Devart.Data.MySql" description="Devart dotConnect for MySQL" type="Devart.Data.MySql.MySqlProviderFactory, Devart.Data.MySql, Version=7.4.164.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" support="FF" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings configSource="ConnectionStrings.config"/>
  <appSettings file="Settings.config">
    <add key="sleeptimeout" value="5"/>
    <add key="sleeptimeoutiddle" value="5"/>
    <add key="maxconverttime" value="60"/>
    <add key="maxconverttimeiddle" value="300"/>
	<add key="maxconverttimequeuedelay" value="20"/>
    <add key="maxconvertiddlefiles" value="5"/>
    <add key="maxdownloadbytes" value="100000000"/>
    <!--number of processes per processor-->
    <add key="maxprocesscount" value="1"/>

    <!--download folder-->
    <add key="fileconverterservice.gc.removedtaskatonce" value="10" />
    <add key="fileconverterservice.gc.runperiod" value="3600" />
    <add key="fileconverterservice.percent.runperiod" value="500" />

    <add key="fileconverterservice.converter.filepath" value="FileConverter2.exe" />
    <add key="fileconverterservice.converter.args" value="" />
	<add key="fileconverterservice.converter.errorfiles" value="error" />
    <add key="fileconverterservice.converter.presentationthemesdir" value="..\presentationthemes" />

    <add key="fileconverterservice.usewinfonts" value="true" />
  </appSettings>
</configuration>
