.x-btn-default-small-icon button,
.x-btn-default-small-icon
.x-btn-inner,
.x-btn-default-small-noicon button,
.x-btn-default-small-noicon .x-btn-inner{
    height: 20px;
    line-height: 20px;
}

.x-ie .x-btn button{
    overflow-x: hidden;
}


/*Window*/
.x-body{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.x-window-body{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.x-mask{
    background-color: transparent;
    opacity: 0.2;

}

.x-window-default{
    background-color: #f4f4f4;
    border-radius: 5px;
    border-style: solid;
    border-width: 0;
    padding: 0px;
	box-shadow: none;
}
.x-window-body-default {
    background: none repeat scroll 0 0 #f4f4f4;
    border-width: 0;
    color: black;
	box-shadow: none;
}
.x-window-body-default-closable{
background: none;

}
.x-window-header-default-top{

    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */


    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 0px;
    padding: 4px;
height:34px;
	box-shadow: none;
}
.x-window-header-text{
color:#898989;
text-align:center;
font-size: 12px;
font-weight:bold;    
padding-top: 5px;
text-shadow: 1px 1px #f8f8f8;
	vertical-align:bottom;
}



.x-window-header-text-container{
width: 100% !important;
}




.x-message-box .x-window-body {
    background-color: #f4f4f4;
    border: none;
}

.x-message-box .x-toolbar-footer {

    margin-bottom: 10px;

}

.x-message-box .ext-mb-error{
background-image: url("../img/controls/icon-error.png");
background-image: -webkit-image-set(url("../img/controls/icon-error.png") 1x, url("../img/controls/icon-error@2x.png") 2x);
height: 37px !important;
}

.x-message-box .ext-mb-warning{
background-image: url("../img/controls/icon-warning.png");
background-image: -webkit-image-set(url("../img/controls/icon-warning.png") 1x, url("../img/controls/icon-warning@2x.png") 2x);
height: 37px !important;
}

.x-message-box .ext-mb-info{
background-image: url("../img/controls/icon-info.png");
background-image: -webkit-image-set(url("../img/controls/icon-info.png") 1x, url("../img/controls/icon-info@2x.png") 2x);
height: 37px !important;
}

.x-docked-bottom{
border: 0 !important;
}

.image-advanced-container.x-item-disabled .x-mask{
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0)
}

.x-tool img.x-tool-close{
background-image: url("../img/controls/but-close.png");
background-image: -webkit-image-set(url("../img/controls/but-close.png") 1x, url("../img/controls/but-close@2x.png") 2x);
background-repeat:no-repeat;
margin-top:2px;
width: 20px;
height: 16px;
}
.x-tool-over .x-tool-close{
background-position: 0 -16px;
}
.x-tool-disabled .x-tool-close{
    background-position: 0 -32px;
}
.x-tool-disabled .x-mask{
    opacity: 0;
}
/*window end*/

/*Toolbar start*/

.x-toolbar{
    border: 1px solid;
    font-size: 11px;
    padding: 2px 0 2px 2px;
}

.x-toolbar-default {
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #cbcbcb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#cbcbcb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 0%,#cbcbcb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 0%,#cbcbcb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 0%,#cbcbcb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 0%,#cbcbcb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */

    border:0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #929292;
}

.x-nlg .x-toolbar-default{
background-image: none !important; /* IE */
    background: -ms-linear-gradient(top,  #ededed 0%,#cbcbcb 100%) !important; /* IE10+ */
    background: -o-linear-gradient(top,  #ededed 0%,#cbcbcb 100%) !important; /* Opera 11.10+ */
}

.x-toolbar .x-toolbar-separator-horizontal {

    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    height: 22px;
    margin: 0 3px 0 2px;
    width: 0;
}

 .x-toolbar-spacer div{
 background-color:#d3d3d3;
 border-bottom: 1px solid #ffffff !important;
 height: 2px !important;
 
 }

.x-btn-default-toolbar-small-icon button{
    width: 20px !important;
    height: 20px;
    padding: 0;
    margin:0;
}

.x-btn-default-toolbar-small-icon .x-btn-icon{
    height: 20px;
    padding: 0;
    margin:0;
    width: 20px !important;
    line-height: 20px;
}

.x-btn-default-toolbar-small-icon button, .x-btn-default-toolbar-small-icon .x-btn-inner, .x-btn-default-toolbar-small-noicon button, .x-btn-default-toolbar-small-noicon .x-btn-inner{
    height: 20px;
    line-height: 20px;
}

.x-btn-default-toolbar-small{padding: 0;}

.x-btn-default-toolbar-small-over, .x-btn-default-toolbar-large-over{
    background: none !important;
}


.x-btn-default-toolbar-small-focus, .x-btn-default-toolbar-large-focus,
.toolbar-btn-placeholder .x-btn-default-small-focus, .toolbar-btn-large-placeholder .x-btn-default-large-focus {
    background: none !important;
    border: 1px solid transparent;
}

.x-btn-default-toolbar-small-pressed, .x-btn-default-toolbar-large-pressed{

    background-clip: border-box;
    background-attachment:fixed;
    background-origin:  border-box !important;
    -moz-background-origin: border !important;
    background-attachment: inherit;


    border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2)!important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow:  0 1px 0 rgba(255, 255, 255, 0.3);
}

.asc-filemenu-btn.x-btn-default-toolbar-small-pressed:after {
    content: '';
    position: absolute;
    right: 0;
    top: 6px;
    border-color: transparent #fff transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 7px;
    margin-right: -1px;
}

.x-btn-default-toolbar-small-over, .x-btn-default-toolbar-large-over{
    background: none;
    border: 1px solid transparent;
}

.x-btn-default-toolbar-small-pressed span {
    color:#FFFFFF !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.x-btn-default-toolbar-small-menu-active, .x-btn-default-toolbar-large-menu-active {
    background-clip: border-box;
    background-attachment:fixed;
    background-origin:  border-box !important;
    -moz-background-origin: border !important;
    background-attachment: inherit;
    border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2)!important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow:  0 1px 0 rgba(255, 255, 255, 0.3);
}

.x-btn-default-toolbar-small-menu-active span{
    color:#FFFFFF !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.x-toolbar .x-btn-split-right{
    background-image: url("../img/controls/s-arrow-noline.gif");
    background-image: -webkit-image-set(url("../img/controls/s-arrow-noline.gif") 1x, url("../img/controls/s-arrow-noline@2x.gif") 2x);
}



.x-btn-disabled .x-btn-split-right,
.x-btn-disabled.x-btn-split-right {
background-image:url("../img/controls/s-arrow-noline-disable.png");
background-image: -webkit-image-set(url("../img/controls/s-arrow-noline-disable.png") 1x, url("../img/controls/s-arrow-noline-disable@2x.png") 2x);

padding-right: 12px !important;
}

.x-btn-disabled .x-btn-arrow-right{
background-image:url("../img/controls/s-arrow-noline-disable.png");
background-image: -webkit-image-set(url("../img/controls/s-arrow-noline-disable.png") 1x, url("../img/controls/s-arrow-noline-disable@2x.png") 2x);
}


.x-btn-arrow {
    background-image: url("../img/controls/s-arrow-noline.gif");
    background-image: -webkit-image-set(url("../img/controls/s-arrow-noline.gif") 1x, url("../img/controls/s-arrow-noline@2x.gif") 2x);
}


/*Toolbar end*/
/*Left toolbar*/
.asc-filemenu-btn.x-btn-default-toolbar-small {
    border-left: 0!important;
    border-radius: 0;
    -moz-border-radius: 0;
}

.asc-filemenu-btn.x-btn-default-toolbar-small span {
    font-size: 13px;
}

.asc-main-menu-buttons .x-btn-icon{

}

.asc-main-menu-buttons {
    width: 40px;
    padding-top:3px;
    padding-left:7px;
    height: 31px;
    line-height: 5px;
}

.asc-main-menu-buttons button{
    width: 24px !important;
    height: 24px;
}

.asc-main-menu-buttons .x-btn-icon{
    height: 24px;
    width: 24px !important;
    line-height: 24px;
}

.asc-main-menu-buttons button, .asc-main-menu-buttons .x-btn-inner {
    height: 24px;
    line-height: 24px;
}

.asc-main-menu-buttons.x-item-disabled button span {
    opacity: 1;
}

.lm-style .asc-main-menu-buttons.x-btn-default-toolbar-small-pressed.asc-main-menu-btn-selected:after {
    content: '';
    position: absolute;
    right: 0;
    top: 7px;
    border-color: transparent #f4f4f4 transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 7px;
    margin-right: -1px;
}

.lm-style .lm-default-toolbar.x-toolbar-default,
.rm-style .rm-default-toolbar.x-toolbar-default {
    border: none !important;
}

.lm-default-toolbar{
    background-image:none;
    background-color:#e9e9e9;
    -moz-box-shadow: inset -1px 0 0 #c8c8c8;
    -webkit-box-shadow: inset -1px 0 0 #c8c8c8;
    box-shadow: inset -1px 0 0 #c8c8c8;
}

.lm-default-toolbar button{
}

.rm-style .asc-main-menu-buttons.x-btn-default-toolbar-small-pressed.asc-main-menu-btn-selected:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    border-color: transparent transparent transparent #f4f4f4;
    border-style: dashed dashed dashed solid;
    border-width: 7px;
    margin-left: -1px;
}

.rm-default-toolbar{
    background-image:none;
    background-color:#e9e9e9;
    -moz-box-shadow: inset 1px 0 0 #c8c8c8;
    -webkit-box-shadow: inset 1px 0 0 #c8c8c8;
    box-shadow: inset 1px 0 0 #c8c8c8;
}

/*Left toolbar end*/
/*Combobox start*/

.x-form-text, textarea.x-form-field{
    /*background: url(../img/controls/text-bg.gif) repeat-x 0 0 white;*/

    background: #FFFFFF; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #e2e2e2 5%, #f1f1f1 6%, #ffffff 45%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(5%,#e2e2e2), color-stop(6%,#f1f1f1), color-stop(45%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#e2e2e2 5%,#f1f1f1 6%,#ffffff 45%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#e2e2e2 5%,#f1f1f1 6%,#ffffff 45%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#e2e2e2 5%,#f1f1f1 6%,#ffffff 45%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#e2e2e2 5%,#f1f1f1 6%,#ffffff 45%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    background-size: auto 22px;
    background-color: #ffffff;
    background-repeat: repeat-x;

    border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow:  0 1px 0 rgba(255, 255, 255, 1);
    border: 1px solid #afafaf;

    margin-right: -1px;
}


.x-form-field .x-form-text{
    border: 1px solid #afafaf;
}

.x-form-trigger-wrap{
    border-radius:0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow:  0 1px 0 rgba(255, 255, 255, 0.3);
}

.x-form-trigger-wrap:parent input{
    border-radius:5px;

}
.x-form-trigger{
    border-bottom:1px solid #afafaf;
    background:url(../img/controls/trigger-square-wot.png) no-repeat scroll right top transparent;
    background-image: -webkit-image-set(url("../img/controls/trigger-square-wot.png") 1x, url("../img/controls/trigger-square-wot@2x.png") 2x);
}

.x-form-trigger.x-form-arrow-trigger{
    border-radius:0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-bottom:1px solid #afafaf;
}

.x-pickerfield-open .x-form-field{
    border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
}


.x-form-trigger-wrap .x-form-spinner-up{
    background: url(../img/controls/spinner-wot.png) left top;
    background-image: -webkit-image-set(url("../img/controls/spinner-wot.png") 1x, url("../img/controls/spinner-wot@2x.png") 2x);
}
.x-form-trigger-wrap .x-form-spinner-up-over{background-position: -17px 0;}
.x-form-trigger-wrap .x-form-spinner-up-click{background-position: -34px 0;}

.x-form-trigger-wrap .x-form-spinner-down{
    background: url(../img/controls/spinner-wot.png) left bottom;
    background-image: -webkit-image-set(url("../img/controls/spinner-wot.png") 1x, url("../img/controls/spinner-wot@2x.png") 2x);
}
.x-form-trigger-wrap .x-form-spinner-down-over{background-position: -17px bottom;}
.x-form-trigger-wrap .x-form-spinner-down-click{background-position: -34px bottom;}
/*Combobox end*/

/*popup start*/
.x-boundlist{
    border-radius: 5px;
    -moz-border-radius: 5px;
    border:0;
    padding-top: 10px;
    padding-bottom: 10px;

    /*  box-shadow: 0 5px 5px rgba(0, 0, 0, 1);*/
}
.x-css-shadow{
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5) !important;
    -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);

}
.x-boundlist-item{
    padding-left: 15px;

}



.x-menu-body{
    background: none repeat scroll 0 0 #FFFFFF !important;

    border-radius: 5px;
    -moz-border-radius: 5px;
    border:0;
    padding: 0;
    overflow:hidden;
}

.x-menu-body .x-box-inner .x-menu-item:first-child{
    border-radius: 5px 5px 0 0;

}
.x-menu-body .x-box-inner .x-menu-item:last-child{
    border-radius:  0 0 5px 5px;
}

.x-menu-body .x-box-inner .x-menu-item:only-child{
    border-radius:  5px 5px 5px 5px;
}

.x-menu-item-active .x-menu-item-link span{

    color: #FFFFFF;
}

.x-box-scroller-bottom .x-menu-scroll-bottom {

    background: url(../img/controls/scroller-arrow-bottom.png) no-repeat scroll center center transparent;
background-image: -webkit-image-set(url("../img/controls/scroller-arrow-bottom.png") 1x, url("../img/controls/scroller-arrow-bottom@2x.png") 2x);
    height: 20px;
}
.x-box-scroller-top .x-menu-scroll-top {

    background: url(../img/controls/scroller-arrow-top.png) no-repeat scroll center center transparent;
background-image: -webkit-image-set(url("../img/controls/scroller-arrow-top.png") 1x, url("../img/controls/scroller-arrow-top@2x.png") 2x);
    height: 20px;
}

.x-menu-item-arrow{
    background:url(../img/controls/parent-arrow.png) no-repeat scroll center center transparent;
background-image: -webkit-image-set(url("../img/controls/parent-arrow.png") 1x, url("../img/controls/parent-arrow@2x.png") 2x);

}

.x-menu-item-checked .x-menu-item-icon{
    background-image: url(../img/controls/menu-check.png);
    background-image: -webkit-image-set(url("../img/controls/menu-check.png") 1x, url("../img/controls/menu-check@2x.png") 2x);
}
.x-menu-item-unchecked .x-menu-item-icon{
    background-image: none;
}

.x-menu-item-checked .x-menu-group-icon{
background-image: url(../img/controls/menu-check.png);
background-image: -webkit-image-set(url("../img/controls/menu-check.png") 1x, url("../img/controls/menu-check@2x.png") 2x);


}
/*popup end*/

/*x-tip start*/
.x-tip{
    background-color: #e9e9e9;
    border: 1px solid #999999;

}
.x-tip-closable .x-tip-header .x-tip-header-body .x-box-inner{
    height: 22px !important;

}
/*x-tip end*/

/*text field */



/*text field  end*/

/*Checkbox start*/
.x-form-checkbox{
    background:url(../img/controls/checkbox.png) no-repeat scroll 0 0 transparent;
    background-image: -webkit-image-set(url("../img/controls/checkbox.png") 1x, url("../img/controls/checkbox@2x.png") 2x);
    height: 16px;
    width: 16px;
    vertical-align: bottom;
}
.x-form-cb-checked .x-form-cb-focus{background-position: 0 -16px;}
.x-form-cb-checked .x-form-checkbox{background-position: 0 -16px;}
.x-form-cb-focus {background-position: -16px 0 ;}
.x-form-cb-label .x-form-cb-label-after{padding-top:2px;}
.x-form-cb-indeterminate .x-form-checkbox{background-position: 0 -48px}


.x-grid-row-checker{
    background:url(../img/controls/checkbox.png) no-repeat scroll 0 0 transparent;
    background-image: -webkit-image-set(url("../img/controls/checkbox.png") 1x, url("../img/controls/checkbox@2x.png") 2x);
    height: 16px;
    width: 16px;

}

.x-grid-row-selected .x-grid-row-checker, .x-grid-row-checked .x-grid-row-checker{

    background:url(../img/controls/checkbox.png) no-repeat scroll 0 0 transparent;
    background-image: -webkit-image-set(url("../img/controls/checkbox.png") 1x, url("../img/controls/checkbox@2x.png") 2x);
    background-position: 0 -16px;
}
/*Checkbox end*/

/*Radiobox start*/
.x-form-radio{
    background:url(../img/controls/radio.png) no-repeat scroll 0 0 transparent;
background-image: -webkit-image-set(url("../img/controls/radio.png") 1x, url("../img/controls/radio@2x.png") 2x);
    height: 16px;
    width: 16px;
    vertical-align: bottom;
}
.x-form-cb-checked .x-form-radio{background-position: 0 -16px;}
/*Radiobox end*/

/*Panel start*/
.x-panel-body-default{
    background-color:#f4f4f4;
    border-width: 0;

}

.asc-right-panel-undocked .asc-right-panel .x-panel-body-default{
    border: 1px solid #dbdbdb;
    border-top: none;
}

.asc-right-panel .x-panel-body-default{
    background-color:#f4f4f4;
}

.x-panel-header-default, .x-nlg .x-panel-header-default{
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    border:1px solid #d1d1d1;
    border-top: 1px solid #fbfbfb;
}

.x-panel-header-default-top {
    box-shadow:none;
}

.x-panel-header-text-container{
    text-align:center;


}
.x-panel-collapsed .x-window-header-default, .x-panel-collapsed .x-panel-header-default{
    border:1px solid #d1d1d1;
    border-top: 1px solid #fbfbfb;
}

.x-panel-header-text-default{

    color:#898989;
    text-shadow: 1px 1px #efefef;

}


.x-tool img{
    background-image:url(../img/controls/tool-sprites.png);
background-image: -webkit-image-set(url("../img/controls/tool-sprites.png") 1x, url("../img/controls/tool-sprites@2x.png") 2x);

}
/*Panel end*/
/*coloor picker*/
.x-color-picker{
    margin: 5px;
}
/*color picker end*/



/*normal button*/
.x-btn-default-small, .x-nlg .x-btn-default-small{
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    -moz-border-radius: 2px;

    background: #f8f8f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );  IE6-9 */

    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    -moz-box-shadow:  0 1px 0 rgba(255, 255, 255, 0.9);

}
.x-btn-default-small-pressed{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    -moz-border-radius: 2px;
    background-clip: border-box;
    background-attachment:fixed;
    background-origin:  border-box !important;
    -moz-background-origin: border !important;
    background-attachment: inherit;

    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    -moz-box-shadow:  0 1px 0 rgba(255, 255, 255, 0.9);

}

.x-nlg .x-btn-default-small-pressed{
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.x-btn-default-small-pressed span{

    color:#FFFFFF !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.asc-acor-btn-left.x-btn-default-small, .asc-acor-btn-left.x-btn-default-small-pressed{
border-radius: 2px 0 0 2px;
}

.asc-acor-btn-right.x-btn-default-small, .asc-acor-btn-right.x-btn-default-small-pressed{
border-radius:  0 2px 2px 0;
border-left: 0;

}

.asc-dialogmenu-btn.x-btn-default-small{
    border: 1px solid transparent;
	background: none;

    box-shadow: none;
	
    border-radius: 0;
    -moz-border-radius: 0;

    padding-right: 10px;
}

.asc-dialogmenu-btn.x-btn-default-small-pressed{
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
border: 1px solid rgba(0, 0, 0, 0.2);
border-left: 0;
border-right: 0;

}

.asc-dialogmenu-btn .x-btn-inner{
    font-weight: bold;
}

/*normal button end*/
/*blue and gray button*/
.asc-darkgray-button.x-btn-default-small, .asc-blue-button.x-btn-default-small{

    border: 1px solid rgba(0, 0, 0, 0.05);
	
    border-radius: 2px;
    -moz-border-radius: 2px;
    background-clip: border-box;
    background-attachment:fixed;
    background-origin:  border-box !important;
    -moz-background-origin: border !important;
    background-attachment: inherit;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0 1px 2px rgba(0, 0, 0, 0.2);
}


.asc-blue-button.x-btn-default-small span{
    color:#FFFFFF !important;
    font-weight:bold;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
}

.asc-darkgray-button.x-btn-default-small{

    border-top: 1px solid #dddddd;
    background:url(../img/controls/button/normal-darkgray-button-bg.gif) repeat-x top !important;
    background-origin:  border-box !important;
    -moz-background-origin: border !important;

    border-bottom: 1px solid #b8b8b8;

}
.asc-darkgray-button.x-btn-default-small span{
    color:#666666 !important;
    font-weight:bold;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.6);
}

.asc-darkgray-button.x-btn-default-small-over, .asc-blue-button.x-btn-default-small-over{

    background-origin:  border-box !important;
    -moz-background-origin: border !important;
    background-position: 0 -150px;
}

.asc-darkgray-button.x-btn-default-small-over{
    border-bottom: 1px solid #cfcfcf;
    background-position: 0 -150px !important;;
}


.asc-darkgray-button.x-btn-default-small-pressed{

    border: 1px solid rgba(0, 0, 0, 0.2);

    background:url(../img/controls/button/normal-darkgray-button-bg.gif) repeat-x 0 -300px !important;

    background-origin:  border-box !important;
    -moz-background-origin: border !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}


/*blue and gray button end*/

.asc-right-container {
    background-color: #EEEEEE;
}

.asc-right-panel,
.asc-right-panel .x-panel-body,
.asc-right-panel .x-form-item{
    font-size: 11px !important;
}
/* application error panel */

.asc-right-panel .x-form-field{
    font-size: 11px !important;
}

.application-error-panel {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: table-cell;
    vertical-align: middle;
    background-color: #f4f4f4;
    z-index: 90000;
}

.application-error-message-block {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.application-error-message-auxiliary {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

.application-error-message-inner {
    width: 550px;
    margin: auto;
    padding: 30px;
    background-color: #e3e3e3;
}

.application-error-message-title {
    font-size: 24px;
    margin: 0 0 14px;
    text-align: center;
}

.application-error-message-text {
    font-size: 14px;
    text-align: center;
}

/* body menu without icons for item */

.no-icons .x-menu-item-link{
    padding: 6px 20px 3px 20px;
}

.x-menu-item-link img {
    margin-top: 3px;
}

.asc-menu-item-unchecked .x-menu-item-icon {
    background:url(../img/controls/menu-item-unchecked.PNG);
background-image: -webkit-image-set(url("../img/controls/menu-item-unchecked.png") 1x, url("../img/controls/menu-item-unchecked@2x.png") 2x);
}

.asc-menu-item-checked .x-menu-item-icon {
    background:url(../img/controls/menu-item-checked.PNG);
background-image: -webkit-image-set(url("../img/controls/menu-item-checked.png") 1x, url("../img/controls/menu-item-checked@2x.png") 2x);
}

.x-vertical-scroller-present{
	border: 1px solid #AFAFAF;
    border-radius: 2px;
    box-shadow: 0 1px 0 #FFFFFF;
	padding:1px;
}
.x-vertical-scroller-present .x-grid-body, .x-vertical-scroller-present .x-scroller-vertical { 
	border:0;
	margin-right: -1px;;
}

.x-grid-header-hidden .x-grid-body {
	border: 1px solid #AFAFAF !important;

}

.x-slider-horz .x-slider-thumb {
    background-image:  url("../img/controls/slider-thumb.png");
    background-image: -webkit-image-set(url("../img/controls/slider-thumb.png") 1x, url("../img/controls/slider-thumb@2x.png") 2x);
}

.x-slider-horz, .x-slider-horz .x-slider-end, .x-slider-horz .x-slider-inner {
    background-image: url("../img/controls/slider-bg.png");
    background-image: -webkit-image-set(url("../img/controls/slider-bg.png") 1x, url("../img/controls/slider-bg@2x.png") 2x);
}

.x-btn-over .x-btn-split-right, .x-btn-pressed .x-btn-split-right {
    background: url(../img/controls/button/s-arrow-d.png) no-repeat scroll right center transparent;
    background-image: -webkit-image-set(url("../img/controls/button/s-arrow-d.png") 1x, url("../img/controls/button/s-arrow-d@2x.png") 2x);
}

.jspDrag{
    background-color: rgba(0,0,0,0.20) !important;
}

/* safari 7.0 */
.safari-7.x-viewport {
    overflow: hidden;
}
.safari-7.x-viewport body {
    overflow: auto;
}
.safari-7 .x-box-layout-ct {
    overflow: initial;
}
.safari-7 .x-box-inner {
    overflow: inherit;
}

.safari-7 .x-toolbar.x-box-item.x-box-layout-ct {
    overflow: hidden;
}

.safari-7 .storage-combodataview .combodataview-auto-width .x-container,
.safari-7 .storage-combodataview .combodataview-auto-width .x-container .x-component {
    overflow: hidden !important;
}

.safari-7.x-viewport body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.safari-7.x-viewport .x-panel-body.x-menu-body.x-panel-body-default {
    overflow: hidden !important;
}

/* IE 10+ */
input[type=text]::-ms-clear {
    display:none;
}