.common-chatpanel {
    -webkit-box-shadow: inset -1px 0 0 #C8C8C8;
       -moz-box-shadow: inset -1px 0 0 #C8C8C8;
            box-shadow: inset -1px 0 0 #C8C8C8;
}

.chat-header {
    color       : #636363;
    font-size   : 14px;
    font-family : Arial,serif;
    padding     : 18px 20px;
    border-bottom: 1px solid #C3C3C3;
}

/*
 * User List
 */

.chat-users-view {
    padding: 5px 0;
}

.chat-users-view .chat-user-wrap {
    padding: 2px 0 2px 20px;
}

.chat-users-view .chat-user-wrap.hidden {
    padding: 0;
    visibility: hidden;
}

.chat-users-view .chat-user-wrap .color {
    width: 12px;
    height: 12px;
    display: inline-block;
}

.chat-users-view .chat-user-wrap .name {
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}


/*
 * Message List
 */

.chat-msg-view {
    border-top: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
}

.chat-msg-view .chat-msg-wrap {
    padding: 5px 0 8px 20px;
    width: 260px;
    /*width: 100%;*/
    padding-right: 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
      word-wrap: break-word;
}

.chat-msg-view .chat-msg-wrap .user {
    font-weight: bold;
    white-space: nowrap;
    display: block;
    -webkit-user-select: text;
     -khtml-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
         -o-user-select: text;
            user-select: text;
}

.chat-msg-view .chat-msg-wrap .message {
    word-wrap: break-word;
    -webkit-user-select: text;
     -khtml-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
         -o-user-select: text;
            user-select: text;
}

.chat-msg-view .chat-msg-wrap .message.service {
    text-align: center;
    color: #CECECE;
    text-shadow: 0 1px 0 #ffffff;
    padding-right: 20px;
}

/*
 * Send form
 */

.add-msg-container {
    padding: 0 20px;
}

.btn-send-msg.x-btn-default-small {
    min-width: 90px;
    text-align: center;
    max-width: 150px;
    overflow: hidden;
}