.comment-popover-root {
    position: absolute;
    z-index: 10;
    margin: -32px 0 0 15px;
}

.comment-popover-root.left-sided {
    margin: -32px 15px 0 0;
}

.common-commentspopover {
    border-radius: 5px;
    background-color: #F4F4F4;
    overflow: visible;

        -moz-box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.5);
     -webkit-box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.5);
             box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.5);
}

.common-commentspopover .x-box-inner {
    overflow: visible;
}

.common-commentspopover .popover-arrow {
    position: absolute;
    overflow: hidden;
    left: -20px;
    top: 20px;
    width: 20px;
    height: 30px;
}

.left-sided .common-commentspopover .popover-arrow {
    left: 100%;
}

.common-commentspopover .popover-arrow:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 13px;
    background-color: #F4F4F4;
    width: 15px;
    height: 15px;

        -moz-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
          -o-transform: rotate(45deg);
             transform: rotate(45deg);

       -moz-box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.2);
}

.left-sided .common-commentspopover .popover-arrow:after {
    left: -7px;
    -moz-box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.2);
}

.common-commentspopover.lock .popover-arrow:after {
    background-color: #F4F4F4;
}

.common-commentspopover .comments-view {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.common-commentspopover .comments-view .comment-wrap.hidden {
    display: none;
}

.common-commentspopover .comments-view .comment-wrap {
    padding: 0 0 0 15px;
    width: 245px;
}

.common-commentspopover .comments-view .comment-wrap .comment {
    margin-top: 5px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.common-commentspopover .comments-view .edit-info {
    margin: 0 0 10px;
}

.common-commentspopover .comments-view .replys .edit-info {
    margin: 0;
}

.common-commentspopover .lock-area {
    display: none;
}

.common-commentspopover .lock-author {
    display: none;
}

.common-commentspopover.lock .lock-area {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #F4F4F4;
    opacity: 0.5;
    border-radius: 5px;
}

.common-commentspopover.lock .lock-author {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 150px;
    line-height: 20px;
    background-color: #EE3525;
    margin: 12px;
    padding: 3px 8px;
    color: white;
    font-family: arial, tahoma, helvetica, sans-serif;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 100px;
    text-align: center;
}

.common-commentspopover .comments-view .x-clear{
    height: 0;
}

.common-commentspopover .controls-reply-container {
    padding: 5px 15px 10px;
}

.common-commentspopover .reply-link-container {
    margin-left: 15px;
    padding: 5px 0 10px 0;
}