.storage-data-view{
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.storage-data-view .x-view-context{
}

.storage-data-view .thumb{
    background: #333;
    padding: 0;
    position: relative;
}

.storage-data-view .thumb img{
}

.storage-data-view .thumb-wrap .title{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 10px;
    color: #737474;
    padding: 0 5px;
    margin-bottom: 5px;
    cursor: default;
    text-overflow: ellipsis;
    height: 1.2em;
    overflow: hidden;
    text-align: center;
}

.storage-data-view .thumb-wrap{
    display: inline-block;
    float: left;
    margin: 4px;
    margin-right: 0;
    text-align: center;
    width: auto;
    position: relative;
    border:1px solid rgba(172, 172, 172, 0.5);
    padding: 1px;
    overflow: hidden;
}

.storage-data-view .x-item-over{
    border:2px solid #9a9a9a;
    padding: 0;
}

.storage-data-view .x-item-selected{
    border:2px solid #9a9a9a;
    padding: 0;
}