.storage-combodataview{
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #c3c3c3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.storage-combodataview .x-view-context{
}

.storage-combodataview .thumb{
    background: #333;
    padding: 0;
    position: relative;
}

.storage-combodataview .thumb-wrap{
    display: inline-block;
    float: left;
    padding: 2px 2px 0;
    margin-right: 2px;
    text-align: center;
    width: auto;
    position: relative;
}

.storage-combodataview .thumb-wrap .title{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 10px;
    color: #737474;
    padding: 0 5px;
    margin-bottom: 5px;
    cursor: default;
    text-overflow: ellipsis;
    height: 1.2em;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

.storage-combodataview .x-item-over{
    background: #E7E8E8;
    padding: 2px 2px 0;
}

.storage-combodataview .x-item-selected{
    background: #7698DE;
    padding: 2px 2px 0;
}

.storage-combodataview .emptyText{
    text-align: center;
    padding-top: 15px;
    color: #999;
}

/* menu */

.x-dataview-combo-menu .storage-data-view{
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1px 20px 1px 1px;
}

.x-dataview-combo-menu .storage-data-view .x-view-context{
}

.x-dataview-combo-menu .storage-data-view .thumb{
    background: #333;
    padding: 0;
    position: relative;
}

.x-dataview-combo-menu .storage-data-view .thumb img{
}

.x-dataview-combo-menu .storage-data-view .thumb-wrap{
    display: inline-block;
    float: left;
    padding: 2px 2px 0;
    margin: 0 2px 4px 0;
    text-align: center;
    width: auto;
    position: relative;
    border: none;
}

.x-dataview-combo-menu .storage-data-view .x-item-over{
    border: none !important;
    background: #efefef;
    padding: 2px 2px 0;
}

.x-dataview-combo-menu .storage-data-view .x-item-selected{
    border: none !important;
    background: #7698DE;
    padding: 2px 2px 0;
}

/* button */

.x-btn-combodataview {
    background: url(../img/controls/button/s-arrow-d.png) no-repeat scroll right center transparent;
    background-image: -webkit-image-set(url("../img/controls/button/s-arrow-d.png") 1x, url("../img/controls/button/s-arrow-d@2x.png") 2x);
}

.x-btn-combodataview.x-btn-default-small {
    background: url(../img/controls/button/s-arrow-d.png) no-repeat scroll right center transparent;
    background-image: -webkit-image-set(url("../img/controls/button/s-arrow-d.png") 1x, url("../img/controls/button/s-arrow-d@2x.png") 2x);
    border: none;
}
.x-btn-combodataview.x-btn-default-small-pressed{
    background: url(../img/controls/button/s-arrow-d-over.png) no-repeat scroll right center transparent !important;
    background-image: -webkit-image-set(url("../img/controls/button/s-arrow-d-over.png") 1x, url("../img/controls/button/s-arrow-d-over@2x.png") 2x) !important;
}

.storage-combodataview.x-item-disabled .x-mask{
    opacity: 0;
}

.storage-combodataview.x-item-disabled{
    opacity: 0.6;
}

.combodataview-auto-width {
    width: auto !important;
}
