
.grouped-data-view {
    padding: 10px 10px 14px 12px;
    background-color: white;
    border-radius: 5px;
}

.asc-grouped-data {
    clear:left;
    overflow: hidden;
    margin: 2px;
    padding: 2px;
}

.asc-grouped-data .group-description {
    float:left;
    height: 55px;
    line-height: 55px;
}

.group-description .description-text {
    font-weight: bold;
    font-size: 11px;
}

.asc-grouped-data .group-items-container{
    height: 55px;
    width: 216px;
    right: 0;
    position: absolute;
    overflow: hidden;
    margin: 2px 2px 2px 2px;
}

.group-items-container .group-item{
    float:left;
    width: 52px;
    height: 52px;
    margin: 0 0 0 14px;
}

.group-item span {
    position: absolute;
}

.group-item {
    padding: 1px;
    border: 1px solid rgba(172, 172, 172, 0.5);
}
.group-item.x-item-selected {
    padding: 0;
    border:2px solid #b8b8b8;
}

.group-item.group-item-over {
    /*outline: 2px solid #b8b8b8;*/
    padding: 0;
    border:2px solid #b8b8b8;
    cursor: pointer;
}

.asc-grouped-data-selector:not(:last-child) {
    height: 2px;
}
