.common-header {
    color: #e8e8e8;
    padding: 0 5px;
    background: #434343;
    font-size: 14px;
    font-family: arial, tahoma, verdana, sans-serif;
}

.common-header #header-logo {
    display: inline-block;
    background-image: url('../img/header/header-logo.png');
    background-image: -webkit-image-set(url("../img/header/header-logo.png") 1x, url("../img/header/header-logo@2x.png") 2x);
    background-repeat: no-repeat;
    width: 125px;
    height: 30px;
    cursor: pointer;
}

.common-header div {
    vertical-align: middle;
}

.common-header span {
    vertical-align: middle;
    padding: 0 4px;
    cursor: default;
}

.common-header #header-caption {
    font-size: 14px;
}

.common-header #header-documentcaption {
    font-weight: bold;
    color: #ffffff;
}

.common-header #header-back {
    float: right;
    padding-top: 7px;
    text-decoration: underline;
    display: none;
}

.common-header #header-back:hover {
    cursor: pointer;
}