.cmp-hsb-colorpicker-top-panel {
    height: 22px;
    margin: 0 0 10px;
}

.cmp-hsb-colorpicker-color-value {
    width: 22px;
    height: 22px;
    float: left;
    border: 1px solid #C4C4C4;
    background-image: none;
    background-position: 0 -206px;
    background-repeat: no-repeat;
}

.cmp-hsb-colorpicker-color-value .transparent-color {
    width: 22px;
    height: 22px;
    float: left;
    background: url("../img/hsbcolorpicker/hsb-colorpicker.png") 0 -206px no-repeat;
background-image: -webkit-image-set(url("../img/hsbcolorpicker/hsb-colorpicker.png") 1x, url("../img/hsbcolorpicker/hsb-colorpicker@2x.png") 2x);
    /*visibility: hidden;*/
}

.cmp-hsb-colorpicker-color-text {
    color: #464646;
    height: 22px;
    padding: 4px 32px;
    cursor: default;
}

.cmp-hsb-colorpicker-cnt-hb {
    display: inline-block;
    overflow: hidden;
    width: 195px;
    height: 196px;
    position: relative;
    border: 1px solid #C4C4C4;
    background: url("../img/hsbcolorpicker/hsb-colorpicker.png") 0 0 no-repeat;
background-image: -webkit-image-set(url("../img/hsbcolorpicker/hsb-colorpicker.png") 1x, url("../img/hsbcolorpicker/hsb-colorpicker@2x.png") 2x);
}

.cmp-hsb-colorpicker-cnt-root {
    display: inline-block;
    width: 10px;
    height: 196px;
    margin: 0 8px;
}

.cmp-hsb-colorpicker-cnt-sat {
    width: 10px;
    height: 100%;
    position: relative;
    border: 1px solid #C4C4C4;
    background: url("../img/hsbcolorpicker/hsb-colorpicker.png") -195px 0 no-repeat;
background-image: -webkit-image-set(url("../img/hsbcolorpicker/hsb-colorpicker.png") 1x, url("../img/hsbcolorpicker/hsb-colorpicker@2x.png") 2x);
}

.cmp-hsb-colorpicker-cnt-hb-arrow {
    width: 9px;
    height: 9px;
    margin: -4px;
    position: absolute;
    background: url("../img/hsbcolorpicker/hsb-colorpicker.png") 0 -196px no-repeat;
background-image: -webkit-image-set(url("../img/hsbcolorpicker/hsb-colorpicker.png") 1x, url("../img/hsbcolorpicker/hsb-colorpicker@2x.png") 2x);
}

.cmp-hsb-colorpicker-cnt-sat-arrow {
    width: 14px;
    height: 9px;
    margin: -4px -3px;
    position: absolute;
    background: url("../img/hsbcolorpicker/hsb-colorpicker.png") -11px -196px no-repeat;
background-image: -webkit-image-set(url("../img/hsbcolorpicker/hsb-colorpicker.png") 1x, url("../img/hsbcolorpicker/hsb-colorpicker@2x.png") 2x);
}

.cmp-hsb-colorpicker-empty-color {
    color: #464646;
    height: 16px;
    margin: 5px 0;
}

.cmp-hsb-colorpicker-empty-color:hover {
    cursor: pointer;
    background-color: #efefef;
}

.cmp-hsb-colorpicker-empty-color:active {
    background-color: #cecece;
}

.cmp-hsb-colorpicker-empty-color:before {
    content: "";
    background: url("../img/hsbcolorpicker/hsb-colorpicker.png") -26px -196px no-repeat;
background-image: -webkit-image-set(url("../img/hsbcolorpicker/hsb-colorpicker.png") 1x, url("../img/hsbcolorpicker/hsb-colorpicker@2x.png") 2x);
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: 1px;
    border: 1px solid #C4C4C4;
}
