.cmd-loadmask {
    z-index: 20001;
    position: absolute;
    top: 0; left: 0;
    width: 300px;
    padding: 20px;
    border: none;
    background-image: none;
    background-color: rgba(30,30,30,0.7);
    color: #e3e3e3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 33px;
}

.cmd-loadmask-image {
    background-image: url("../img/load-mask/loading.gif");
    height: 33px;
    width: 33px;
    float: left;
    margin-left: 20px;
}

.cmd-loadmask-title {
    font: 13px arial;
    margin: 0 20px;
    vertical-align: middle;
    display: inline-block;
}

.cmd-loadmask .cmd-loadmask-pwd-ct {
    text-align: center;
    margin-top: 19px;
    margin-bottom: -7px;
    padding-top: 11px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    color: #d4d4d4
}

.cmd-loadmask .cmd-loadmask-pwd-ct .cmd-loadmask-pwd-by {
    line-height: 14px;
    font-size: 10px;
}

.cmd-loadmask .cmd-loadmask-pwd-ct .cmd-loadmask-pwd-tm {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}
