/* search field */
.common-searchfield {
    border: 1px solid #AFAFAF;
    background: url(../img/controls/text-bg.gif);
}

.common-searchfield .x-form-text {
    /*height: 18px;*/
    border-radius: 0px;
    border: none;
    /*background-image: none;*/
}

.common-searchfield .x-btn-default-small button {
    width: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
}

.common-searchfield .x-btn-default-small,
        .common-searchfield .x-btn-default-small-pressed {
    border: none;
    background: none !important;
}

.search-btn-start-icon, .search-btn-clear-icon, .search-btn-stop-icon {
    background-image: url(../img/searchfield/search.png);
    background-image: -webkit-image-set(url(../img/searchfield/search.png) 1x, url(../img/searchfield/search@2x.png) 2x);
}

.search-btn-start-icon      {    background-position: 0 -64px;}
.search-btn-clear-icon      {    background-position: 0 0;}
.x-btn-pressed .search-btn-clear-icon {    background-position: 0 -16px;}
.search-btn-stop-icon                 {    background-position: 0 -32px;}
.x-btn-pressed .search-btn-stop-icon  {    background-position: 0 -48px;}

.x-btn-pressed .search-btn-start-icon {
    background-image: url(../img/searchfield/search-progress.gif);
    background-position: center;
}

.common-searchfield .x-form-text::-ms-clear {
    display: none;
}

.common-searchfield .x-field {
    margin: 0;
}
