.cmp-theme-colorpalette.x-color-picker {
    margin: 0 !important;
}

.cmp-theme-colorpalette.x-color-picker em span{
    height: 12px;
    width: 12px;
}

.cmp-theme-colorpalette.x-color-picker em {
    border: none;
}

.cmp-theme-colorpalette.x-color-picker a {
    padding: 0;
}

.cmp-theme-colorpalette.x-color-picker a:hover{
    border-color: #000;
    background-color: #000;
}

.cmp-theme-colorpalette.x-color-picker a.x-color-picker-selected {
    border-color: #000;
    background-color: #000;
}

.cmp-theme-colorpalette .dynamic-empty-color em span {
    border:solid 1px #C0C0C0;
    background:#ffffff
}

.cmp-theme-colorpalette.x-color-picker a:hover em span,
.cmp-theme-colorpalette.x-color-picker .color-transparent.x-color-picker-selected em span {
    border:none;
}

.cmp-theme-colorpalette .color-transparent {
    background-image: url(../img/themecolorpalette/nocolor.png);
background-image: -webkit-image-set(url("../img/themecolorpalette/nocolor.png") 1x, url("../img/themecolorpalette/nocolor@2x.png") 2x);
}

.cmp-theme-colorpalette .color-transparent em span {
    border:solid 1px #C0C0C0;
}

.common-extendedcolordialog #field-start-color.color-transparent {
    background-image: url(../img/hsbcolorpicker/transparent-color.png);
background-image: -webkit-image-set(url("../img/hsbcolorpicker/transparent-color.png") 1x, url("../img/hsbcolorpicker/transparent-color@2x.png") 2x);
    background-size: cover;
}