<?xml version="1.0"?>
<appSettings>
  <add key="utils.common.fontdir" value="D:\Subversion\AVS\Sources\AVSOfficeStudio\OfficeWebCommon\TM_Fonts_Generator\Generations\Input"/>
  <!--Access credentinals-->
  <add key="AWSAccessKey" value="AKIAJXWUXR4MUL4MKZMA"/>
  <add key="AWSSecretKey" value="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"/>
  
  <add key="utils.storage.impl" value="fs"/>
  
  <!--S3 storage settings-->
  <add key="utils.storage.s3.region" value="us-west-2"/>
  <add key="utils.storage.s3.bucketname" value="static-doc.teamlab.com"/>
  <add key="utils.storage.s3.foldername" value="storage"/>
  <add key="utils.storage.s3.readbuffersize" value="5242880" />

  <!--Filesystem storage settings-->
  <add key="utils.storage.fs.keyfiles" value="E:\Subversion\AVS\Sources\TeamlabOffice\trunk\wwwroot\files"/>
  
  <add key="utils.taskresult.impl" value="db"/>
  <add key="utils.taskresult.ttl" value="7.00:00:00"/>
  <add key="utils.taskresult.db.connectionstring" value="ConnectionString2"/>
  
  <add key="utils.taskqueue.impl" value="db"/>
  <add key="utils.taskqueue.db.connectionstring" value="ConnectionString2"/>
  
  <add key="utils.filestatistic.impl" value="db"/>
  <add key="utils.filestatistic.db.connectionstring" value="ConnectionString2"/>
  
  <!--SQS settings-->
  <add key="utils.taskqueue.sqs.lp" value="https://sqs.us-west-2.amazonaws.com/997789372772/document-tasks-queue-high-priority" />
  <add key="utils.taskqueue.sqs.np" value="https://sqs.us-west-2.amazonaws.com/997789372772/document-tasks-queue-high-priority" />
  <add key="utils.taskqueue.sqs.hp" value="https://sqs.us-west-2.amazonaws.com/997789372772/document-tasks-queue-high-priority" />
</appSettings>