// Basic
$base-color                 : #cbcbcb;
$active-color               : #798d45;
$base-gradient              : 'matte';
$include-default-icons      : false;
$include-default-uis        : false;

// Toolbar
$toolbar-icon-size          : 1.0em;

// Setting list
$settinglist-icon-size      : 24px;
$settinglist-image-width    : 72px;
$settinglist-image-height   : 48px;

// Image default icons
$icons-default-size         : 24px;
$icons-default-image-width  : 72px;
$icons-default-image-height : 624px;

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

@import 'common-buttons';
@import 'common-dataview';
@import 'common-toolbar';
@import 'common-settingspanel';
@import 'common-planarspinner';
@import 'common-settingslist';
@import 'common-messagebox';

@import 'application-mixins';
//@import 'application-dataview';

@include common-settings-panel;
@include common-planar-spinner;

@include common-toolbar-ui('edit', $base-color);
@include common-toolbar-ui('search', $base-color);

@include application-icon-normal('save',          0);
@include application-icon-normal('undo',          1);
@include application-icon-normal('share',         2);
@include application-icon-normal('font-style',    3);
@include application-icon-normal('font-color',    4);
@include application-icon-normal('bold',          5);
@include application-icon-normal('italic',        6);
@include application-icon-normal('underline',     7);
@include application-icon-normal('align-left',    8);
@include application-icon-normal('align-center',  9);
@include application-icon-normal('align-right',   10);
@include application-icon-normal('align-fill',    11);
@include application-icon-normal('pages',         12);
@include application-icon-normal('search-prev',   13);
@include application-icon-normal('search-next',   14);
@include application-icon-normal('insert',        15);
@include application-icon-normal('search',        16);
@include application-icon-normal('fullscreen',    17);
@include application-icon-normal('spinner-down',  18);
@include application-icon-normal('spinner-up',    19);
@include application-icon-normal('table',         20);
@include application-icon-normal('picture',       21);
@include application-icon-normal('insert-row',    22);
@include application-icon-normal('insert-column', 23);
@include application-icon-normal('textbigger',    24);
@include application-icon-normal('textless',      25);


@include common-button-ui('base',       $base-color);
@include common-button-ui('light',      lighten($base-color, 100%));
@include common-button-ui('base-blue',  $active-color, 'dark');
@include common-button-ui('back',       $base-color);

/*
 *  unsupport
 */

//TODO: need retina resolution
.unsuported-view {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/ios-only.png) no-repeat center #efefef;
    background-attachment: fixed;
    z-index: 90000;
}

/*
 * Additional styles
 */

.x-button.text-offset-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.x-button.text-offset-30 {
  padding-left: 30px;
  padding-right: 30px;
}