.asc-advanced-settings-window .x-window-body,
.asc-advanced-settings-window .x-form-item,
.asc-advanced-settings-window .x-form-field {
    font-size: 11px !important;
}

.advanced-settings-separator {
    background: repeat-y left top url('../img/imgage-settings-advanced-separator.png');
    background-image: -webkit-image-set(url("../img/imgage-settings-advanced-separator.png") 1x, url("../img/imgage-settings-advanced-separator@2x.png") 2x);
}

.image-advanced-container.x-item-disabled .x-mask{
    opacity: 0;
}

.asc-advanced-settings-position-btn {
    background-image: url('../img/right-panels/LargeBorders.png')  !important;
    background-image: -webkit-image-set(url("../img/right-panels/LargeBorders.png") 1x, url("../img/right-panels/LargeBorders@2x.png") 2x)  !important;
}

.x-btn.btn-adv-position-all           {    background-position:   0     0 !important;}
.x-btn-over.btn-adv-position-all      {    background-position:   -31px 0 !important;}
.x-btn-pressed.btn-adv-position-all,
.x-btn-focus.btn-adv-position-all     {    background-position:   -62px 0 !important;}
.x-btn-disabled.btn-adv-position-all  {    background-position:   -93px 0 !important;}

.x-btn.btn-adv-position-inner           {    background-position:   0     -31px !important;}
.x-btn-over.btn-adv-position-inner      {    background-position:   -31px -31px !important;}
.x-btn-pressed.btn-adv-position-inner,
.x-btn-focus.btn-adv-position-inner     {    background-position:   -62px -31px !important;}
.x-btn-disabled.btn-adv-position-inner  {    background-position:   -93px -31px !important;}

.x-btn.btn-adv-position-none           {    background-position:   0     -62px !important;}
.x-btn-over.btn-adv-position-none      {    background-position:   -31px -62px !important;}
.x-btn-pressed.btn-adv-position-none,
.x-btn-focus.btn-adv-position-none     {    background-position:   -62px -62px !important;}
.x-btn-disabled.btn-adv-position-none  {    background-position:   -93px -62px !important;}

.x-btn.btn-adv-position-outer           {    background-position:   0     -93px !important;}
.x-btn-over.btn-adv-position-outer      {    background-position:   -31px -93px !important;}
.x-btn-pressed.btn-adv-position-outer,
.x-btn-focus.btn-adv-position-outer     {    background-position:   -62px -93px !important;}
.x-btn-disabled.btn-adv-position-outer  {    background-position:   -93px -93px !important;}

.x-btn.asc-advanced-settings-position-btn button {
    width: 31px !important;
    height: 31px;
    line-height: 31px;
    padding: 0;
	margin:0;
}

.x-btn.asc-advanced-settings-position-btn .x-btn-inner{
    height: 31px;
    line-height: 31px;
}

.x-btn.asc-advanced-settings-position-btn
{
    padding: 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
}
.advanced-btn-ratio {
    background-image: url('../img/button_ratio.png');
    background-position: -2px -2px;
    background-image: -webkit-image-set(url("../img/button_ratio.png") 1x, url("../img/button_ratio@2x.png") 2x);
}
.x-btn-over .advanced-btn-ratio    {background-position: -22px  -2px;}
.x-btn-pressed .advanced-btn-ratio {background-position: -42px  -2px;}
.x-btn-menu-active .advanced-btn-ratio {background-position: -42px  -2px;}
.x-btn-disabled .advanced-btn-ratio {background-position: -62px  -2px;}
.x-btn-disabled .advanced-btn-ratio {background-position: -62px  -2px;}
