.pe-documentpreview {
    background: #ebebeb;
}

.pe-documentpreview .preview-slides{
    font: bold 11px Helvetica, Arial, Verdana, sans-serif;
    color: #666666;
    text-shadow: none;
    white-space: nowrap;
    cursor: pointer;
}


.pe-documentpreview .x-btn-default-small{
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    background: transparent;
    box-shadow: none;
    -moz-box-shadow: none;
}


.pe-documentpreview .x-btn-default-small-pressed{
    border: 1px solid rgba(0, 0, 0, 0)!important;
    background: none !important;
    box-shadow: none !important;
}
.pe-documentpreview .x-btn-default-small button {
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
}

.pe-documentpreview .x-btn-default-small-icon .asc-slide-preview-btn{
    width: 20px !important;
    height: 20px !important;
}

/* icons */

.asc-slide-preview-btn{
    background-image: url('../img/controls/play_controls.png');
    background-image: -webkit-image-set(url("../img/controls/play_controls.png") 1x, url("../img/controls/play_controls@2x.png") 2x);
}

/* prev */
.btn-prev                      {background-position: 0      0;}
.x-btn-over .btn-prev          {background-position: -20px  0;}
.x-btn-pressed .btn-prev       {background-position: -40px  0;}
.x-btn-menu-active .btn-prev   {background-position: -40px  0;}
.x-btn-disabled .btn-prev      {background-position: -60px  0;}

/* next */
.btn-next                     {background-position: 0      -20px;}
.x-btn-over .btn-next         {background-position: -20px  -20px;}
.x-btn-pressed .btn-next      {background-position: -40px  -20px;}
.x-btn-menu-active .btn-next  {background-position: -40px  -20px;}
.x-btn-disabled .btn-next     {background-position: -60px  -20px;}

/* close */
.btn-close                         {background-position: 0      -40px;}
.x-btn-over .btn-close             {background-position: -20px  -40px;}
.x-btn-pressed .btn-close          {background-position: -40px  -40px;}
.x-btn-menu-active .btn-close      {background-position: -40px  -40px;}
.x-btn-disabled .btn-close         {background-position: -60px  -40px;}

/* play */
.btn-play                         {background-position: 0      -60px;}
.x-btn-over .btn-play             {background-position: -20px  -60px;}
.x-btn-pressed .btn-play          {background-position: -40px  -60px;}
.x-btn-menu-active .btn-play      {background-position: -40px  -60px;}
.x-btn-disabled .btn-play         {background-position: -60px  -60px;}

/* pause */
.btn-pause                         {background-position: 0      -80px;}
.x-btn-over .btn-pause             {background-position: -20px  -80px;}
.x-btn-pressed .btn-pause          {background-position: -40px  -80px;}
.x-btn-menu-active .btn-pause      {background-position: -40px  -80px;}
.x-btn-disabled .btn-pause         {background-position: -60px  -80px;}
