.pe-documentholder {
    background-color: #EAEAEB;
}

.slidenum-div {
    background-color: #fcfed7;
    border-radius: 0;
    padding: 3px 8px;
    color: #000;
    font: 11px Arial;
}

.username-tip {
    background-color: #ee3525;
    border: none;
    border-radius: 0;
    padding: 2px 10px;
    color: #ffffff;
    font-family: arial;
    font-size: 11px;
}

/* safari 7.0 */
.safari-7 .x-box-layout-ct {
    overflow: inherit;
}

.safari-7 .x-box-inner::-webkit-scrollbar,
.safari-7 .x-box-layout-ct::-webkit-scrollbar {
    width: 0;
    height: 0;
}