.pe-file-createnew {
    padding: 20px;
}

.pe-file-createnew hr {
    margin: 0;
    border-bottom: none;
    border-color: #e1e1e1;
}

.pe-file-createnew h3 {
    font: 10pt arial, tahoma, verdana, sans-serif;
    font-weight: bold;
    color: #666;
    padding: 0 0 10px 10px;
    white-space: nowrap;
}

.blank-document {
    min-width: 650px;
}

.btn-blank-document {
    float: left;
    margin: 25px 15px 65px 20px;
    background: url("../img/file-templates-blank.png") 0 0 no-repeat;
    background-image: -webkit-image-set(url("../img/file-templates-blank.png") 1x, url("../img/file-templates-blank@2x.png") 2x);
    width: 128px;
    height: 128px;
    cursor: pointer;
}

.btn-blank-document.over {
    background-position: -128px 0;
}

.blank-document-info {
    float: left;
    width: 445px;
}

.blank-document-info h3 {
    padding-left: 0;
    padding-top: 40px;
    white-space: nowrap;
}

.container-template-list .jspPane {
    min-height: 100%;
}

.container-template-list .thumb-wrap {
    display: inline-block;
    float: left;
    text-align: center;
    width: auto;
    padding: 30px 20px;
    cursor: pointer;
}

.container-template-list .thumb-wrap .thumb {
    width: 128px;
    height: 128px;
    background: url("../img/file-template-default.png") 0 0 no-repeat;
    background-image: -webkit-image-set(url("../img/file-templates-default.png") 1x, url("../img/file-templates-default@2x.png") 2x);
}

.container-template-list .thumb-wrap .title {
    padding-top: 20px;
}

.container-template-list .empty-text {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #B2B2B2;
}