.lm-style .x-toolbar-default,
.lm-style .x-panel-default,
.lm-style .x-toolbar {
    /*background-image: none;*/
    border-top: 1px solid #c8c8c8 !important;
    border-right: 1px solid #c8c8c8 !important;
    border-bottom: none !important;
    padding-left: 0;
	 filter: none;
	 background-image: none !important;
	 
    background-color: #e9e9e9 !important;
}


.rm-style .x-toolbar-default,
.rm-style .x-toolbar {
    border-top: 1px solid #c8c8c8 !important;
    border-left: 1px solid #c8c8c8 !important;
    border-bottom: none !important;
    padding-left: 0;
    filter: none;
    background-image: none !important;

    background-color: #e9e9e9 !important;
}

.lm-body,
.rm-body {
    border: none !important;
}

.lm-default-toolbar .x-btn-default-toolbar-small,
.rm-default-toolbar .x-btn-default-toolbar-small {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.splitter-document-area {
    background-color: #d3d3d3;
}

.splitter-document-area .x-mask {
    background-color: #d3d3d3;
    opacity: 1;
}

.splitter-document-area.x-item-disabled{
    opacity: 1;
}

.menuFile, .menuSearch, .menuSlides, .menuChat, .menuComments, .menuAbout,
.menuText, .menuTable, .menuImage, .menuShape, .menuSlide, .menuChart {
    background-image: url("../img/toolbar-menu.png");
    background-image: -webkit-image-set(url("../img/toolbar-menu.png") 1x, url("../img/toolbar-menu@2x.png") 2x);
    margin: auto !important;
}

/*menuFile*/
.menuFile                       {    background-position: 0 -1348px;}
.x-btn-over .menuFile           {    background-position: -24px -1348px;}
.x-btn-pressed .menuFile,
.x-btn-menu-active .menuFile    {    background-position: -48px -1348px;}
.x-btn-disabled .menuFile       {    background-position: -72px -1348px;}

/*menuSearch*/
.menuSearch                     {    background-position: 0 -1372px;}
.x-btn-over .menuSearch         {    background-position: -24px -1372px;}
.x-btn-pressed .menuSearch,
.x-btn-menu-active .menuSearch  {    background-position: -48px -1372px;}
.x-btn-disabled .menuSearch     {    background-position: -72px -1372px;}

/*menuSlides*/
.menuSlides                   {    background-position: 0 -1396px;}
.x-btn-over .menuSlides       {    background-position: -24px -1396px;}
.x-btn-pressed .menuSlides,
.x-btn-menu-active .menuSlides{    background-position: -48px -1396px;}
.x-btn-disabled .menuSlides   {    background-position: -72px -1396px;}

/*menuChat*/
.menuChat                       {    background-position: 0 -1300px;}
.x-btn-over .menuChat           {    background-position: -24px -1300px;}
.x-btn-pressed .menuChat,
.x-btn-menu-active .menuChat    {    background-position: -48px -1300px;}
.x-btn-disabled .menuChat       {    background-position: -72px -1300px;}

/*menuComments*/
.menuComments                   {    background-position: 0 -1420px;}
.x-btn-over .menuComments       {    background-position: -24px -1420px;}
.x-btn-pressed .menuComments,
.x-btn-menu-active .menuComments{    background-position: -48px -1420px;}
.x-btn-disabled .menuComments   {    background-position: -72px -1420px;}

/*menuAbout*/
.menuAbout                      {    background-position: 0 -1587px;}
.x-btn-over .menuAbout          {    background-position: -24px -1587px;}
.x-btn-pressed .menuAbout,
.x-btn-menu-active .menuAbout   {    background-position: -48px -1587px;}
.x-btn-disabled .menuAbout      {    background-position: -72px -1587px;}

/*menuText*/
.menuText                       {    background-position: 0 -1516px;}
.x-btn-over .menuText           {    background-position: -24px -1516px;}
.x-btn-pressed .menuText,
.x-btn-menu-active .menuText    {    background-position: -48px -1516px;}
.x-btn-disabled .menuText       {    background-position: -72px -1516px;}

/*menuImage*/
.menuImage                       {    background-position: 0 -1492px;}
.x-btn-over .menuImage           {    background-position: -24px -1492px;}
.x-btn-pressed .menuImage,
.x-btn-menu-active .menuImage    {    background-position: -48px -1492px;}
.x-btn-disabled .menuImage       {    background-position: -72px -1492px;}

/*menuTable*/
.menuTable                       {    background-position: 0 -1540px;}
.x-btn-over .menuTable           {    background-position: -24px -1540px;}
.x-btn-pressed .menuTable,
.x-btn-menu-active .menuTable    {    background-position: -48px -1540px;}
.x-btn-disabled .menuTable       {    background-position: -72px -1540px;}

/*menuSlide*/
.menuSlide                       {    background-position: 0 -1444px;}
.x-btn-over .menuSlide           {    background-position: -24px -1444px;}
.x-btn-pressed .menuSlide,
.x-btn-menu-active .menuSlide    {    background-position: -48px -1444px;}
.x-btn-disabled .menuSlide       {    background-position: -72px -1444px;}

/*menuShape*/
.menuShape                       {    background-position: 0 -1468px;}
.x-btn-over .menuShape           {    background-position: -24px -1468px;}
.x-btn-pressed .menuShape,
.x-btn-menu-active .menuShape    {    background-position: -48px -1468px;}
.x-btn-disabled .menuShape       {    background-position: -72px -1468px;}

/*menuChart*/
.menuChart                       {    background-position: 0 -1564px;}
.x-btn-over .menuChart           {    background-position: -24px -1564px;}
.x-btn-pressed .menuChart,
.x-btn-menu-active .menuChart    {    background-position: -48px -1564px;}
.x-btn-disabled .menuChart       {    background-position: -72px -1564px;}

.notify .asc-main-menu-btn                  {    background-position: 0  -1324px;}
.notify.x-btn-over .asc-main-menu-btn       {    background-position: -24px -1324px;}
.notify.x-btn-pressed .asc-main-menu-btn,
.notify.x-btn-menu-active .asc-main-menu-btn{    background-position: -48px -1324px;}

.asc-btn-search {
    background-image: url('../img/btns-search.png') !important;
    background-image: -webkit-image-set(url("../img/btns-search.png") 1x, url("../img/btns-search@2x.png") 2x) !important;
}