
.asc-toolbar-btn {
    background-image: url('../img/toolbar-menu.png');
    background-image: -webkit-image-set(url("../img/toolbar-menu.png") 1x, url("../img/toolbar-menu@2x.png") 2x);
}

/* back */
.btn-back                           {background-position: 0      -80px;}
.x-btn-over .btn-back               {background-position: -20px  -80px;}
.x-btn-pressed .btn-back            {background-position: -40px  -80px;}
.x-btn-menu-active .btn-back        {background-position: -40px  -80px;}
.x-btn-disabled .btn-back           {background-position: -60px  -80px;}

/* print */
.btn-print                          {background-position: 0      -540px;}
.x-btn-over .btn-print              {background-position: -20px  -540px;}
.x-btn-pressed .btn-print           {background-position: -40px  -540px;}
.x-btn-menu-active .btn-print       {background-position: -40px  -540px;}
.x-btn-disabled .btn-print          {background-position: -60px  -540px;}

/* save */
.btn-save                           {background-position: 0      -580px;}
.x-btn-over .btn-save               {background-position: -20px  -580px;}
.x-btn-pressed .btn-save            {background-position: -40px  -580px;}
.x-btn-menu-active .btn-save        {background-position: -40px  -580px;}
.x-btn-disabled .btn-save           {background-position: -60px  -580px;}

/* synch */
.btn-synch                           {background-position: 0      -1147px;}
.x-btn-over .btn-synch               {background-position: -20px  -1147px;}
.x-btn-pressed .btn-synch            {background-position: -40px  -1147px;}
.x-btn-menu-active .btn-synch        {background-position: -40px  -1147px;}
.x-btn-disabled .btn-synch           {background-position: -60px  -1147px;}

/* copy */
.btn-copy                           {background-position: 0      -180px;}
.x-btn-over .btn-copy               {background-position: -20px  -180px;}
.x-btn-pressed .btn-copy            {background-position: -40px  -180px;}
.x-btn-menu-active .btn-copy        {background-position: -40px  -180px;}
.x-btn-disabled .btn-copy           {background-position: -60px  -180px;}

/* paste */
.btn-paste                          {background-position: 0      -520px;}
.x-btn-over .btn-paste              {background-position: -20px  -520px;}
.x-btn-pressed .btn-paste           {background-position: -40px  -520px;}
.x-btn-menu-active .btn-paste       {background-position: -40px  -520px;}
.x-btn-disabled .btn-paste          {background-position: -60px  -520px;}

/* undo */
.btn-undo                           {background-position: 0      -720px;}
.x-btn-over .btn-undo               {background-position: -20px  -720px;}
.x-btn-pressed .btn-undo            {background-position: -40px  -720px;}
.x-btn-menu-active .btn-undo        {background-position: -40px  -720px;}
.x-btn-disabled .btn-undo           {background-position: -60px  -720px;}

/* redo */
.btn-redo                           {background-position: 0      -560px;}
.x-btn-over .btn-redo               {background-position: -20px  -560px;}
.x-btn-pressed .btn-redo            {background-position: -40px  -560px;}
.x-btn-menu-active .btn-redo        {background-position: -40px  -560px;}
.x-btn-disabled .btn-redo           {background-position: -60px  -560px;}

/* bold */
.btn-bold                           {background-position: 0      -100px;}
.x-btn-over .btn-bold               {background-position: -20px  -100px;}
.x-btn-pressed .btn-bold            {background-position: -40px  -100px;}
.x-btn-menu-active .btn-bold        {background-position: -40px  -100px;}
.x-btn-disabled .btn-bold           {background-position: -60px  -100px;}

/* italic */
.btn-italic                         {background-position: 0      -380px;}
.x-btn-over .btn-italic             {background-position: -20px  -380px;}
.x-btn-pressed .btn-italic          {background-position: -40px  -380px;}
.x-btn-menu-active .btn-italic      {background-position: -40px  -380px;}
.x-btn-disabled .btn-italic         {background-position: -60px  -380px;}

/* underline */
.btn-underline                      {background-position: 0      -700px;}
.x-btn-over .btn-underline          {background-position: -20px  -700px;}
.x-btn-pressed .btn-underline       {background-position: -40px  -700px;}
.x-btn-menu-active .btn-underline   {background-position: -40px  -700px;}
.x-btn-disabled .btn-underline      {background-position: -60px  -700px;}

/* strike */
.btn-strike                         {background-position: 0      -640px;}
.x-btn-over .btn-strike             {background-position: -20px  -640px;}
.x-btn-pressed .btn-strike          {background-position: -40px  -640px;}
.x-btn-menu-active .btn-strike      {background-position: -40px  -640px;}
.x-btn-disabled .btn-strike         {background-position: -60px  -640px;}

/* superscript */
.btn-superscript                    {background-position: 0      -680px;}
.x-btn-over .btn-superscript        {background-position: -20px  -680px;}
.x-btn-pressed .btn-superscript     {background-position: -40px  -680px;}
.x-btn-menu-active .btn-superscript {background-position: -40px  -680px;}
.x-btn-disabled .btn-superscript    {background-position: -60px  -680px;}

/* subscript */
.btn-subscript                      {background-position: 0      -660px;}
.x-btn-over .btn-subscript          {background-position: -20px  -660px;}
.x-btn-pressed .btn-subscript       {background-position: -40px  -660px;}
.x-btn-menu-active .btn-subscript   {background-position: -40px  -660px;}
.x-btn-disabled .btn-subscript      {background-position: -60px  -660px;}

/* fontcolor */
.btn-fontcolor                      {background-position: 0      -280px;}
.x-btn-over .btn-fontcolor          {background-position: -20px  -280px;}
.x-btn-pressed .btn-fontcolor       {background-position: -40px  -280px;}
.x-btn-menu-active .btn-fontcolor   {background-position: -40px  -280px;}
.x-btn-disabled .btn-fontcolor      {background-position: -60px  -280px;}

/* numbering */
.btn-numbering                      {background-position: 0      -460px;}
.x-btn-over .btn-numbering          {background-position: -20px  -460px;}
.x-btn-pressed .btn-numbering       {background-position: -40px  -460px;}
.x-btn-menu-active .btn-numbering   {background-position: -40px  -460px;}
.x-btn-disabled .btn-numbering      {background-position: -60px  -460px;}

/* setmarkers */
.btn-setmarkers                     {background-position: 0      -420px;}
.x-btn-over .btn-setmarkers         {background-position: -20px  -420px;}
.x-btn-pressed .btn-setmarkers      {background-position: -40px  -420px;}
.x-btn-menu-active .btn-setmarkers  {background-position: -40px  -420px;}
.x-btn-disabled .btn-setmarkers     {background-position: -60px  -420px;}

/* decoffset */
.btn-decoffset                      {background-position: 0      -220px;}
.x-btn-over .btn-decoffset          {background-position: -20px  -220px;}
.x-btn-pressed .btn-decoffset       {background-position: -40px  -220px;}
.x-btn-menu-active .btn-decoffset   {background-position: -40px  -220px;}
.x-btn-disabled .btn-decoffset      {background-position: -60px  -220px;}

/* incoffset */
.btn-incoffset                      {background-position: 0      -300px;}
.x-btn-over .btn-incoffset          {background-position: -20px  -300px;}
.x-btn-pressed .btn-incoffset       {background-position: -40px  -300px;}
.x-btn-menu-active .btn-incoffset   {background-position: -40px  -300px;}
.x-btn-disabled .btn-incoffset      {background-position: -60px  -300px;}

/* copystyle */
.btn-copystyle                      {background-position: 0      -200px;}
.x-btn-over .btn-copystyle          {background-position: -20px  -200px;}
.x-btn-pressed .btn-copystyle       {background-position: -40px  -200px;}
.x-btn-menu-active .btn-copystyle   {background-position: -40px  -200px;}
.x-btn-disabled .btn-copystyle      {background-position: -60px  -200px;}

/* clearstyle */
.btn-clearstyle                     {background-position: 0      -140px;}
.x-btn-over .btn-clearstyle         {background-position: -20px  -140px;}
.x-btn-pressed .btn-clearstyle      {background-position: -40px  -140px;}
.x-btn-menu-active .btn-clearstyle  {background-position: -40px  -140px;}
.x-btn-disabled .btn-clearstyle     {background-position: -60px  -140px;}

/* inserttable */
.btn-inserttable                    {background-position: 0      -360px;}
.x-btn-over .btn-inserttable        {background-position: -20px  -360px;}
.x-btn-pressed .btn-inserttable     {background-position: -40px  -360px;}
.x-btn-menu-active .btn-inserttable {background-position: -40px  -360px;}
.x-btn-disabled .btn-inserttable    {background-position: -60px  -360px;}

/* insertimage */
.btn-insertimage                    {background-position: 0      -340px;}
.x-btn-over .btn-insertimage        {background-position: -20px  -340px;}
.x-btn-pressed .btn-insertimage     {background-position: -40px  -340px;}
.x-btn-menu-active .btn-insertimage {background-position: -40px  -340px;}
.x-btn-disabled .btn-insertimage    {background-position: -60px  -340px;}

/* insert hyperlink */
.btn-inserthyperlink                       {background-position: 0      -881px;}
.x-btn-over .btn-inserthyperlink           {background-position: -20px  -881px;}
.x-btn-pressed .btn-inserthyperlink        {background-position: -40px  -881px;}
.x-btn-menu-active .btn-inserthyperlink    {background-position: -40px  -881px;}
.x-btn-disabled .btn-inserthyperlink       {background-position: -60px  -881px;}

/* hidenchars */
.btn-hidenchars                     {background-position: 0      -740px;}
.x-btn-over .btn-hidenchars         {background-position: -20px  -740px;}
.x-btn-pressed .btn-hidenchars      {background-position: -40px  -740px;}
.x-btn-menu-active .btn-hidenchars  {background-position: -40px  -740px;}
.x-btn-disabled .btn-hidenchars     {background-position: -60px  -740px;}

/* inserttext */
.btn-text                      {background-position: 0      -861px;}
.x-btn-over .btn-text          {background-position: -20px  -861px;}
.x-btn-pressed .btn-text       {background-position: -40px  -861px;}
.x-btn-menu-active .btn-text   {background-position: -40px  -861px;}
.x-btn-disabled .btn-text      {background-position: -60px  -861px;}

/* insertfigure */
.btn-insertshape                      {background-position: 0      -841px;}
.x-btn-over .btn-insertshape          {background-position: -20px  -841px;}
.x-btn-pressed .btn-insertshape       {background-position: -40px  -841px;}
.x-btn-menu-active .btn-insertshape   {background-position: -40px  -841px;}
.x-btn-disabled .btn-insertshape      {background-position: -60px  -841px;}

/* align-left */
.halign-left .btn-halign                    {background-position: 0      -40px;}
.halign-left.x-btn-over .btn-halign         {background-position: -20px  -40px;}
.halign-left.x-btn-pressed .btn-halign      {background-position: -40px  -40px;}
.halign-left.x-btn-menu-active .btn-halign  {background-position: -40px  -40px;}
.halign-left.x-btn-disabled .btn-halign     {background-position: -60px  -40px;}

/* align-center */
.halign-center .btn-halign                   {background-position: 0      0;}
.halign-center.x-btn-over .btn-halign        {background-position: -20px  0;}
.halign-center.x-btn-pressed .btn-halign     {background-position: -40px  0;}
.halign-center.x-btn-menu-active .btn-halign {background-position: -40px  0;}
.halign-center.x-btn-disabled .btn-halign    {background-position: -60px  0;}

/* align-right */
.halign-right .btn-halign                   {background-position: 0      -60px;}
.halign-right.x-btn-over .btn-halign        {background-position: -20px  -60px;}
.halign-right.x-btn-pressed .btn-halign     {background-position: -40px  -60px;}
.halign-right.x-btn-menu-active .btn-halign {background-position: -40px  -60px;}
.halign-right.x-btn-disabled .btn-halign    {background-position: -60px  -60px;}

/* align-just */
.halign-just .btn-halign                   {background-position: 0      -20px;}
.halign-just.x-btn-over .btn-halign        {background-position: -20px  -20px;}
.halign-just.x-btn-pressed .btn-halign     {background-position: -40px  -20px;}
.halign-just.x-btn-menu-active .btn-halign {background-position: -40px  -20px;}
.halign-just.x-btn-disabled .btn-halign    {background-position: -60px  -20px;}

/* align-left */
.btn-align-left                     {background-position: 0      -40px;}
.x-btn-over .btn-align-left         {background-position: -20px  -40px;}
.x-btn-pressed .btn-align-left      {background-position: -40px  -40px;}
.x-btn-menu-active .btn-align-left  {background-position: -40px  -40px;}
.x-btn-disabled .btn-align-left     {background-position: -60px  -40px;}

/* align-middle */
.btn-valign-middle                     {background-position: 0      -800px;}
.x-btn-over .btn-valign-middle         {background-position: -20px  -800px;}
.x-btn-pressed .btn-valign-middle      {background-position: -40px  -800px;}
.x-btn-menu-active .btn-valign-middle  {background-position: -40px  -800px;}
.x-btn-disabled .btn-valign-middle     {background-position: -60px  -800px;}

/* vertical align top */
.valign-top .btn-vertalign                     {background-position: 0      -780px;}
.valign-top.x-btn-over .btn-vertalign          {background-position: -20px  -780px;}
.valign-top.x-btn-pressed .btn-vertalign       {background-position: -40px  -780px;}
.valign-top.x-btn-menu-active .btn-vertalign   {background-position: -40px  -780px;}
.valign-top.x-btn-disabled .btn-vertalign      {background-position: -60px  -780px;}

/* vertical align middle */
.valign-middle .btn-vertalign                     {background-position: 0      -800px;}
.valign-middle.x-btn-over .btn-vertalign          {background-position: -20px  -800px;}
.valign-middle.x-btn-pressed .btn-vertalign       {background-position: -40px  -800px;}
.valign-middle.x-btn-menu-active .btn-vertalign   {background-position: -40px  -800px;}
.valign-middle.x-btn-disabled .btn-vertalign      {background-position: -60px  -800px;}

/* vertical align bottom */
.valign-bottom .btn-vertalign                     {background-position: 0      -820px;}
.valign-bottom.x-btn-over .btn-vertalign          {background-position: -20px  -820px;}
.valign-bottom.x-btn-pressed .btn-vertalign       {background-position: -40px  -820px;}
.valign-bottom.x-btn-menu-active .btn-vertalign   {background-position: -40px  -820px;}
.valign-bottom.x-btn-disabled .btn-vertalign      {background-position: -60px  -820px;}

/* linespace */
.btn-linespace                      {background-position: 0      -400px;}
.x-btn-over .btn-linespace          {background-position: -20px  -400px;}
.x-btn-pressed .btn-linespace       {background-position: -40px  -400px;}
.x-btn-menu-active .btn-linespace   {background-position: -40px  -400px;}
.x-btn-disabled .btn-linespace      {background-position: -60px  -400px;}

/* changeslide */
.btn-changeslide                      {background-position: 0      -941px;}
.x-btn-over .btn-changeslide          {background-position: -20px  -941px;}
.x-btn-pressed .btn-changeslide       {background-position: -40px  -941px;}
.x-btn-menu-active .btn-changeslide   {background-position: -40px  -941px;}
.x-btn-disabled .btn-changeslide      {background-position: -60px  -941px;}

/* preview */
.btn-preview                      {background-position: 0      -760px;}
.x-btn-over .btn-preview          {background-position: -20px  -760px;}
.x-btn-pressed .btn-preview       {background-position: -40px  -760px;}
.x-btn-menu-active .btn-preview   {background-position: -40px  -760px;}
.x-btn-disabled .btn-preview      {background-position: -60px  -760px;}

/* arrange shape*/
.btn-arrange-shape                      {background-position: 0      -901px;}
.x-btn-over .btn-arrange-shape          {background-position: -20px  -901px;}
.x-btn-pressed .btn-arrange-shape       {background-position: -40px  -901px;}
.x-btn-menu-active .btn-arrange-shape   {background-position: -40px  -901px;}
.x-btn-disabled .btn-arrange-shape      {background-position: -60px  -901px;}

/* align shape*/
.btn-align-shape                      {background-position: 0      -921px;}
.x-btn-over .btn-align-shape          {background-position: -20px  -921px;}
.x-btn-pressed .btn-align-shape       {background-position: -40px  -921px;}
.x-btn-menu-active .btn-align-shape   {background-position: -40px  -921px;}
.x-btn-disabled .btn-align-shape      {background-position: -60px  -921px;}


/* addslide */
.x-btn-default-toolbar-small-icon .btn-addslide                     {background-position: 0      -1127px;}
.x-btn-default-toolbar-small-icon.x-btn-over .btn-addslide          {background-position: -20px  -1127px;}
.x-btn-default-toolbar-small-icon.x-btn-pressed .btn-addslide       {background-position: -40px  -1127px;}
.x-btn-default-toolbar-small-icon.x-btn-menu-active .btn-addslide   {background-position: -40px  -1127px;}
.x-btn-default-toolbar-small-icon.x-btn-disabled .btn-addslide      {background-position: -60px  -1127px;}

.x-btn-default-toolbar-large-icon .btn-addslide                     {background-position: 0      -960px;}
.x-btn-default-toolbar-large-icon.x-btn-over .btn-addslide          {background-position: -40px  -960px;}
.x-btn-default-toolbar-large-icon.x-btn-pressed .btn-addslide       {background-position: 0  -993px;}
.x-btn-default-toolbar-large-icon.x-btn-menu-active .btn-addslide   {background-position: 0  -993px;}
.x-btn-default-toolbar-large-icon.x-btn-disabled .btn-addslide      {background-position: -40px  -993px;}

/* color schemas */
.btn-colorschemas                      {background-position: 0      -1026px;}
.x-btn-over .btn-colorschemas          {background-position: -20px  -1026px;}
.x-btn-pressed .btn-colorschemas       {background-position: -40px  -1026px;}
.x-btn-menu-active .btn-colorschemas   {background-position: -40px  -1026px;}
.x-btn-disabled .btn-colorschemas      {background-position: -60px  -1026px;}

/* slide size */
.btn-slidesize                      {background-position: 0      -1048px;}
.x-btn-over .btn-slidesize          {background-position: -20px  -1048px;}
.x-btn-pressed .btn-slidesize       {background-position: -40px  -1048px;}
.x-btn-menu-active .btn-slidesize   {background-position: -40px  -1048px;}
.x-btn-disabled .btn-slidesize      {background-position: -60px  -1048px;}

/* hide bars */
.btn-hidebars                       {background-position: 0      -1068px;}
.x-btn-over .btn-hidebars           {background-position: -20px  -1068px;}
.x-btn-pressed .btn-hidebars        {background-position: -40px  -1068px;}
.x-btn-menu-active .btn-hidebars    {background-position: -40px  -1068px;}
.x-btn-disabled .btn-hidebars       {background-position: -60px  -1068px;}

/* settings */
.btn-settings                       {background-position: 0      -1088px;}
.x-btn-over .btn-settings           {background-position: -20px  -1088px;}
.x-btn-pressed .btn-settings        {background-position: -40px  -1088px;}
.x-btn-menu-active .btn-settings    {background-position: -40px  -1088px;}
.x-btn-disabled .btn-settings       {background-position: -60px  -1088px;}

/* insert chart */
.btn-insertchart                       {background-position: 0      -1107px;}
.x-btn-over .btn-insertchart           {background-position: -20px  -1107px;}
.x-btn-pressed .btn-insertchart        {background-position: -40px  -1107px;}
.x-btn-menu-active .btn-insertchart    {background-position: -40px  -1107px;}
.x-btn-disabled .btn-insertchart       {background-position: -60px  -1107px;}

.color-palette-highlight.x-color-picker em span {
    height: 28px;
    width: 28px;
}

.menu-item-noicon .x-menu-item-link {
    padding-left: 18px;
    padding-right: 18px;
}

.storage-data-view .thumb-wrap {
    cursor: pointer;
}

.x-dimension-picker-status {
    padding-bottom: 8px;
}

.x-menu-item-icon.menu-item-nocolor {
    background-image: url(../img/toolbar/NoFill.png);
    background-image: -webkit-image-set(url("../img/toolbar/NoFill.png") 1x, url("../img/toolbar/NoFill@2x.png") 2x);
    margin-top: 0;
}

/*menu horizontal and vertical align */
.toolbar-menu-icon-item .x-menu-item-link {
    padding: 6px 11px 3px 36px !important;
}

.toolbar-menu-icon-item:last-child .x-menu-item-link {
    padding-bottom: 8px !important;
}

.mnu-icon-item {
    width: 22px;
    height: 22px;
    margin-top: 0 !important;
    margin-left: 5px;
}

.x-menu-item-icon.mnu-align-left,
.x-menu-item-icon.mnu-align-center,
.x-menu-item-icon.mnu-align-right,
.x-menu-item-icon.mnu-align-just,
.x-menu-item-icon.mnu-align-top,
.x-menu-item-icon.mnu-align-middle,
.x-menu-item-icon.mnu-align-bottom,
.x-menu-item-icon.mnu-arrange-front,
.x-menu-item-icon.mnu-arrange-back,
.x-menu-item-icon.mnu-arrange-forward,
.x-menu-item-icon.mnu-arrange-backward,
.x-menu-item-icon.mnu-group,
.x-menu-item-icon.mnu-ungroup,
.x-menu-item-icon.mnu-distrib-hor,
.x-menu-item-icon.mnu-distrib-vert,
.x-menu-item-icon.mnu-shape-align-left,
.x-menu-item-icon.mnu-shape-align-center,
.x-menu-item-icon.mnu-shape-align-right,
.x-menu-item-icon.mnu-shape-align-top,
.x-menu-item-icon.mnu-shape-align-middle,
.x-menu-item-icon.mnu-shape-align-bottom {
    background-image: url('../img/toolbar/popupmenu-btns.png');
    background-image: -webkit-image-set(url("../img/toolbar/popupmenu-btns.png") 1x, url("../img/toolbar/popupmenu-btns@2x.png") 2x);
}

/* align-left */
.x-menu-item-icon.mnu-align-left                        {background-position: 0      -66px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-left   {background-position: -44px  -66px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-left    {background-position: -22px  -66px;}

/* align-center */
.x-menu-item-icon.mnu-align-center                        {background-position: 0      0;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-center   {background-position: -44px  0;}
.x-menu-item-active .x-menu-item-icon.mnu-align-center    {background-position: -22px  0;}

/* align-right */
.x-menu-item-icon.mnu-align-right                        {background-position: 0      -44px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-right   {background-position: -44px  -44px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-right    {background-position: -22px  -44px;}

/* align-just */
.x-menu-item-icon.mnu-align-just                        {background-position: 0      -22px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-just   {background-position: -44px  -22px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-just    {background-position: -22px  -22px;}

/* align-top */
.x-menu-item-icon.mnu-align-top                        {background-position: 0      -132px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-top   {background-position: -44px  -132px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-top    {background-position: -22px  -132px;}

/* align-middle */
.x-menu-item-icon.mnu-align-middle                        {background-position: 0      -88px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-middle   {background-position: -44px  -88px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-middle    {background-position: -22px  -88px;}

/* align-bottom */
.x-menu-item-icon.mnu-align-bottom                        {background-position: 0      -110px;}
.x-menu-item-checked .x-menu-item-icon.mnu-align-bottom   {background-position: -44px  -110px;}
.x-menu-item-active .x-menu-item-icon.mnu-align-bottom    {background-position: -22px  -110px;}

/* arrange-front */
.x-menu-item-icon.mnu-arrange-front                        {background-position: 0      -154px;}
.x-menu-item-checked .x-menu-item-icon.mnu-arrange-front   {background-position: -44px  -154px;}
.x-menu-item-active .x-menu-item-icon.mnu-arrange-front    {background-position: -22px  -154px;}

/* arrange-back */
.x-menu-item-icon.mnu-arrange-back                        {background-position: 0      -176px;}
.x-menu-item-checked .x-menu-item-icon.mnu-arrange-back   {background-position: -44px  -176px;}
.x-menu-item-active .x-menu-item-icon.mnu-arrange-back    {background-position: -22px  -176px;}

/* arrange-forward */
.x-menu-item-icon.mnu-arrange-forward                        {background-position: 0      -198px;}
.x-menu-item-checked .x-menu-item-icon.mnu-arrange-forward   {background-position: -44px  -198px;}
.x-menu-item-active .x-menu-item-icon.mnu-arrange-forward    {background-position: -22px  -198px;}

/* arrange-backward */
.x-menu-item-icon.mnu-arrange-backward                        {background-position: 0      -220px;}
.x-menu-item-checked .x-menu-item-icon.mnu-arrange-backward   {background-position: -44px  -220px;}
.x-menu-item-active .x-menu-item-icon.mnu-arrange-backward    {background-position: -22px  -220px;}

/* group */
.x-menu-item-icon.mnu-group                        {background-position: 0      -242px;}
.x-menu-item-checked .x-menu-item-icon.mnu-group   {background-position: -44px  -242px;}
.x-menu-item-active .x-menu-item-icon.mnu-group    {background-position: -22px  -242px;}

/* ungroup */
.x-menu-item-icon.mnu-ungroup                        {background-position: 0      -264px;}
.x-menu-item-checked .x-menu-item-icon.mnu-ungroup   {background-position: -44px  -264px;}
.x-menu-item-active .x-menu-item-icon.mnu-ungroup    {background-position: -22px  -264px;}

/* distribute horizontally */
.x-menu-item-icon.mnu-distrib-hor                        {background-position: 0      -418px;}
.x-menu-item-checked .x-menu-item-icon.mnu-distrib-hor   {background-position: -44px  -418px;}
.x-menu-item-active .x-menu-item-icon.mnu-distrib-hor    {background-position: -22px  -418px;}

/* distribute vertically */
.x-menu-item-icon.mnu-distrib-vert                        {background-position: 0      -440px;}
.x-menu-item-checked .x-menu-item-icon.mnu-distrib-vert   {background-position: -44px  -440px;}
.x-menu-item-active .x-menu-item-icon.mnu-distrib-vert    {background-position: -22px  -440px;}

/* shape-align-left */
.x-menu-item-icon.mnu-shape-align-left                        {background-position: 0      -286px;}
.x-menu-item-checked .x-menu-item-icon.mnu-shape-align-left   {background-position: -44px  -286px;}
.x-menu-item-active .x-menu-item-icon.mnu-shape-align-left    {background-position: -22px  -286px;}

/* shape-align-center */
.x-menu-item-icon.mnu-shape-align-center                        {background-position: 0      -308px;}
.x-menu-item-checked .x-menu-item-icon.mnu-shape-align-center   {background-position: -44px  -308px;}
.x-menu-item-active .x-menu-item-icon.mnu-shape-align-center    {background-position: -22px  -308px;}

/* shape-align-right */
.x-menu-item-icon.mnu-shape-align-right                        {background-position: 0      -330px;}
.x-menu-item-checked .x-menu-item-icon.mnu-shape-align-right   {background-position: -44px  -330px;}
.x-menu-item-active .x-menu-item-icon.mnu-shape-align-right    {background-position: -22px  -330px;}

/* shape-align-top */
.x-menu-item-icon.mnu-shape-align-top                        {background-position: 0      -352px;}
.x-menu-item-checked .x-menu-item-icon.mnu-shape-align-top   {background-position: -44px  -352px;}
.x-menu-item-active .x-menu-item-icon.mnu-shape-align-top    {background-position: -22px  -352px;}

/* shape-align-middle */
.x-menu-item-icon.mnu-shape-align-middle                        {background-position: 0      -374px;}
.x-menu-item-checked .x-menu-item-icon.mnu-shape-align-middle   {background-position: -44px  -374px;}
.x-menu-item-active .x-menu-item-icon.mnu-shape-align-middle    {background-position: -22px  -374px;}

/* shape-align-bottom */
.x-menu-item-icon.mnu-shape-align-bottom                        {background-position: 0      -396px;}
.x-menu-item-checked .x-menu-item-icon.mnu-shape-align-bottom   {background-position: -44px  -396px;}
.x-menu-item-active .x-menu-item-icon.mnu-shape-align-bottom    {background-position: -22px  -396px;}

/* slide picker menu */
.slide-picker .storage-data-view .main-thumb{
    display: inline-block;
    float: left;
    margin: 4px;
    margin-right: 2;
    text-align: center;
    position: relative;
}

.slide-picker .storage-data-view .thumb-wrap{
    display: block;
    float: none;
    margin: 0;
}

.slide-picker .storage-data-view .thumb-wrap:not(.x-item-selected){
    border: 1px solid transparent;
}

.slide-picker .storage-data-view .caption{
    overflow: hidden;
}

.slide-picker .storage-data-view .main-thumb .caption span{
    font-size: 10px;
    color: #3e3f3f;
    cursor: default;
    text-overflow: ellipsis;
    height: 1.2em;
    overflow: hidden;
    text-align: center;
    white-space: normal;
}

.asc-color-schemas-menu .x-menu-item-link {
    line-height: 12px;
    padding-bottom:6px;
}

.asc-color-schemas-menu span.colors {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.asc-color-schemas-menu span.color {
    display: inline-block;
    width:12px;
    height:12px;
    margin-right: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.asc-color-schemas-menu span.text {
    display: inline-block;
    font-size: 11px;
    vertical-align: top;
}

.menu-item-color-palette-theme .x-menu-item-link {
    padding-left: 12px;
}

.x-btn-disabled span.asc-toolbar-btn {
    opacity: 1;
}

.x-item-disabled.asc-toolbar-combo{
    opacity: 0.4;
}

.asc-toolbar-btn-zoom.x-btn-default-small{
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    background: transparent;
    box-shadow: none;
    -moz-box-shadow: none;
}


.asc-toolbar-btn-zoom.x-btn-default-small-pressed{
    border: 1px solid rgba(0, 0, 0, 0)!important;
    background: none !important;
    box-shadow: none !important;
}

.asc-toolbar-btn-zoom.x-btn-default-small button {
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
}

.asc-toolbar-btn-zoom.x-btn-default-small-icon .asc-statusbar-btn{
    width: 20px !important;
    height: 20px !important;
}

/* Chart menu*/
.chart-data-view {
    padding: 10px 10px 14px 12px;
}

.chart-data-view .asc-grouped-data {
    padding: 2px 2px 2px 12px;
}

.chart-data-view .asc-grouped-data:first-child {
    margin-top: 10px;
}

.chart-data-view .asc-grouped-data .group-description {
    width: 125px;
}

.chart-data-view .asc-grouped-data .group-items-container{
    width: 202px;
    float: left;
    position: relative;
}

.chart-data-view .asc-grouped-data-selector:last-child {
    height: 6px;
}

.chart-subtype {
    background-image:url(../img/toolbar/charttypes.png);
    background-image: -webkit-image-set(url(../img/toolbar/charttypes.png) 1x, url(../img/toolbar/charttypes@2x.png) 2x);
    width: 50px;
    height: 50px;
}

.line-stack {
    background-position: -50px 0;
}

.line-pstack {
    background-position: -100px 0;
}

.column-normal {
    background-position: 0 -50px;
}

.column-stack{
    background-position: -50px -50px;
}

.column-pstack{
    background-position: -100px -50px;
}

.bar-normal {
    background-position: 0 -100px;
}

.bar-stack{
    background-position: -50px -100px;
}

.bar-pstack{
    background-position: -100px -100px;
}

.area-normal {
    background-position: 0 -150px;
}

.area-stack{
    background-position: -50px -150px;
}

.area-pstack{
    background-position: -100px -150px;
}

.pie-normal {
    background-position: 0 -200px;
}

.point-normal{
    background-position: -50px -200px;
}

.stock-normal{
    background-position: -100px -200px;
}

/*
 * Manual layout toolbar
 */

.toolbar-group {
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
    padding: 0 0 0 9px;
}

.toolbar-group.separator {
    margin-left: 7px;
}

.toolbar-row {
    height: 22px;
    margin: 4px 0 0;
}

.toolbar-btn-placeholder {
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 0;
}

.toolbar-btn-large-placeholder {
    display: inline-block;
    width: 49px;
    height: 40px;
}

.toolbar-btn-placeholder.document-loading {
    opacity: 0.6;
}

.toolbar-btn-placeholder .x-btn-default-small-pressed,
.toolbar-btn-placeholder .x-btn-default-small-menu-active,
.toolbar-btn-placeholder .x-btn-default-large-pressed,
.toolbar-btn-placeholder .x-btn-default-large-menu-active,
.toolbar-btn-large-placeholder .x-btn-default-large-pressed,
.toolbar-btn-large-placeholder .x-btn-default-large-menu-active {
    background: #E68656 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #BC5C2E 0%, #E68656 80%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BC5C2E), color-stop(80%,#E68656)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #BC5C2E 0%,#E68656 80%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #BC5C2E 0%,#E68656 80%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #BC5C2E 0%,#E68656 80%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #BC5C2E 0%,#E68656 80%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BC5C2E', endColorstr='#E68656',GradientType=0 ) !important; /* IE6-9 */

    background-clip: border-box;
    background-origin:  border-box !important;
    -moz-background-origin: border !important;
}


.toolbar-btn-placeholder .x-btn-default-small-menu-active,
.toolbar-btn-placeholder .x-btn-default-large-menu-active,
.toolbar-btn-large-placeholder .x-btn-default-large-menu-active {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    -moz-border-radius: 2px;
    background-clip: border-box;
    background-attachment: inherit;
    box-shadow: none;
    -moz-box-shadow:  none;
}

.toolbar-btn-placeholder .x-btn-default-small-over,
.toolbar-btn-placeholder .x-btn-default-large-over,
.toolbar-btn-large-placeholder .x-btn-default-large-over {
    background-image: none;
}

.toolbar-btn-placeholder .x-btn-default-small-disabled,
.toolbar-btn-placeholder .x-btn-default-large-disabled,
.toolbar-btn-large-placeholder .x-btn-default-large-disabled {
    background-image: none !important;
    border-color: transparent !important;
}

.toolbar-btn-placeholder .x-btn-default-small-pressed,
.toolbar-btn-placeholder .x-btn-default-large-pressed,
.toolbar-btn-large-placeholder .x-btn-default-large-pressed {
    box-shadow: none;
    -moz-box-shadow:  none;
}

.toolbar-btn-spacer {
    display: inline-block;
    width: 6px;
}

.replaceme {
    display: block;
}

.x-toolbar-separator.manual {
    display: inline-block;
    position: inherit;
    margin-top: 3px;
    margin-right: 2px;
}

.x-toolbar-separator.manual.long {
    height: 50px;
}

.x-toolbar-separator.manual.short {
    height: 20px;
}

.toolbar-combo-placeholder.x-item-disabled {
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #e2e2e2 5%, #f1f1f1 6%, #ffffff 45%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(5%,#e2e2e2), color-stop(6%,#f1f1f1), color-stop(45%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#e2e2e2 5%,#f1f1f1 6%,#ffffff 45%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#e2e2e2 5%,#f1f1f1 6%,#ffffff 45%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#e2e2e2 5%,#f1f1f1 6%,#ffffff 45%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#e2e2e2 5%,#f1f1f1 6%,#ffffff 45%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow:  0 1px 0 rgba(255, 255, 255, 1);
    border: 1px solid #afafaf;
    font: normal 12px tahoma, arial, verdana, sans-serif;
    padding-left: 3px !important;
}

.toolbar-combo-placeholder .x-form-trigger {
    position: relative;
    float: right;
    top: -1px;
    right: -1px;
}

.storage-combodataview.toolbar-dataview-placeholder  {
    background-image: url('../img/toolbar/themes.png');
    background-repeat: no-repeat;
    background-position: 6px 6px;
}

.toolbar-dataview-placeholder .x-btn-combodataview {
    position: relative !important;
    width: 26px;
    float: right;
    background-color: white !important;
    border-right: solid 4px white !important;
}