.about-dlg {
    .asc-about-office {
        background-repeat: no-repeat;
        .background-ximage('@{common-image-path}/about/OnlyOffice.png', '@{common-image-path}/about/OnlyOffice@2x.png', 420px);

        width: 340px;
        height: 55px;
        margin-bottom: 5px;
    }

    .asc-about-header {
        margin: 0 30px;
        font: 12px Tahoma;
        letter-spacing: 1px;
        color: #666666;
        white-space: nowrap;
    }

    .asc-about-version {
        font: 15px Tahoma;
        color: #b6b6b6;
    }

    .asc-about-companyname {
        font: bold 15px Tahoma;
        color: #333;
    }

    label {
        &.asc-about-desc,
        &.asc-about-desc-name,
        &.asc-about-lic {
            font: 12px Tahoma;
            color: #333;
        }

        &.asc-about-desc-name {
            color: #666666;
            white-space: pre;
        }

        &.asc-about-lic {
            font-weight: bold;
        }

    }

    a {
        font: 12px Tahoma;
        color: #333;
    }

    .separator.horizontal {
        width: 100%;

        &.short {
            width: 220px;

            &.left {
                float: right;
            }
        }
    }

    .padding-small {
        padding-bottom: 10px;
    }

    .padding-large {
        padding-bottom: 40px;
    }

    .margin-bottom {
        margin-bottom: 20px;
    }
}