#chat-box {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    border-collapse: collapse;

    > div {
        display: table-row;

        &:not(:last-child) {
            border-bottom: 1px solid @gray-dark;
        }
    }

    #chat-title {
        label {
            padding: 18px 20px;
            font-size: @font-size-large;
        }
    }

    #chat-users {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 70px;
        padding: 5px 0;
        overflow: hidden;

        .ps-scrollbar-y-rail {
            margin-top: 5px;
            margin-bottom: 5px;
            right: 4px !important;
        }

        ul {
            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                list-style: none;
                padding: 2px 0 3px 20px;
                overflow: hidden;

                &.offline {
                    display: none;
                }
            }
        }

        .color {
            width: 12px;
            height: 12px;
            display: inline-block;
            vertical-align: middle;
            border: 1px solid @gray-dark;
        }

        .name {
            display: block;
            padding-left: 16px;
            margin-top: -1px;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: bold;
            vertical-align: middle;

        }
    }

    #chat-messages {
        position: absolute;
        left: 0;
        top: 70px;
        right: 0;
        bottom: 110px;
        overflow: hidden;

        .ps-scrollbar-y-rail {
            margin-top: 5px;
            margin-bottom: 5px;
            right: 4px !important;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;

                padding: 5px 10px 8px 20px;
                white-space: pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -o-pre-wrap;
                word-wrap: break-word;

                .user {
                    font-weight: bold;
                    white-space: nowrap;
                    .user-select(text);
                }

                .message {
                    word-wrap: break-word;
                    width: 100%;
                   .user-select(text);

                    &.service {
                        text-align: center;
                        color: #CECECE;
                        text-shadow: 0 1px 0 #ffffff;
                        padding-right: 20px;
                    }
                }
            }
        }
    }

    #chat-options {
        height: 110px;

        #chat-options-ct {
            padding: 10px 20px;

            textarea {
                .user-select(text);
                width: 100%;
                height: 62px;
                resize: none;
                margin-bottom: 5px;
                border: 1px solid @gray-dark;
            }
        }
    }
}