.checkbox-indeterminate {
    padding-left: 22px;
    margin-bottom: 0;
    .font-size-normal();
    font-weight: normal;

    input[type=button] {
        .background-ximage('@{common-image-path}/@{common-controls}', '@{common-image-path}/@{common-controls2x}', 100px);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: @checkbox-offset-x @checkbox-offset-y;
        border: none;
        margin-left: -22px;
        margin-right: 6px;
        padding-bottom: 4px;
        width: 16px;
        height: 16px;
        cursor: default;
        vertical-align: top;
        margin-top: -1px;

        &.checked {
            background-position: @checkbox-offset-x @checkbox-offset-y - 16px;
        }

        &.indeterminate {
            background-position: @checkbox-offset-x @checkbox-offset-y - 48px;
        }

        &.disabled {
            background-position: @checkbox-offset-x - 48px @checkbox-offset-y;

            &.checked {
                background-position: @checkbox-offset-x - 48px @checkbox-offset-y - 16px;
            }

            &.indeterminate {
                background-position: @checkbox-offset-x - 48px @checkbox-offset-y - 48px;
            }
        }
    }
}
