.palette-color {
    .color-item {
        float: left;
        width: 28px;
        height: 28px;
        margin: 1px;

        &:hover,
        &.selected {
            .box-shadow(0 0 0 1px @primary);
        }
    }
}