.combo-border-size {
    .form-control {
        cursor: pointer;
        background-color: white;

        &.text {
            background: white;
            vertical-align: bottom;
        }

        &.image {
            background: ~"url('@{common-image-path}/combo-border-size/BorderSize.png') no-repeat scroll 0 0, white";
        }
    }

    li {
        a {
            white-space: normal;
        }

        span {
            display: inline-block;
            margin-top: 3px;
            font-size: 11px;
            height: 17px;
        }

        img {
            width:69px;
            height:20px;
            background: ~"url('@{common-image-path}/combo-border-size/BorderSize.png')  0 0";
        }
    }
}

.combo-border-size-editable {
    li {
        a {
            white-space: normal;
        }

        span {
            display: inline-block;
            margin-top: 3px;
            font-size: 11px;
            height: 17px;
        }

        img {
            width:69px;
            height:20px;
            background: ~"url('@{common-image-path}/combo-border-size/BorderSize.png')  0 0";
        }
    }
}