label {
    &.link {
        border-bottom: 1px dotted #aaa;
        cursor: pointer;

        &.disabled {
            cursor: default;
        }
    }

    &.disabled {
        opacity: 0.5;
    }
}

.menu-shapes .dataview {
    > div:not(.grouped-data):not(.ps-scrollbar-x-rail):not(.ps-scrollbar-y-rail) {
        .box-shadow(none);
    }
}

.combobox.fonts {
    > .dropdown-menu {
        max-height: 388px;
    }
}