.listview {
  border: 1px solid @input-border;

  &.inner {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;

    .empty-text {
        text-align: center;
        height: 100%;
        margin: 0 10px;
        color: #b2b2b2;
    }
  }

  & > div:not(.ps-scrollbar-x-rail):not(.ps-scrollbar-y-rail) {
    display: block;
    text-overflow: ellipsis;
    padding: 3px 6px;
    cursor: pointer;
    white-space: pre-wrap;

    background-color: @list-group-bg;
    border-color: @list-group-border;
    border-style: solid;
    border-width: 1px 0;
    border-top-color: #fafafa;

    &:hover {
        background-color: @secondary;
        border-color: @secondary;
        border-style: solid;
        border-width: 1px 0;
    }

    &.selected {
        background-color: @primary;
        color: #ffffff;
        border-color: @primary;
        border-style: solid;
        border-width: 1px 0;
    }
  }

  &.ps-container {
      overflow: hidden;
  }
}