<div id="chat-box">
    <div id="chat-users">
        <div id="chat-user-ct"></div>
    </div>
    <div id="chat-messages">
        <div id="chat-message-ct"></div>
    </div>
    <div id="chat-options">
        <div id="chat-options-ct">
            <textarea id="chat-msg-text"></textarea>
            <button id="chat-msg-btn-add" class="btn normal dlg-btn primary"><%=scope.textSend%></button>
        </div>
    </div>
</div>