
.x-msgbox {
  @include background-gradient($base-color, color_stops(darken($base-color, 20%), darken($base-color, 40%) 10%, darken($base-color, 40%)));

  .x-toolbar {
    &.x-docked-bottom .x-button .x-button-label {
      font-size: .9em;
      line-height: 2em;
    }
  }

  .x-title {
    font-size: 1em;
    line-height: 1.4em;
    color: #ffffff;
    @include bevel-by-background($sheet-bg-color);
  }
}