<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <clear />

  <add key="filesize-max" value="5242880"/>
  <add key="storage-path" value=""/>

  <add key="files.docservice.viewed-docs" value=".ppt|.pps|.odp|.pdf|.djvu|.fb2|.epub|.xps"/>
  <add key="files.docservice.edited-docs" value=".docx|.doc|.odt|.xlsx|.xls|.ods|.csv|.pptx|.ppsx|.rtf|.txt|.mht|.html|.htm"/>
  <add key="files.docservice.convert-docs" value=".doc|.odt|.xls|.ods|.ppt|.pps|.odp|.rtf|.mht|.html|.htm|.fb2|.epub"/>
  <add key="files.docservice.timeout" value="120000" />

  <add key="files.docservice.tenantid" value="_ContactUs_"/>
  <add key="files.docservice.key" value="_ContactUs_"/>
  <add key="files.docservice.url.storage" value="https://doc.teamlab.com/FileUploader.ashx"/>
  <add key="files.docservice.url.converter" value="https://doc.teamlab.com/ConvertService.ashx"/>
  <add key="files.docservice.url.api" value="https://doc.teamlab.com/OfficeWeb/apps/api/documents/api.js"/>
  <add key="files.docservice.url.preloader" value="https://doc.teamlab.com/OfficeWeb/apps/api/documents/cache-scripts.html"/>
</appSettings>