.inputStyle{
	font-size:11pt;
}
.hidden{
	display:none;
}
 .lineSpacingSelect:hover {
    background-color: #2177CD; /* Рамка при наведении на ссылку курсора мыши */
}
 .lineSpacingSelect
 {
	font-size:10pt;
	padding:3px;	
}
.lineMainSelect:hover {
    background-color: #2177CD; /* Рамка при наведении на ссылку курсора мыши */
}
 .lineMainSelect
 {
	font-size:10pt;
	padding:3px;	
}
.lineMainSelect1:hover {
    background-color: #2177CD; /* Рамка при наведении на ссылку курсора мыши */
}
 .lineMainSelect1
 {
	font-size:10pt;
	padding:3px;	
}
.paletteCellHover .colorWatch{border:1px solid #FFFFFF;width:16px;height:16px;}
.colorWatch {
	height:18px;
	width:18px;
	border-bottom-color:#FFFF00;
}
.bordered {border:1px solid #666666;}
.bg_fill {
	background-position:-544px 50%;
	height:14px;
	width:16px;
}
body { margin: 0; padding: 0; vertical-align:top; overflow:hidden;-moz-user-select: none; -khtml-user-select: none; user-select: none;background-color: #EEEEEE}
div, table, tbody, tr, th, td, form {
	margin:0;
	padding:0;
	vertical-align:top;
}
#doc-edit {
	background-color:#EEF0F2;
}
#blockUI{display: none; position:absolute; left:0px; top:0px; margin:0; padding:0; z-index:200; background-color:#000000; border:medium none; cursor:wait; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity:0.6; opacity:0.6; }
table {
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
	table-layout:fixed;
}
.options{position: absolute; z-index: 3; background:none repeat scroll 0 0 #FFFFFF;border-color:#FFF #666666 #666666 #A8A8A8;border-style: none solid solid solid;border-width:1px;}

.MenuSeparator
{
	border-top: 1px solid #CCCCCC;
	margin: 4px 0;
	padding: 0;
	
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.buttonMaket
{
	height:80px;
	width:80px;
	
}
.opacitBack
{
	background: #b2b2b2; opacity:0.55;
}
.dragBorder
{
	border: 2px dotted #CCCCCC;
}